<button class="btn scroll-to-top" *ngIf="isButtonVisible" (click)="scrollToTop()">
  <i class="fa fa-arrow-up"></i> <!-- You can use any icon library or custom icon -->
</button>

<!-- Navbar Start -->
<div class="navbar-div sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img class="img-fluid" width="45" src="../../assets/images/site_logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center align-items-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">{{'home' | translate}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/gyati-sambandhit']">{{'gyatin_sambandhit' | translate}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/mandir-sambandhit']">{{'mandir_sambandhit' | translate}}</a>
        </li>        
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'trust' | translate}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">{{'shree_nandikeshwar_mahadev_trust' | translate}}</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">{{'shree_nandikeshwar_charitable_trust' | translate}}</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-rang-vatika-trusts']">{{'shree_rang_vatika_trust' | translate}}</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'mandal' | translate}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-pragati-mandal']">{{'nondera_pragati_mandal' | translate}}</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-mahila-mandal']">{{'mahila_mandal' | translate}}</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'gallery' | translate}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/audio']">{{'audio_gallery' | translate}}</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/video']">{{'video_gallery' | translate}}</a>
            <a class="dropdown-item mb-2" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/photo']">{{'photo_gallery' | translate}}</a>
            <a class="dropdown-item nearest-places pt-2" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/nearest-places']">{{'najik_na_aakarshno' | translate}}</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/donation']">{{'daan' | translate}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']">{{'contact' | translate}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-list']">{{'user_list' | translate}}</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-profile']">Profile</a>
        </li> -->
      </ul>
      <div class="buttons d-flex flex-column flex-lg-row flex-fill">
        <div class="language-dropdown">
          <select (change)="changeLanguage($event)" class="form-control bootstrap-select text-center" aria-label="Default select example">
            <option class="option-class" value="guj" selected>ગુજરાતી</option>
            <option class="option-class" value="eng">English</option>
          </select>
        </div>
        <div class="text-center">
          <button *ngIf="!isLogedIn" [routerLink]="['/auth/login']"class="btn loginButton">Log In</button>
          <button *ngIf="isLogedIn" (click)="logout()" [routerLink]="['/home']" class="btn logoutButton">Log Out</button>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->

<!-- Content Start -->
<div class="routeing-div">
  <router-outlet></router-outlet>
</div>
<!-- Content End -->

<!-- <hr class="common-hr"> -->

<!-- Footer Start -->
<footer>
  <div class="container-fluid footer-div py-3">
    <div class="row py-3 content-div w-100"> 

      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-4 mt-lg-2">
        <div class="mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-5">
          <h2 class="footer-titles font-weight-bold"><i class="fa fa-location-dot icon mr-3"></i>{{'address' | translate}}</h2>
          <p>{{'address_line_1' | translate}}</p>
          <p>{{'address_line_2' | translate}}</p>
          <p>{{'address_line_3' | translate}}</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-4 mt-lg-2">
        <div class="time mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-0">
          <h2 class="footer-titles font-weight-bold"><i class="fa-solid fa-hands-praying mr-3"></i>{{'darshan' | translate}}</h2>
            <table>
              <tr style="vertical-align: top;">
                <td><p>{{'mahadevji' | translate}}</p></td>
                <td>
                  <p>&nbsp;: {{'mahadevji_darshan_time' | translate}}</p>
                </td>
              </tr>
              <tr style="vertical-align: top;">
                <td><p>{{'mataji' | translate}}</p></td>
                <td>
                  <p>&nbsp;: {{'mataji_darshan_time_1' | translate}}</p>
                  <p>&nbsp;: {{'mataji_darshan_time_2' | translate}}</p>
                </td>
              </tr>
            </table>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-4 mt-lg-2">
        <div class="mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-4">
          <h2 class="footer-titles font-weight-bold"><img src="../../assets/images/footer-aarti-thal-icon-light-blue.png" width="40" alt="">{{'aarti_thal' | translate}}</h2>
            <table>
              <tr style="vertical-align: top;">
                <td><p>{{'aarti' | translate}}</p></td>
                <td>
                  <p>&nbsp; &nbsp;: {{'aarti_time_1' | translate}}</p>
                  <p>&nbsp; &nbsp;: {{'aarti_time_2' | translate}}</p>
                </td>
              </tr>
              <tr style="vertical-align: top;">
                <td><p>{{'thal' | translate}}</p></td>
                <td>
                  <p>&nbsp; &nbsp;: {{'thal_time' | translate}}</p>
                </td>
              </tr>
            </table>
        </div>
      </div>
      <div class="col-12 mt-4 mt-md-4 mt-lg-5">
        <h2 class="footer-titles font-weight-bold"><i class="fa fa-paperclip mr-3"></i>{{'links' | translate}}</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a class="p-0 btn text-left" [routerLink]="['/home']">{{'home' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/gyati-sambandhit']">{{'gyatin_sambandhit' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/mandir-sambandhit']">{{'mandir_sambandhit' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">{{'shree_nandikeshwar_mahadev_trust' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">{{'shree_nandikeshwar_charitable_trust' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/shree-rang-vatika-trusts']">{{'shree_rang_vatika_trust' | translate}}</a><br>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a class="p-0 btn text-left" [routerLink]="['/shree-nondera-pragati-mandal']">{{'nondera_pragati_mandal' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/shree-nondera-mahila-mandal']">{{'mahila_mandal' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/audio']">{{'audio_gallery' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/video']">{{'video_gallery' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/photo']">{{'photo_gallery' | translate}}</a><br>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a class="p-0 btn text-left" [routerLink]="['/nearest-places']">{{'najik_na_aakarshno' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/donation']">{{'daan' | translate}}</a><br>
        <a class="p-0 btn text-left" [routerLink]="['/contact']">{{'contact' | translate}}</a><br>
      </div>

    </div>

    <div class="d-flex flex-column flex-sm-column flex-lg-row justify-content-center justify-content-sm-center justify-content-sm-between align-items-center mt-2">
      <div>
        <h3 class="mt-1"><b> Copyright <i class="fa-solid fa-copyright ml-3"></i> 2023 Nondera parivaar (All rights reserved) </b> </h3>
      </div>

      <div>
        <ul class="social list-inline mt-1">
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.facebook.com/NandikeshwarMahadev" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.instagram.com/jaynandikeshwar/" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.youtube.com/@jaynandikeshwar" target="_blank" title="youtube"><i class="fa fa-youtube-play"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
<!-- Footer End -->
