$light-blue : #C9C9FD;

.btn{
  box-shadow: none;
  outline: none;
}

.bootstrap-select{
  background-color: transparent;
  color: white;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: large;
  padding: 0.2rem;
}

.option-class{
  background-color: rgb(139, 139, 171);
  color: rgb(51, 51, 79);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.common-hr{
  border-top: 3.5px solid rgb(51, 51, 79);
  margin: 50px 60px;
}

h1{
  font-size: 30px;
}

.navbar-toggler
{
  border: none;
}

footer{
  color: $light-blue;
  // background-image: url(../../assets/images/footer-background.png);
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // color: rgb(51, 51, 79);
  background-color: rgb(51, 51, 79);
  margin-top: 100px;
  // background-blend-mode: initial;
}

.button-div{
  button{
    background-color: white;
    border: none;
    color: rgb(51, 51, 79);
  }
}

.social{
  li{
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    border: 3px solid $light-blue;
    border-radius: 5px;
    padding: 7px 2px 0 2px;

    .social-media-icon{
      color: $light-blue;
      font-size: xx-large;
    }
  }
}

.footer-icons{
  padding-right: 10px;
}


.navbar-div{
  background-color: rgb(51, 51, 79);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1059;
}

.routeing-div{
  margin-top: 77px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.nav-link{
  padding: 0 0.25rem !important;
}

.nav-item{
  a{
    color: white;
    font-size: large;
  }
  a:hover{
    color: rgb(139, 139, 171);
  }

  .dropdown-menu{
    background-color: rgb(139, 139, 171);
    a{
      color: rgb(51, 51, 79);
    }
    .dropdown-item:hover{
      background-color: transparent;
      color: white;
    }
  }
}

.liveButton{
  color: white;
  border: 0;
  letter-spacing: 1px;
  margin-right: 20px;
}

.loginButton, .logoutButton{
  background-color: white;
  border: 0;
  font-weight: 600;
  color: rgb(51, 51, 79);
  letter-spacing: 1px;
}

.linkes{
  border-left: 2px solid $light-blue;
  a{
    color: $light-blue;
    text-decoration: none;
  }
}

footer{
  .footer-titles{
    font-size: 20px;
  }

  p,a{
    font-size: 18px;
  }

  .content-div{
    border-bottom: 2px solid $light-blue;
  }
}

// .time{
//   margin-top: 32px;
// }

@media (min-width: 0px) and (max-width: 991.98px) {

  h1{
    font-size: 25px;
  }

  .nav-item{
    margin: 10px;
  }

  .buttons{
    justify-content: center !important;
  }

  .footer-div{

    .content-div{
    padding: 0 0 0 25px;
    }
  }

  .linkes{
    border: 0;
  }
}

@media (min-width: 992px){
  .nav-item{
    margin: 0 7px;
  }
  .buttons{
    justify-content: end !important;
    margin-right: 46px;
  }

  .footer-div{
    padding: 0 0 0 75px;
  }

  .social{
    margin-right: 60px;
  }

  .language-dropdown{
    margin-right: 20px;
  }
}



.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: white;
  border: 2px solid rgb(51, 51, 79);
  color: rgb(51, 51, 79);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: rgba($color: rgb(51, 51, 79), $alpha: 1.0);
  color: white;
  border: 2px solid white;
}
