<!-- Navbar Start -->
<div class="navbar-div">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img class="img-fluid" width="45" src="../../assets/images/site_logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મુખ પૃષ્ઠ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/gyati-sambandhit']">જ્ઞાતિ સંબંધિત</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/mandir-sambandhit']">મંદિર સંબંધિત</a>
        </li>        
        <!-- <li class="nav-item" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-list']">User list</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ટ્રસ્ટ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</a>
            <!-- <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/trusts']">શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">મંડળ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-pragati-mandal']">નૉંદેરા પ્રગતિ મંડળ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-mahila-mandal']">મહિલા મંડળ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ગેલેરી</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/audio']">ઓડિયો ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/video']">વિડિઓ ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/photo']">ફોટો ગેલેરી</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/donation']">સાત્વિક દાન</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']">સંપર્ક</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-profile']">પ્રોફાઈલ</a>
        </li> -->
        <li class="nav-item" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-list']">જ્ઞાતિબંધુ માટે</a>
        </li>
      </ul>
      <div class="buttons d-flex flex-column flex-lg-row flex-fill">
        <div class="language-dropdown">
          <select (change)="changeLanguage($event)" class="form-control bootstrap-select" aria-label="Default select example">
            <option class="option-class" value="guj" selected>ગુજરાતી</option>
            <option class="option-class" value="eng">English</option>
          </select>
        </div>
        <div>
          <button *ngIf="!isLogedIn" [routerLink]="['/auth/login']"class="btn loginButton">Log In</button>
          <button *ngIf="isLogedIn" (click)="logout()" [routerLink]="['/home']" class="btn logoutButton">Log Out</button>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->

<!-- Content Start -->
<div class="routeing-div">
  <router-outlet></router-outlet>
</div>
<!-- Content End -->

<hr class="common-hr">

<!-- Footer Start -->
<footer>
  <div class="container-fluid footer-div py-3">
    <div class="row py-3 content-div w-100">
      
      

      <!-- <div class="col-12 col-lg-1 m-0 p-0">
      </div> -->

      <div class="col-12 col-md-6 col-lg-7 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-12 col-md-12 col-lg-6 m-0 p-0">
              <div class="mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-5">
                <h2 class="footer-titles font-weight-bold"><i class="fa fa-location-dot icon mr-3"></i>સરનામું</h2>
                <p>શ્રી નંદિકેશ્વર મહાદેવ મંદિર</p>
                <p>જીતનગર, રાજપીપળા - ૩૯૩૧૫૫,</p>
                <p>ગુજરાત, ભારત.</p>
              </div>
            <!-- <div class="mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-0">
              <h2 class="footer-titles font-weight-bold"><i class="fa fa-phone mr-3"></i>સંપર્ક</h2>
              <table>
                <tr>
                  <td><p>વ્યક્તિ</p></td>
                  <td><p>&nbsp; &nbsp;: વિરલ દવે</p></td>
                </tr>
                <tr>
                  <td><p>ફોન</p></td>
                  <td><p>&nbsp; &nbsp;: +૯૧-૨૬૪૦ ૨૫૧૦૫૬</p></td>
                </tr>
                <tr style="vertical-align: top;">
                  <td><p>મોબાઈલ</p></td>
                  <td>
                    <p>&nbsp; &nbsp;: +૯૧-૯૪૨૭૧ ૩૧૦૫૬</p>
                    <p>&nbsp; &nbsp;: +૯૧-૯૮૭૯૮ ૯૮૨૧૧</p>
                  </td>
                </tr>
              </table>
            </div> -->
            </div>
            <div class="col-12 col-md-12 col-lg-6 m-0 p-0">
              <div class="mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-4">
                <h2 class="footer-titles font-weight-bold"><img src="../../assets/images/footer-aarti-thal-icon.png" width="40" alt=""> આરતી અને થાળ નો સમય</h2>
                  <table>
                    <tr style="vertical-align: top;">
                      <td><p>આરતી</p></td>
                      <td>
                        <p>&nbsp; &nbsp;: સવારે ૬:૦૦ કલાકે</p>
                        <p>&nbsp; &nbsp;: સાંજે ૭:૦૦ કલાકે</p>
                      </td>
                    </tr>
                    <tr style="vertical-align: top;">
                      <td><p>થાળ</p></td>
                      <td>
                        <p>&nbsp; &nbsp;: બપોરે ૧૨:૩૦ કલાકે</p>
                      </td>
                    </tr>
                  </table>
              </div>
            </div>
    
          
        </div>

        <div class="row m-0 p-0">
          <div class="col-12 p-0">
            <div class="time mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-0">
              <h2 class="footer-titles font-weight-bold"><i class="fa-solid fa-hands-praying mr-3"></i>દર્શન નો સમય</h2>
                <table>
                  <tr style="vertical-align: top;">
                    <td><p>મહાદેવજી</p></td>
                    <td>
                      <p>&nbsp;: સવારે ૬:૦૦ કલાક થી રાત્રી ના ૯:૦૦ કલાક સુધી</p>
                    </td>
                  </tr>
                  <tr style="vertical-align: top;">
                    <td><p>માતાજી</p></td>
                    <td>
                      <p>&nbsp;: સવારે ૬:૦૦ કલાક થી બપોર ના ૧:૦૦ કલાક સુધી</p>
                      <p>&nbsp;: બપોરે ૨:૩૦ કલાક થી રાત્રી ના ૯:૦૦ કલાક સુધી</p>
                    </td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 m-0 p-0">
        <div class="linkes mb-4 mb-sm-4 mb-md-0 mb-lg-0 mb-xl-0">
          <h2 class="footer-titles text-lg-center font-weight-bold"><i class="fa fa-paperclip mr-3"></i>સંબંધિત લિંક્સ</h2>
          <div class="row">
            <div class="col-12 col-lg-6">
              <a class="ml-lg-5 btn" [routerLink]="['/home']">મુખ પૃષ્ઠ</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/home']">જ્ઞાતિ સંબંધિત</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/home']">મંદિર સંબંધિત</a><br>
              <!-- <a class="btn"><u>ટ્રસ્ટ</u></a><br> -->
              <a class="ml-lg-5 btn" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</a><br>
              <!-- <a class="btn"><u>મંડળ</u></a><br> -->
              <a class="ml-lg-5 btn" [routerLink]="['/shree-nondera-pragati-mandal']">નૉંદેરા પ્રગતિ મંડળ</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/shree-nondera-mahila-mandal']">મહિલા મંડળ</a><br>
            </div>
            <div class="col-12 col-lg-6">
              <!-- <a class="btn"><u>ગેલેરી</u></a><br> -->
              <a class="ml-lg-5 btn" [routerLink]="['/audio']">ઓડિયો ગેલેરી</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/video']">વિડિઓ ગેલેરી</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/photo']">ફોટો ગેલેરી</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/donation']">સાત્વિક દાન</a><br>
              <a class="ml-lg-5 btn" [routerLink]="['/contact']">સંપર્ક</a><br>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- <hr> -->

    <div class="d-flex flex-column flex-sm-column flex-lg-row justify-content-center justify-content-sm-center justify-content-sm-between align-items-center mt-2">
      <div>
        <h3 class="mt-1"><b> Copyright <i class="fa-solid fa-copyright ml-3"></i> 2023 Nondera parivaar (All rights reserved) </b> </h3>
      </div>

      <div>
        <ul class="social list-inline mt-1">
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.facebook.com/people/Shree-Nandikeshwar-Mahadev-Jitnagar/100094979943244/" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.youtube.com/channel/UC3Wch8bCwuzn3UA8Cu6S9EQ" target="_blank" title="youtube"><i class="fa fa-youtube-play"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
<!-- Footer End -->
