$gray-color-shade : #dedcdc;
$white-color-shade : whitesmoke;
$dark-gray-color-shade : #5b5b5b;

.mat-expansion-panel-header:not([aria-disabled=true]) {
  padding: 17px;
}

.expansion-title{
  padding: 0;
}

mat-toolbar {
  background: $dark-gray-color-shade;
  color: $gray-color-shade;
  height: 45px;
}

mat-sidenav {
  width: 250px;
  border-right: none;
  background: $dark-gray-color-shade;
  color: $gray-color-shade;
  text-align: center;
}
mat-expansion-panel{
  border: 0;
  box-shadow: none !important;
  background: $dark-gray-color-shade;
  color: $gray-color-shade;
}

mat-panel-title{
  color: $gray-color-shade;
}

.content {
  overflow: auto;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 3%;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}