$gray-color-shade : #cdd7d6;
$orange-gray-color-shade : #f87060;
$gray-font-color : #909090;

.mat-expansion-panel-header:not([aria-disabled=true]){
  padding: 0;
}

.mat-expansion-indicator::after {
  height: 1px;
  width: 10px;
}


.loginButton{
  padding: 30px 0px;
}

.expansion-title{
  padding: 0;
}

mat-toolbar {
  background: $orange-gray-color-shade;
  color: whitesmoke;
  height: 45px;
}

mat-sidenav {
  width: 250px;
  border-right: none;
  // background: $gray-color-shade;
  background: white;
  color:$gray-font-color;
  text-align: center;
}
mat-expansion-panel{
  border: 0;
  box-shadow: none !important;
  // background: $gray-color-shade;
  background: white;
  color: $gray-font-color;
}

mat-panel-title{
  color: $gray-font-color;
}

.content {
  overflow: auto;
  margin: 2%;
  // border-radius: 20px;
  // background-color: white;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  // padding: 3%;
}

mat-sidenav-container {
  background-color: white;
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}