<!-- Navbar Start -->
<div class="navbar-div">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મુખ પૃષ્ઠ</a>
        </li>
        <li class="nav-item" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-list']">User list</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ટ્રસ્ટ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</a>
            <!-- <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/trusts']">શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">મંડળ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-pragati-mandal']">શ્રી નૉંદેરા પ્રગતિ મંડળ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-mahila-mandal']">શ્રી મહિલા મંડળ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ગેલેરી</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/audio']">ઓડિયો ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/video']">વિડિઓ ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/photo']">ફોટો ગેલેરી</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/donation']">દાન-દક્ષિણા</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']">સંપર્ક</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">લાઈવ દર્શન</a>
        </li>
        <li class="nav-item" *ngIf="isLogedIn">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/user-profile']">પ્રોફાઈલ</a>
        </li>
      </ul>
      <div class="buttons d-flex flex-fill">
        <button *ngIf="!isLogedIn" [routerLink]="['/auth/login']"class="btn loginButton">Log In</button>
        <button *ngIf="isLogedIn" (click)="logout()" [routerLink]="['/home']" class="btn logoutButton">Log Out</button>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->

<!-- Content Start -->
<div class="routeing-div">
  <router-outlet></router-outlet>
</div>
<!-- Content End -->

<!-- Footer Start -->
<footer>
  <div class="container-fluid py-3">
    <div class="row py-3">
      <!-- <div class="col-12 text-center mb-5"><h1>નોંદેરા પરીવાર</h1></div> -->
      
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-0 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
        <div class="mb-4 mb-sm-4 mb-md-5 mb-lg-5 mb-xl-5">
          <h2><i class="fa fa-location-dot icon mr-3"></i>સરનામું</h2>
          <p>શ્રી નંદિકેશ્વર મહાદેવ મંદિર</p>
          <p>જીતનગર, રાજપીપળા - ૩૯૩૧૫૫,</p>
          <p>ગુજરાત, ભારત.</p>
        </div>
        <div class="mb-4 mb-sm-4 mb-md-5 mb-lg-5 mb-xl-5">
          <h2><i class="fa fa-phone mr-3"></i>સંપર્ક</h2>
          <table>
            <tr>
              <td>વ્યક્તિ</td>
              <td> : વિરલ દવે</td>
            </tr>
            <tr>
              <td>ફોન</td>
              <td> : +૯૧ ૨૬૪૦ ૨૫૧૦૫૬
              </td>
            </tr>
            <tr style="vertical-align: top;">
              <td>મોબાઈલ</td>
              <td>
                <p> : +૯૧ ૯૪૨૭૧ ૩૧૦૫૬</p>
                <p> : +૯૧ ૯૮૭૯૮ ૯૮૨૧૧</p>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-0 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
        <div class="mb-4 mb-sm-4 mb-md-5 mb-lg-5 mb-xl-5">
          <h2>આરતી અને ભોગ નો સમય</h2>
            <table>
              <tr style="vertical-align: top;">
                <td>આરતી</td>
                <td>
                  <p> : સવારે ૬:૦૦ કલાકે</p>
                  <p> : સાંજે ૭:૦૦ કલાકે</p>
                </td>
              </tr>
              <tr style="vertical-align: top;">
                <td>ભોગ</td>
                <td>
                  <p> : બપોરે ૧૨:૩૦ કલાકે</p>
                </td>
              </tr>
            </table>
        </div>
        <div class="mb-4 mb-sm-4 mb-md-5 mb-lg-5 mb-xl-5">
          <h2><i class="fa-solid fa-hands-praying mr-3"></i>દર્શન નો સમય</h2>
            <table>
              <tr style="vertical-align: top;">
                <td>મહાદેવજી</td>
                <td>
                  <p> : સવારે ૬:૦૦ કલાક થી રાત્રી ના ૯:૦૦ કલાક સુધી</p>
                </td>
              </tr>
              <tr style="vertical-align: top;">
                <td>માતાજી</td>
                <td>
                  <p> : સવારે ૬:૦૦ કલાક થી બપોર ના ૧:૦૦ કલાક સુધી</p>
                  <p> : બપોરે ૨:૩૦ કલાક થી રાત્રી ના ૯:૦૦ કલાક સુધી</p>
                </td>
              </tr>
            </table>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-0 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0">
        <div class="mb-4 mb-sm-4 mb-md-5 mb-lg-5 mb-xl-5">
          <h2><i class="fa fa-paperclip mr-3"></i>સંબંધિત લિંક્સ</h2>
          <a class="btn text-light" [routerLink]="['/home']">મુખ પૃષ્ઠ</a><br>
          <a class="btn text-light" [routerLink]="['/trusts']">ટ્રસ્ટ</a><br>
          <a class="btn text-light" [routerLink]="['/mandal']">મંડળ</a><br>
          <a class="btn text-light" [routerLink]="['/audio']">ગેલેરી</a><br>
          <a class="btn text-light" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a><br>
          <a class="btn text-light" [routerLink]="['/donation']">દાન-દક્ષિણા</a><br>
          <a class="btn text-light" [routerLink]="['/contact']">સંપર્ક</a><br>
        </div>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mt-3">
        <h3 class="mt-4"><i class="fa-solid fa-copyright ml-3"></i> Copyright : nonderaparivaar.in</h3>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center mt-3">
        <ul class="social list-inline mt-4">
          <li class="list-inline-item">
            <a class="social-media-icon" href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-media-icon" href="https://www.youtube.com/watch?v=9K_vMgQef78" target="_blank" title="youtube"><i class="fa fa-youtube-play"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
<!-- Footer End -->
