$dark-blue : #33334f;
$light-blue : #C9C9FD;

.title-quote{
    background-color: rgba($color: $dark-blue, $alpha: 0.3);
    padding: 30px;

    h1{
        color: $dark-blue;
        font-weight: 600;
        padding: 0;
        margin: 0;
        line-height: 40px;
    }
}

.form-div{
  .row{
    .col-12, .col-lg-6{
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}


.background{
    background-color: black;
    // min-height: 200px;
    background-size: 100% 100%;
  
    .other{
      h2{
        font-size: 30px;
      }
  
      .second-shlok{
        margin-top: 60px;
      }
    }
  }

  .title-tag-div{
    h1{
      background-color: $light-blue;
      color: $dark-blue;
      padding: 15px 25px;
      border-radius: 20px;
    }
  }
  
  .title{
    background-color: rgba($color: $dark-blue, $alpha: 0.4);
    padding: 7px;
    margin: 30px 53px;
    h2{
      padding: 0;
      margin: 0;
      font-size: 18px;
      color: $dark-blue;
    }
}

.row>*{
  margin: 20px 0px;
}

.check-box-div{
  padding-left: 35px !important;
}

label.radio-button-main-label{
  font-size: 18px;
}
label.radio-button-label{
  font-size: 17px;
}


.slider{
    background-color: $dark-blue;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

@media (min-width: 0px) and (max-width: 991.98px) {
  .background{
      .other{
        h2{
          font-size: 20px;
        }
      }
  }

  .combine-form-div{
    padding: 0 25px;

    .first-form, .second-form{
      width: 100%;
      margin: 50px 0;
      background-color: rgba($color: $light-blue, $alpha: 0.3);
      .trust-header{
        padding: 10px 0;
        background-color: $dark-blue;
        text-align: center;
        margin: 0 0 20px 0;
        h1{
          color: white;
        }
      }

      .qr-code-div{
        text-align: center;
      }

      .form-div{
        margin: 0 30px;
      }
    }

    .form-control{
      margin: 15px 0;
    }
  }
}

@media (min-width: 992px) {
    .slider{
        padding: 0 60px;
    }

    .combine-form-div{
      padding: 0 60px;

      .first-form, .second-form{
        width: 45%;
        background-color: rgba($color: $light-blue, $alpha: 0.3);
        .trust-header{
          padding: 10px 0;
          background-color: $dark-blue;
          text-align: center;
          margin: 0 0 20px 0;
          h1{
            color: white;
          }
        }

        .qr-code-div{
          text-align: center;
        }

        .form-div{
          margin: 0 30px;
        }
      }

      .form-control{
        margin: 15px 0;
      }
    }
}