$dark-blue : #33334f;
$light-blue : #C9C9FD;

.title-quote{
    background-color: rgba($color: $dark-blue, $alpha: 0.3);
    padding: 30px;

    h1{
        color: $dark-blue;
        font-weight: 600;
        padding: 0;
        margin: 0;
        line-height: 40px;
    }
}

.background{
  background-color: black;
  min-height: 400px;
  background-size: cover;
}


.background{
    // background-color: black;
    // min-height: 400px;
    // background-size: 100% 100%;
  
    .other{
      h2{
        font-size: 30px;
      }

      h2.meaning{
        font-size: 25px;
      }
  
      .second-shlok{
        margin-top: 60px;
      }
    }
  }

  .title-tag-div{
    h1{
      background-color: $light-blue;
      color: $dark-blue;
      padding: 15px 25px;
      border-radius: 20px;
    }
  }
  
  .title{
    background-color: rgba($color: $dark-blue, $alpha: 0.4);
    padding: 7px;
    margin: 30px 53px;
    h2{
      padding: 0;
      margin: 0;
      font-size: 18px;
      color: $dark-blue;
    }
}

.row>*{
  margin: 20px 0px;
}

.check-box-div{
  padding-left: 19px !important;

}

label.radio-button-main-label{
  font-size: 18px;
}
label.radio-button-label{
  font-size: 17px;
}

.slider {
	color: #33334f;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	background-color: rgba(201, 201, 253, 0.35);
}

.line-with-text {
  position: relative;
  margin: 20px 0;
}

.line-with-text hr {
  margin: 0;
  border-top: 2px solid $dark-blue;
}

.line-with-text span {
  position: absolute;
  top: -0.7em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #efeffe;
  padding: 0 5px;
}

@media (min-width: 0px) and (max-width: 991.98px) {
  .background{
    padding-top: 25px;
    .other{
      padding: 25px;
      .shlok{
        font-size: 22px;
      }
      .shlok-meaning{
        max-width: 630px;
        font-size: 20px;
      }

      .shlok-reference{
        font-size: 15px;
      }
      h4{
        line-height: 30px;
      }
    }
  }

  .combine-form-div{
    padding: 0 25px;

    .first-form, .second-form{
      width: 100%;
      margin: 50px 0;
      background-color: rgba($color: $light-blue, $alpha: 0.3);
      .trust-header{
        padding: 10px 0;
        background-color: $dark-blue;
        text-align: center;
        margin: 0 0 20px 0;
        h1{
          color: white;
        }
      }

      .qr-code-div{
        text-align: center;
        padding: 20px;
      }

      .form-div{
        margin: 0 30px;
      }
    }

    .form-control{
      margin: 15px 0;
    }
  }
}

@media (min-width: 992px) {

  .background{
    padding-top: 25px;
    .other{
      .shlok{
        font-size: 25px;
      }
      .shlok-meaning{
        max-width: 560px;
        font-size: 22px;
      }

      .shlok-reference{
        font-size: 17px;
      }
      h4{
        line-height: 30px;
      }
    }
  }
    .slider{
        padding: 0 60px;
    }

    .combine-form-div{
      padding: 0 60px;

      .first-form, .second-form{
        width: 45%;
        background-color: rgba($color: $light-blue, $alpha: 0.3);
        .trust-header{
          padding: 10px 0;
          background-color: $dark-blue;
          text-align: center;
          margin: 0;
          h1{
            color: white;
          }
        }

        .qr-code-div{
          text-align: center;
          padding: 20px;
        }

        .form-div{
          margin: 0 30px;
        }
      }

      .form-control{
        margin: 15px 0;
      }
    }
}