<!-- <div class="background">
  <div class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center">
    <div class="image text-center mt-5 px-2 px-lg-0 w-100">
      <img class="img-fluid" width="310" src="../../../assets/donation/donation_ribbon.png" alt=""><br>
    </div>
    <div class="other text-light p-4 mt-5">
      <h2 class="big-font font-weight-bold text-center">दातव्यमिति यद्दानं दीयतेऽनुपकारिणे !</h2>
      <h2 class="big-font font-weight-bold text-center">देशे काले च पात्रे च तद्दानं सात्त्विकं स्मृतम् !!</h2>
      <h2 class="second-shlok meaning font-weight-bold">ફળની અપેક્ષા રહિત, કર્તવ્ય માનીને, યોગ્ય સમયે, યોગ્ય સ્થાને, અને યોગ્ય પાત્રને આપવામાં આવેલા દાનને સાત્વિક દાન કહેવાય છે.</h2>    
      <div class="d-flex justify-content-end">
        <p class="big-font font-weight-bold mr-4 mt-3" style="font-size: 15px;">(ભગવદ ગીતા: અધ્યાય ૧૭, શ્લોક ૨૦)</p>  
      </div>
    </div>
  </div>
</div> -->

<div class="background">
  <div class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center">
    <div class="image text-center mt-5">
      <img class="img-fluid" width="270" src="../../../assets/donation/donation_ribbon.png" alt=""><br>
    </div>
    <div class="other text-center text-light mt-5">
      <h4 class="shlok font-weight-bold text-center mt-3">दातव्यमिति यद्दानं दीयतेऽनुपकारिणे !</h4>
      <h4 class="shlok font-weight-bold text-center">देशे काले च पात्रे च तद्दानं सात्त्विकं स्मृतम् !!</h4>
      <h4 class="shlok-meaning font-weight-bold text-left">ફળની અપેક્ષા રહિત, કર્તવ્ય માનીને, યોગ્ય સમયે, યોગ્ય સ્થાને, અને યોગ્ય પાત્રને આપવામાં આવેલા દાનને સાત્વિક દાન કહેવાય છે.</h4>
      <h4 class="shlok-reference float-right font-weight-bold text-left mr-3">(ભગવદ ગીતા: અધ્યાય ૧૭, શ્લોક ૨૦)</h4>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0 text-center">{{'daan' | translate}}</h1>
  </div>
</div>

<div class="marquee-container my-5">
  <div class="marquee-content donation-marquee-first">
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;શ્રી નંદિકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો, અને નોંદેરા પરિવાર ની આવતીકાલને વધુ સારી બનાવવા માટે તમારું યોગદાન આપો. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
</div>

<div class="combine-form-div d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between">
  <div class="first-form">
    <div class="trust-header">
      <h1 class="m-0 p-0">
        {{'shree_nandikeshwar_mahadev_trust' | translate}}
      </h1>
    </div>
    <div class="qr-code-div">
      <img class="img-fluid" width="700" src="../../../assets/donation/Shree-Nandikeshwar-Mahadev-Trust.jpg" alt="">
    </div>
    <!-- <div class="line-with-text">
      <hr>
      <span>OR</span>
    </div>
    <div class="form-div">
      <input type="text" class="form-control" placeholder="નામ">
      <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
      <input type="text" class="form-control" placeholder="ઈમેલ">
      <input type="text" class="form-control" placeholder="ફોન નંબર">
      <input type="number" class="form-control" placeholder="Total amount">
      <div class="row m-0 p-o">
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1"checked>
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            જીર્ણોદ્ધાર નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            અખંડ દિવા નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            અખંડ દિવા નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            પૂજા નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            અન્ય
          </label>
        </div>
      </div>
      <textarea class="form-control" rows="3" placeholder="વર્ણન"></textarea>
      <div class="submit-button-div text-center mb-4">
        <button class="btn w-75 btn-success">દાન કરો</button>
      </div>
    </div> -->
  </div>

  <div class="second-form">
    <div class="trust-header">
      <h1 class="m-0 p-0">
        {{'shree_nandikeshwar_charitable_trust' | translate}}
      </h1>
    </div>
    <div class="qr-code-div">
      <img class="img-fluid" width="700" src="../../../assets/donation/Shree-Nandikeshwar-Charitable-Trust.jpg" alt="">
    </div>
    <!-- <div class="line-with-text">
      <hr>
      <span>OR</span>
    </div>
    <div class="form-div">
      <input type="text" class="form-control" placeholder="નામ">
      <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
      <input type="text" class="form-control" placeholder="ઈમેલ">
      <input type="text" class="form-control" placeholder="ફોન નંબર">
      <input type="number" class="form-control" placeholder="Total amount">
      <div class="row m-0 p-o">
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarCheritableTrustRadioButton" id="flexRadioDefault2" checked>
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            આરોગ્યલક્ષી કાર્યો નિમિત્તે  
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarCheritableTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            કેળવણી ને લગતા કાર્યો નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarCheritableTrustRadioButton" id="flexRadioDefault2">
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            સામાજીક તેમજ સાંસ્કૃતિક કાર્યક્રમો નિમિત્તે
          </label>
        </div>
        <div class="check-box-div col-12 col-lg-6">
          <input class="form-check-input" type="radio" name="nandikeshwarCheritableTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            અન્ય
          </label>
        </div>
      </div>
      <textarea class="form-control" rows="3" placeholder="વર્ણન"></textarea>
      <div class="submit-button-div text-center mb-4">
        <button class="btn w-75 btn-success">દાન કરો</button>
      </div>
    </div> -->
  </div>
</div>

<div class="marquee-container my-5">
  <div class="marquee-content donation-marquee-second">
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'donation_bottom_marquee' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
</div>