<div class="background-image-div">
    <div class="text-div">
      <h1 class="text font-weight-bold">દાન-દક્ષિણા</h1>
    </div>
</div>

<div class="title-quote text-center mt-5">
  <h1>શ્રી નંદીકેશ્વર મહાદેવ મંદિરની પ્રવૃત્તિઓનો એક ભાગ બનો અને </h1>
  <h1>આવતીકાલને વધુ સારી બનાવવા માટે અમારું મિશન પાર પાડવામાં મદદ કરો.</h1>
</div>

<div class="donation-form container my-5 rounded py-3">
  <form>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" placeholder="નામ">
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" placeholder="ઈમેલ">
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" placeholder="ફોન નંબર">
      </div>
      <div class="col-sm-12 col-md-6">
        <select class="form-control" id="sel1" name="sellist1">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="number" class="form-control" placeholder="Total amount">
      </div>
      <div class="col-sm-12 col-md-6">
        <textarea class="form-control" rows="2" placeholder="એડ્રેસ"></textarea>
      </div>
      <div class="col-sm-12 col-md-6">
        <textarea class="form-control" rows="2" placeholder="વર્ણન"></textarea>
      </div>
    </div>
    <div class="submit-button text-center my-5">
      <button class="btn btn-success w-25">દાન કરો</button>
    </div>
  </form>
</div>

<div class="slider w-100 mb-5">
  <div class="ticker">
    <div class="news">
      <marquee class="news-content">
        <p class="p-3 m-0">
          Every Good Karma Counts &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; દરેક સારા કર્મની ગણતરી થાય છે
        </p>
      </marquee>
    </div>
  </div>
</div>