<div class="background">
  <div>
    <h2 class="text-light custom-font text-center big-font font-weight-bold m-0">|| ॐ नारायणाय विद्महे वासुदेवाय धीमहि तन्नो विष्णु प्रचोदयात् ||</h2>
  </div>
  <div class="upper-background mt-4 mt-md-0 d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center mt-5 mt-lg-0">
      <img class="img-fluid" width="300" src="../../../../assets/trust-mandal/background_7.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-lg-2">
      <h2 class="big-font font-weight-bold">मंगलम् भगवान विष्णुः, मंगलम् गरूणध्वजः |</h2>
      <h2 class="big-font font-weight-bold">मंगलम् पुण्डरी काक्षः, मंगलाय तनो हरिः ||</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">નોંદેરા પ્રગતિ મંડળ</h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>મંડળ નો ઈતિહાસ:</b></h2>
</div>

<div class="details">
  <h3>
    શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ની સ્થાપના ઈ.સ. ૧૯૪૩ પહેલા કરવામાં આવી હતી.
  </h3>
</div>


<div class="title rounded">
  <h2><b>મંડળ નો હેતુ:</b></h2>
</div>

<div class="details">
  <h3>
    વિવિધ ગ્રામ્ય વિસ્તારોમાં થી ઉચ્ચ શિક્ષણ માટે જ્ઞાતિના વિદ્યાર્થીઓ ને વડોદરામાં રહેવા-જમવાની અગવડતા પડતી હતી. તે મૂળ હેતુ ને અનુલક્ષી ને નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ની સ્થાપના કરવામાં આવી હતી. 
  </h3>
  <h3>
    ત્યારબાદ સમાજ ના સાંસ્કૃતિક, ધાર્મિક અને સામાજિક પરંપરાઓની જાળવણી અને વિકાસ માટે જેટલા પ્રબુદ્ધ ની જરુર છે, તેટલા જ કર્તવ્યશીલ અને સંસ્કારી યુવાનો ની જરૂર પણ છે. બે પેઢીઓ ના સેતુ સમાન સંગઠન સુદ્રઢ રહે, અને બ્રાહ્મણત્વ ની અવધારણા ટકી રહે તે હેતુ માટે શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ની સ્થાપના કરવામાં આવી. 
  </h3>
  <h3>
    જુદા જુદા કાર્યક્રમો દ્વારા નવી પેઢીના યુવાનો ને બ્રાહ્મણત્વ, જ્ઞાતિ સમૂહ, અને પરંપરા ના મુખ્ય પ્રવાહ સાથે સાંકળવાનું કાર્ય શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ જાગૃત પણે કરી રહ્યું છે.
  </h3>
</div>


<div class="title rounded">
  <h2><b>મંડળ દ્વારા થતા આયોજનો:</b></h2>
</div>

<div class="details">
  <h3 class="m-0 detail-subtitles"><b>શ્રાવણી પર્વ:</b></h3>
  <h3>
    ધાર્મિક દ્રષ્ટિએ મૂલવતાં શ્રાવણી એ બ્રાહ્મણો માટે નું પર્વ છે. શ્રાવણી ના દિવસે જીર્ણ યજ્ઞોપવિત ત્યાગ કરી, નૂતન યજ્ઞોપવિત ધારણ કરવાની ઋષિ પરંપરા છે. શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ના યુવાનોએ આ કાર્ય ઉપાડી લીધું અને  દર વર્ષે શ્રાવણી પૂનમ ના દિવસે વડોદરા મુકામે સમૂહ યજ્ઞોપવિત ધારણ કરવાના કાર્યક્રમ ને ખુબજ સફળતા સાંપડે છે. સપરિવાર ભોજન સહીત આ ઉત્સવ ઉજવાય છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>સમૂહ યજ્ઞોપવિત સંસ્કાર:</b></h3>
  <h3>
    બ્રાહ્મણ બાળ ને યજ્ઞોપવિત સંસ્કાર જરૂરી છે. તેથી જ્ઞાતિ ના બાળકો ને સમૂહ માં યજ્ઞોપવિત સંસ્કાર મળે તે હેતુ થી શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ દ્વારા સમયાંતરે આ કાર્યક્રમ નું અનોખું આયોજન થાય છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>સમૂહ પાદુકા પૂજન:</b></h3>
  <h3>
    બ્રાહ્મણ કુળ ની આધ્યાત્મિક પ્રગતિ માટે ગુરુ પરંપરા છવાયેલી છે. ગુરુ શ્રી રંગ અવધૂત મહારાજ (બાપજી) ના તેજ અંશ સ્વરૂપ પાદુકાજી નું પૂજન પ્રચલિત છે. નોંદેરા બ્રાહ્મણ અંગત અને સાર્વજનિક રૂપે બાપજી શ્રી સાથે જોડાયેલ છે. પૂ. બાપજી શ્રી ની ચરણ પાદુકા જી નું સમૂહ પૂજન નો કાર્યક્રમ કરવાનું શ્રેય શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ને જાય છે. પુરા ઉત્સાહ અને ભક્તિમય પુરુષાર્થ થી શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ આવા યશસ્વી કાર્યો સફળ કરે છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>સાંસ્કૃતિક કાર્યક્રમો:</b></h3>
  <h3>
    યુવાન એટલે શક્તિ નો ભંડાર, કૌશલ્ય નો સમૂહ, કળા નો સાગર.  નોંદેરા બ્રાહ્મણ યુવાનો ની કળા, કૌશલ્ય અને સામર્થ્ય  ની અભિવ્યક્તિ માટે કાર્યક્રમ યોજાય છે.  શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ દ્વારા રમત ગમત અને સાંસ્કૃતિક કાર્યક્રમ, નાટક, ગાયન, વાદ્ય-સંગીત, નૃત્ય અને વક્તૃત્વ જેવી શક્તિઓ બહાર આવે, વધુ વિસ્તરે તે માટે સમયાંતરે કાર્યક્રમો નું આયોજન કરવામાં આવે છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>રક્તદાન મહાદાન:</b></h3>
  <h3>
    શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ના નવ યુવાન સભ્યો દ્વારા જ્ઞાતિના લોકો ના બ્લડ ગ્રુપ ની યાદી તૈયાર કરવામાં આવી છે. જ્ઞાતિના કોઈપણ વ્યક્તિ ને તબીબી જરૂરિયાત માટે લોહી ની જરૂર હોય તો તેમને દોડધામ કર્યાં વગર યુવાનો નો સંપર્ક કરતા તેઓ તાત્કાલિક રક્તદાન ની સેવા પુરી પાડે છે.
  </h3>
  <br>
  <!-- <h3><b>ક્રેડિટ સોસાયટી:</b></h3>
  <h3 class="m-0 detail-subtitles">અચાનક આવી પડતી આર્થિક મૂંઝવણો માં આપણો જ્ઞાતિજન સંકળામણ અનુભવે નહિ અને હાથ લંબાવ્યા ના સંકોચ વગર જ્ઞાતિજનો ની હૂંફથી જ અગવડતા પસાર થઈ જાય તેવા ઉમદા વિચાર ને શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ચરિતાર્થ કરી રહ્યું છે.</h3> -->
  <h3>
    આમ સમૂહ આયોજનો થી સહજીવન અને પરસ્પર બંધાતા લાગણીના તંતુ, એકબીજા ની હૂંફ થી બંધાયેલ રહેવું અને એકબીજાને વળગી ને વધતા રહેવું એ શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ ના સમગ્ર આયોજન ની ફલશ્રુતિ છે.
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંડળ ના કાર્યકર્તાઓ:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">તરુણભાઇ અનિરુદ્ધ ઉપાધ્યાય</td>
          <td class="s">મંત્રી</td>
        </tr>
        <tr>
          <td class="f">પ્રજ્ઞેશ ઘનશ્યામભાઈ વૈદ્ય</td>
          <td class="s">ઉપપ્રમુખ</td>
        </tr>
        <tr>
          <td class="f">મૌલિક ભરતભાઈ પાઠક</td>
          <td class="s">સહમંત્રી</td>
        </tr>
        <tr>
          <td class="f">વિનોદ પદ્મનાભ શુક્લ</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">ઘનશ્યામ નરહરિપ્રસાદ વૈદ્ય</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">શિરીષભાઈ ભાનુપ્રસાદ ઉપાસની</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">ડૉ. જ્યોતીન્દ્ર મણિલાલ દવે</td>
          <td class="s">સભ્ય</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">પ્રદ્યુમ્ન ઉમાકાન્ત પાઠક</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">હેમંત વાસુદેવ જોશી</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">બિપિન ચિમનલાલ પંડ્યા</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">ભાવિન જ્યંતિલાલ દવે</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">અમિત પિનાકીન ઉપાસની</td>
          <td class="s">સભ્ય</td>
        </tr>
        <tr>
          <td class="f">ભાવિન અશ્વિનભાઈ પાઠક</td>
          <td class="s">સભ્ય</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- <div class="details trustees-images rounded d-flex flex-wrap justify-content-around">
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">તરુણભાઇ અનિરુદ્ધ ઉપાધ્યાય</h2>
      <p class="card-text">મંત્રી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">પ્રજ્ઞેશ ઘનશ્યામભાઈ વૈદ્ય</h2>
      <p class="card-text">ઉપપ્રમુખ</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">મૌલિક ભરતભાઈ પાઠક</h2>
      <p class="card-text">સહમંત્રી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">વિનોદ પદ્મનાભ શુક્લ</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ઘનશ્યામ નરહરિપ્રસાદ વૈદ્ય</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">શિરીષભાઈ ભાનુપ્રસાદ ઉપાસની</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ડૉ. જ્યોતીન્દ્ર મણિલાલ દવે</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">પ્રદ્યુમ્ન ઉમાકાન્ત પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હેમંત વાસુદેવ જોશી</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">બિપિન પંડ્યા</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ભાવિન જ્યંતિલાલ દવે</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">અમિત પિનાકીન ઉપાસની</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ભાવિન અશ્વિનભાઈ પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>
</div> -->