<div class="background">
  <div>
    <h2 class="text-light custom-font text-center big-font font-weight-bold m-0">|| ॐ नारायणाय विद्महे वासुदेवाय धीमहि तन्नो विष्णु प्रचोदयात् ||</h2>
  </div>
  <div class="upper-background mt-4 mt-md-0 d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center mt-5 mt-lg-0">
      <img class="img-fluid" width="300" src="../../../../assets/trust-mandal/background_7.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-lg-2">
      <h2 class="big-font font-weight-bold">मंगलम् भगवान विष्णुः, मंगलम् गरूणध्वजः !</h2>
      <h2 class="big-font font-weight-bold">मंगलम् पुण्डरी काक्षः, मंगलाय तनो हरिः !!</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">{{'snbpm_title' | translate}}</h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>{{'snbpm_1_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snbpm_1_content' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snbpm_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snbpm_2_content_1' | translate}}</h3>
  <h3>{{'snbpm_2_content_2' | translate}}</h3>
  <h3>{{'snbpm_2_content_3' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snbpm_3_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3 class="m-0 detail-subtitles"><b>{{'snbpm_3_subheader_1' | translate}}:</b></h3>
  <h3>{{'snbpm_3_subheader_1_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbpm_3_subheader_2' | translate}}:</b></h3>
  <h3>{{'snbpm_3_subheader_2_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbpm_3_subheader_3' | translate}}:</b></h3>
  <h3>{{'snbpm_3_subheader_3_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbpm_3_subheader_4' | translate}}:</b></h3>
  <h3>{{'snbpm_3_subheader_4_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbpm_3_subheader_5' | translate}}:</b></h3>
  <h3>{{'snbpm_3_subheader_5_content' | translate}}</h3>
  <br>
  <h3>{{'snbpm_3_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'snbpm_member_title' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="member trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snbpm_member_n_1' | translate}}</td>
          <td class="s">{{'snbpm_member_d_1' | translate}}</td>
          <td class="t">{{'snbpm_member_p_1' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_2' | translate}}</td>
          <td class="s">{{'snbpm_member_d_2' | translate}}</td>
          <td class="t">{{'snbpm_member_p_2' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_3' | translate}}</td>
          <td class="s">{{'snbpm_member_d_3' | translate}}</td>
          <td class="t">{{'snbpm_member_p_3' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_4' | translate}}</td>
          <td class="s">{{'snbpm_member_d_4' | translate}}</td>
          <td class="t">{{'snbpm_member_p_4' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="member trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">{{'snbpm_member_n_5' | translate}}</td>
          <td class="s">{{'snbpm_member_d_5' | translate}}</td>
          <td class="t">{{'snbpm_member_p_5' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_6' | translate}}</td>
          <td class="s">{{'snbpm_member_d_6' | translate}}</td>
          <td class="t">{{'snbpm_member_p_6' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_7' | translate}}</td>
          <td class="s">{{'snbpm_member_d_7' | translate}}</td>
          <td class="t">{{'snbpm_member_p_7' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_member_n_8' | translate}}</td>
          <td class="s">{{'snbpm_member_d_8' | translate}}</td>
          <td class="t">{{'snbpm_member_p_8' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="title rounded">
  <h2><b>{{'snbpm_y_member_title' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="youth trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snbpm_y_member_n_1' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_1' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_1' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_2' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_2' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_2' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_3' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_3' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_3' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_4' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_4' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_4' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_5' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_5' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_5' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_6' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_6' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_6' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_7' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_7' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_7' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="youth trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">{{'snbpm_y_member_n_8' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_8' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_8' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_9' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_9' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_9' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_10' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_10' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_10' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_11' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_11' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_11' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_12' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_12' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_12' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_13' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_13' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_13' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbpm_y_member_n_14' | translate}}</td>
          <td class="s">{{'snbpm_y_member_d_14' | translate}}</td>
          <td class="t">{{'snbpm_y_member_p_14' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>