$dark-blue : rgb(51, 51, 79);
$light-blue : #C9C9FD;

@media (min-width: 0px) and (max-width: 991.98px) {
  .container-fluid {
    background-color: $dark-blue;
    margin-top: 30px;
    min-height: 400px;
  }  

  .image-container {
    width: 65%;
    margin-top: 20px;
  }
  
  .image-container img {
    top: 0;
  }
  
  .text-container {
    margin-top: 30px;
    width: 100%;

    .ribbon-title{
      font-size: 25px;
      font-weight: 600;
    }

    .ribbon-text{
      font-size: 20px;
      line-height: 25px;
    }
  }
}
  
@media (min-width: 992px) {
  .container-fluid {
    background-color: $dark-blue;
    margin-top: calc(20px + 3rem);
    height: 400px;
    margin-bottom: 150px;
}
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-top: 25px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    position: relative;
    top: -50%;
    right: 7%;
  }
  
  .text-container {
    width: 50%;
    padding: 250px 20px 20px;

    .ribbon-title{
      font-size: 25px;
    }
    
    .ribbon-text{
      font-size: 20px;
      line-height: 25px;
    }
  }
}  