<div class="header-shlok-div pt-4">
  <div class="my-5 my-md-0">
    <h1 class="text-center dark-blue-color font-weight-bold">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
    <h1 class="text-center dark-blue-color font-weight-bold">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
  </div>
</div>

<div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center mb-5">
  <div class="text-container text-light h-100">
    <div class="h-100 d-flex flex-column justify-content-between">
      <hr>
      <div>
        <p class="ribbon-text text-justify mb-4">{{'caste_ribbon_description_1' | translate}}</p>
        <p class="ribbon-text text-justify">{{'caste_ribbon_description_2' | translate}}</p>  
      </div>
    </div>
  </div>
  <div class="image-container text-center text-lg-right">
    <img class="img-fluid" width="450" src="../../../assets/gnati-sambandhit/gyati-sambandhit.png" alt="">
  </div>
</div>


<div class="title rounded">
  <h2><b>{{'caste_related_1_header' | translate}}:</b></h2>
</div>


<div class="details">
  <h3>{{'caste_related_1_content_1' | translate}}</h3>
  <h3>{{'caste_related_1_content_2' | translate}}</h3>
  <h3>{{'caste_related_1_content_3' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'caste_related_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'caste_related_2_content_1' | translate}}</h3>
  <h3>{{'caste_related_2_content_2' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'caste_related_3_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'caste_related_3_content_1' | translate}}</h3>
  <h3>{{'caste_related_3_content_2' | translate}}</h3>
  <h3>{{'caste_related_3_content_3' | translate}}</h3>
  <h3>{{'caste_related_3_content_4' | translate}}</h3>
</div>