<div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center mb-5">
  <div class="text-container text-light h-100">
    <div class="h-100 d-flex flex-column justify-content-between">
      <div class="my-5 my-md-0">
        <h1 class="text-center">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
        <h1 class="text-center">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
      </div>
      <hr>
      <div>
        <p class="ribbon-text text-justify">
          બ્રાહ્મણ એટલે “બ્રહ્મ” ને જાણનાર. ઉપનિષદો પ્રમાણે “બ્રહ્મ” શબ્દના અનેક અર્થ છે. “બ્રહ્મ” એટલે આત્મા, ચૈતન્ય, અસ્તિત્વ, નિરંજન નિરાકાર પરમાત્મા, અવિનાશી, વેદ, વિદ્યા, વિગેરે. આ સર્વે નો જાણકાર બ્રાહ્મણ કહેવાય છે.
        </p>
        <p class="ribbon-text text-justify">
          બ્રાહ્મણો માં નોંદેરા બ્રાહ્મણોનું સ્થાન આગવુ ગણવામાં આવે છે, તેથીજ તેઓને શ્રી રંગ અવધૂત મહારાજ, શ્રી ચિદાનંદજી મહારાજ, દ્વારકા પીઠાધીશ્વર જગદ્ગુરુ શંકરાચાર્ય શ્રી સ્વરૂપાનંદ સરસ્વતીજી મહારાજ, ચાંદોદ ના શ્રી વત્સ પીઠાધીશ્વર પ.પૂ.શ્રી અનિરુદ્ધાચાર્યજી મહારાજ, મંજુસર ના પ.પૂ.બ્ર. શ્રી મુગટરામ મહારાજ, શ્રી મસ્ત રાઘવજી મહારાજ, પૂ.શ્રી જગદીશગિરિજી મહારાજ, શ્રી ૧૦૦૮ વેંકટેશાચાર્યજી મહારાજ અને કૈલાશ આશ્રમ ના આચાર્ય શ્રી વિષ્ણુપ્રકાશજી જેવા વિશેષ સંતગણો ના સમયાંતરે આશીર્વાદ પ્રાપ્ત થતા રહ્યા છે.
        </p>  
      </div>
    </div>
  </div>
  <div class="image-container text-center text-lg-right">
    <img class="img-fluid" width="450" src="../../../assets/gnati-sambandhit/gyati-sambandhit.png" alt="">
  </div>
</div>


<div class="title rounded">
  <h2><b>નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ:</b></h2>
</div>


<div class="details">
  <h3>
    નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ નો ઇતિહાસ અતિ પ્રાચીન છે. પુરાણો અને ઉપપુરાણો માં નોંદેરા બ્રાહ્મણ ના અનેક ઉલ્લેખો જોવા મળે છે. પ્રાચીન કાળ માં હાલનો રાજપીપળા નો પ્રદેશ નંદીપુર, નંદીગ્રામ તરીકે ઓળખાતો હતો. નંદીપુર નો અપભ્રંશ થતા તે નાંદોદ બની ગયું. અતિ પ્રાચીન કાળમાં કર્મદા પછી કરતોયા અને હાલ કરજણ નદીના કિનારે, રાજપીપળા ની આજુબાજુ ના પ્રદેશ માં વસવાટ કરનારા પવિત્ર બ્રાહ્મણો નો સમૂહ નોંદેરા બ્રાહ્મણ તરીકે ઓળખાય છે.
  </h3>
  <h3>
    નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ નું પ્રમાણ શ્રી શિવમહાપુરાણ ના ઉપપુરાણ શ્રી નંદિપુરાણ માં વિસ્તાર થી કરેલ છે. શ્રી નંદિપુરાણમાં દર્શાવ્યા પ્રમાણે શિવજી ના મુખ્ય ગણ શ્રી નંદી એ નંદીપુર સ્થાન માં શ્રી નંદિકેશ્વર મહાદેવ ની સ્થાપના કરી. ત્યારબાદ ત્યાં રહેવા માટે શ્રી નંદી હિમાલય ના ઉત્તર ભાગમાં આવેલ કલાપક ગ્રામથી સૂર્ય સમાન તેજસ્વી, ધાર્મિક, પવિત્ર, અને વિદ્વાન એવા ૧૧૦૦ બ્રાહ્મણો ને લઇ આવ્યા. બ્રાહ્મણો ને રહેવા માટે વિશ્વકર્માને બોલાવી અતિ સુંદર નંદીગ્રામ નગર બનાવડાવ્યું.
  </h3>
  <h3>
    આમ શ્રી નંદી દ્વારા ગુજરાત માં સ્થાપિત નંદીગ્રામ નગરમાં સ્થાયી થયેલ ઉત્તમ સદાચારી બ્રાહ્મણ સમૂહ નોંદેરા બ્રાહ્મણ તરીકે જાણીતો થયો. શ્રી શતરુદ્રીસંહિતા માં પણ આ પ્રમાણે ના અનેક ઉલ્લેખો મળે છે. તેથી ઇતિહાસવિદો ના મતે શ્રી નંદિકેશ્વર મહાદેવ ની સ્થાપના અને બ્રાહ્મણોનો વસવાટ ઈ. સ. ૩૮૦ પહેલા થયો હશે એવું માનવામાં આવે છે. આ રીતે જોઈએ તો નોંદેરા બ્રાહ્મણ નું અસ્તિત્વ ૧૬૫૦ વર્ષો કરતા પણ વધુ પ્રાચીન છે.
  </h3>
</div>

<div class="title rounded">
  <h2><b>નોંદેરા બ્રાહ્મણ જ્ઞાતિ નો વિકાસ:</b></h2>
</div>

<div class="details">
  <h3>
    બ્રાહ્મણો નંદીગ્રામ માં વસ્યા, પરંતુ પત્ની રહિત હોવાથી ધાર્મિક કાર્ય અને દાન સ્વીકારવામાં તેઓ અસમર્થ હતા. બ્રાહ્મણો ની વંશવૃદ્ધિ માટે પણ પરિવાર હોવો જરૂરી છે, તેથી શ્રી નંદી એ ધ્યાન ધરી દેવી પાર્વતી ની ઉપાસના કરી. દેવી પ્રસન્ન થયા. તેઓ શ્રી નંદા અને શ્રી આનંદા નામની સખીઓ સહીત શ્રી નંદી ની સમક્ષ પ્રગટ થયા. શ્રી નંદી ની પ્રાર્થના સાંભળીને દેવી એ નયન કટાક્ષ દ્વારા સુંદર કન્યાઓ ઉત્ત્પન્ન કરી, અને સખીઓ સહીત કુમારિકાઓને શ્રી નંદીને સોંપી ને અંતર્ધ્યાન થયા. શ્રી નંદીએ કુળદેવી તરીકે શ્રી નંદા અને ગોત્રદેવી તરીકે શ્રી આનંદા ની સ્થાપના કરીને તેઓનું પૂજન કર્યું.
  </h3>
  <h3>
    દેવી દ્વારા ઉત્ત્પન્ન કુમારિકાઓ સાથે બ્રાહ્મણો ના વિવાહ સંપન્ન થયા. વિવાહ સમયે નંદીગ્રામ ના વણિક રાજા શ્રી નંદે બ્રાહ્મણો ને ઉત્તમ પ્રકાર ના દાન આપી સંતુષ્ટ કર્યા અને બ્રાહ્મણ પરિવારો નું વર્ધન થયુ.
  </h3>
</div>

<div class="title rounded">
  <h2><b>નોંદેરા બ્રાહ્મણ જ્ઞાતિ નું વિસ્તરણ:</b></h2>
</div>

<div class="details">
  <h3>
    સમય ના પ્રવાહ સાથે જીવન નો વિકાસ સાધવા અને આજીવિકા ના ઉપાર્જન માટે નોંદેરા બ્રાહ્મણો નું સતત સ્થળાંતર થતું રહ્યું. જેતે પ્રદેશ માં વસ્યા તે પ્રદેશ ના નામ પરથી પ્રાદેશિક સમૂહ પેટા જ્ઞાતિ તરીકે ઓળખાવા લાગ્યા.
  </h3>
  <h3>
    (૧) વડોદરા એટલે પાદરા થી સારસા સુધીના વડોદરા નગર ની આજુબાજુ ના વિસ્તાર માં નોંદેરા બ્રાહ્મણો વિપુલ પ્રમાણ માં વસ્યા અને ખુબ સમૃદ્ધ થયા.
  </h3>
  <h3>
    (૨) રેવાકાંઠા એટલે પુણ્યશાળી નર્મદા નદીના મુખ્યત્વે દક્ષિણ કિનારા ના સમૃદ્ધ ગ્રામ્ય વિસ્તારો માં નોંદેરા બ્રાહ્મણો સ્થિર થયા. જેઓ મુખ્ય નગર રાજપીપળા સાથે જોડાયેલ રહ્યા. 
  </h3>
  <h3>
    (૩) મહી કાંઠા એટલે પવિત્ર મહીસાગર નદીના કિનારાઓ ના પ્રદેશ માં નોંદેરા બ્રાહ્મણ વિકસિત થયા. તેઓ મુખ્યત્વે જરોદ થી વાસદ ની આજુબાજુ ના ભૂમિ પ્રદેશ સાથે જોડાયેલ રહ્યા. 
  </h3>
  <h3>
    (૪) બત્રીસ ની સંજ્ઞા પામેલ નોંદેરા બ્રાહ્મણ સમૂહ હાલોલ, પંચમહાલ ના વિસ્તાર માં વિકાસ પામ્યો. 
  </h3>
  <h3>
    (૫) પાંચમાં જ્ઞાતિ સમૂહ તરીકે ઓળખાણ પામેલ નોંદેરા બ્રાહ્મણો લગભગ સાવલી-વાંકાનેર ના કેન્દ્ર બિંદુ થી જોડાયેલ  રહ્યા.
  </h3>
  <h3>
    (૬) ઘણી ઓછી વસ્તી ધરાવતા, અને મહી કાંઠા ના છુટા છવાયા વિસ્તારો માં ફેલાયેલ એક નોંદેરા બ્રાહ્મણ સમૂહ ને ત્રાહિત તરીકે પણ ઓળખવામાં આવતો હતો.
  </h3>
</div>