<div class="background">
    <div class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center">
      <div class="image text-center mt-5">
        <img class="img-fluid" width="250" src="../../../../assets/photo-galary/photo-upper-background.svg" alt=""><br>
      </div>
      <div class="other text-center text-light mt-5">
        <h4 class="font-weight-bold">શાન્ત યોગીન્દ્રવર્ય દ્વિજકુલતિલક શ્રોત્રિયં બ્રહ્મનિષ્ઠ</h4>
        <h4 class="font-weight-bold">દત્તાત્રેયં સ્મરાં જનહિતનિરતં સચ્ચિદાનન્દમગ્નમ્</h4>
        <h4 class="font-weight-bold">સિદ્ધ રેવાતટસ્થં નિજપરરહિત નિત્યમત્તાવધૂત</h4>
        <h4 class="font-weight-bold">સત્ત્વ નારેશ્વરરૂં મથિતકલિમલં પાંડુરંગ નમામિ</h4>
      </div>
    </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
    <div class="text-div-title">
      <h1 class="font-weight-bold">ફોટો ગેલેરી</h1>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image3.png" alt="લઘુ રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">લઘુરુદ્ર</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="મહા રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">મહારુદ્ર</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image2.png" alt="અતિ રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">અતિ રૂદ્ર</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image2.png" alt="દત્ત યાગ">
            </div>
            <div class="title-div">
                <h2 class="text m-0">દત્ત યાગ</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image3.png" alt="વિષ્ણુ યાગ">
            </div>
            <div class="title-div">
                <h2 class="text m-0">વિષ્ણુ યાગ</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="નવચંડી">
            </div>
            <div class="title-div">
                <h2 class="text m-0">નવચંડી</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="શતચંડી">
            </div>
            <div class="title-div">
                <h2 class="text m-0">શતચંડી</h2>
            </div>
        </div>
    </div>
</div> -->




<div class="trust-grid d-flex flex-wrap justify-content-around my-5">
    <div class="card my-4 mx-4" [routerLink]="['/photo-one']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image3.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">લઘુરુદ્ર</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-two']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">મહારુદ્ર</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image2.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">અતિ રૂદ્ર</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-one']">
        <img class="card-img-top" src="../../../../assets/photo-galary/image2.png" alt="Card image cap">
        <div class="text-center card-body">
          <h2 class="font-weight-bold card-title m-0">દત્ત યાગ</h2>
        </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-two']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image3.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">વિષ્ણુ યાગ</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">નવચંડી</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શતચંડી</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">જનોઈ</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શિવરાત્રી</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શ્રાવણમાસ</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" src="../../../../assets/photo-galary/image1.png" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">ગરબા</h2>
      </div>
    </div>
</div>