// $laptop-image-width : 400px;
// $mobile-image-width : 250px;

$light-blue : #C9C9FD;
$dark-blue : rgb(51, 51, 79);


.title-tag-div{
  h1{
    background-color: $light-blue;
    color: $dark-blue;
    padding: 15px 25px;
    border-radius: 20px;
  }
}

.text-div {
    background-color: rgba($color: #d4d0ed, $alpha: 0.75);
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;

    h1 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgb(51, 51, 79);
    }
}



.card{
  max-width: 25rem;
  border: 3px solid rgb(51, 51, 79);
  border-radius: 5px;
  cursor: pointer;
}

.btn{
  color: $dark-blue;
  background-color: white;
}

.card-body{
  color: whitesmoke;
  background-color: $dark-blue;
}


//nearest
$light-blue : #C9C9FD;

.title-div{
    background-color: $light-blue;
    padding: 10px;
    color: $dark-blue;
    h2{
      font-weight: bold;
    }
}

.image-container{
  background-color: $dark-blue;
  padding: 7px 7px 50px 7px;
  .image-div img{
    width: 100%;
  }
}

h2{
  max-width: 400px;
}

.background{
  background-color: black;
  min-height: 400px;
  background-size: cover;
}

@media (min-width: 0px) and (max-width: 767.98px){
  .background{
    .other{
      font-size: 20px;
    }
  }
}

@media (min-width: 768px){
  .background{
    .other{
      h4{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
}