<div class="background-image-div">
    <div class="text-div">
      <h1 class="text font-weight-bold">નજીકના આકર્ષક સ્થળો</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image3.png" alt="લઘુ રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">લઘુ રૂદ્ર</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="મહા રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">મહા રૂદ્ર</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image2.png" alt="અતિ રૂદ્ર">
            </div>
            <div class="title-div">
                <h2 class="text m-0">અતિ રૂદ્ર</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image2.png" alt="દત્ત યાગ">
            </div>
            <div class="title-div">
                <h2 class="text m-0">દત્ત યાગ</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image3.png" alt="વિષ્ણુ યાગ">
            </div>
            <div class="title-div">
                <h2 class="text m-0">વિષ્ણુ યાગ</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="નવચંડી">
            </div>
            <div class="title-div">
                <h2 class="text m-0">નવચંડી</h2>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center my-3">
        <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
            <div class="image-div">
                <img class="img-fluid" src="../../../../assets/photo-galary/image1.png" alt="શતચંડી">
            </div>
            <div class="title-div">
                <h2 class="text m-0">શતચંડી</h2>
            </div>
        </div>
    </div>
</div>




<!-- <div class="trust-grid d-flex flex-wrap justify-content-around my-5">
    <div class="card my-4 mx-4" [routerLink]="['/photo-one']">
      <img class="card-img-top" [src]="image1Path" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-two']">
      <img class="card-img-top" [src]="image1Path" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</h2>
      </div>
    </div>
    <div class="card my-4 mx-4" [routerLink]="['/photo-three']">
      <img class="card-img-top" [src]="image1Path" alt="Card image cap">
      <div class="text-center card-body">
        <h2 class="font-weight-bold card-title m-0">શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</h2>
      </div>
    </div>
</div> -->