<!-- <div class="background-image-div">
    <div class="text-div">
      <h1 class="text font-weight-bold">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</h1>
    </div>
</div> -->

<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Harsiddha-Mataji.jpg" alt="Harasiddhi Mata Mandir">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Statue-Of-Unity.jpg" alt="Statue Of Unity">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Gurudeshwar-Datta.jpg" alt="Garudeshwar Datt Mandir">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Nilkanthdham-Poicha.jpg" alt="Nilkanthdham - Poicha">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Karjan-Dam.jpg" alt="Karjan Dam">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rang-Avadhot.jpg" alt="Shri Rang Avadhoot Temple">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Sardar-Sarovar-Dam.jpg" alt="Sardar Sarovar Dam">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Junaraj.jpg" alt="Junaraj">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Bar-Vanjar-Waterfall.jpeg" alt="Bar Vanjar Waterfall">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Reva-Tent-City.jpg" alt="Reva Tent city">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vadhvana-Bird-Sanctuary,.jpg" alt="Vadhvana Bird Sanctuary">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rajvant-Palace-Resort.jpg" alt="Rajvant Palace Resort">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Indrajit-Padmini-Mahal.jpg" alt="Indrajit-Padmini Mahal">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vishala-Khadi-Eco-Campsite.jpg" alt="Vishala Khadi Eco Campsite">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Kashi-Vishwanath-Mahadev-Temple.jpg" alt="Kashi Vishwanath Mahadev Temple">
        </div>
    </div>
</div>