<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('one')" width="400" [src]="photo_mahashivratri_one" alt="">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('two')" width="400" [src]="photo_mahashivratri_two" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('three')" width="400" [src]="photo_mahashivratri_three" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('four')" width="400" [src]="photo_mahashivratri_four" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('five')" width="400" [src]="photo_mahashivratri_five" alt="">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('six')" width="400" [src]="photo_mahashivratri_six" alt="">
        </div>
    </div>
   
</div>