table{
    width: 100%;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.userManagementSearch, .occupationSearch{
	box-shadow: none;
	border: 1px solid #33334f;
}

.userManagementSearch::placeholder, .occupationSearch::placeholder {
	color: #33334f;
}

.viewProfileCell img, .action-button img{
	width: 25px;
}

hr{
	border-top: 3.5px solid #33334f;
	margin: 1rem 0.5rem;
}

.btn{
	box-shadow: none;
	outline: 0;
}

.main-category-div{
	margin: 20px 0;
}

.category-div {
	width: 150px;
	flex-basis: 300px;
	flex-grow: 1;
	text-align: center;
}

.category-div,
.user-management-category-div,
.blood-group-category-div,
.match-making-category-div,
.occupational-category-div,
.table-div{
	margin: 0 20px;
}
  
input[type="radio"].designed-radio-button{
	visibility: hidden;
	height: 0;
	width: 0;
}
  
label{
	cursor: pointer;
	color: black;
	padding: 5px 10px;
	border-radius: 3px;
	padding: 20px;
	font-size: 20px;
	transition: all .1s ease-out;
	text-align: center;
	width: 100%;
}

label.match-making-label{
	padding: 13px;
}

input[type="radio"]:checked + label{
	border: 3px solid #757474;
}





label.user-management,
label.registered-users,
label.unregistered-users{
	border: 3px solid rgba($color: #C4C4E5, $alpha: 0.1);
	background-color: rgba($color: #C4C4E5, $alpha: 0.7);
}
input[type="radio"]:checked + label.user-management,
input[type="radio"]:checked + label.registered-users,
input[type="radio"]:checked + label.unregistered-users{
	background-color: rgba($color: #C4C4E5, $alpha: 1.0);
}





label.blood-group,
label.blood-group-label{
	border: 3px solid rgba($color: #FFAEAE, $alpha: 0.1);
	background-color: rgba($color: #FFAEAE, $alpha: 0.6);
}
input[type="radio"]:checked + label.blood-group,
input[type="radio"]:checked + label.blood-group-label{
	background-color: rgba($color: #FFAEAE, $alpha: 1.0);
}





label.match-making-genders{
	border: 3px solid rgba($color: #C9C9FD, $alpha: 0.1);
	background-color: rgba($color: #C9C9FD, $alpha: 0.4);
}
input[type="radio"]:checked + label.match-making-genders{
	background-color: rgba($color: #C9C9FD, $alpha: 1.0);
}





label.match-making,
label.match-making-label{
	border: 3px solid rgba($color: #FF73E9, $alpha: 0.1);
	background-color: rgba($color: #FF73E9, $alpha: 0.5);
}
input[type="radio"]:checked + label.match-making,
input[type="radio"]:checked + label.match-making-label{
	background-color: rgba($color: #FF73E9, $alpha: 1.0);
}





label.occupational,
label.job,
label.business{
	border: 3px solid rgba($color: #C9C9FD, $alpha: 0.1);
	background-color: rgba($color: #C9C9FD, $alpha: 0.4);
}
input[type="radio"]:checked + label.occupational,
input[type="radio"]:checked + label.job,
input[type="radio"]:checked + label.business{
	background-color: rgba($color: #C9C9FD, $alpha: 1.0);
}





@media (min-width: 0px) and (max-width: 600px){
	.filter-div{
		flex-direction: column;
		margin-bottom: 30px;
	}
	
	.radio-button-div{
		justify-content: flex-start;
	}

	.radio-div{
		margin-right: 30px;
	}
}
@media (min-width: 6000px) and (max-width: 768px){}
@media (min-width: 769px) and (max-width: 992px){}
@media (min-width: 993px) and (max-width: 1200px){}
@media (min-width: 12000px){}