<!-- Main Catagory -->
<div class="main-category-div d-flex flex-wrap">

  <div class="category-div" *ngIf="isAdmin">
    <input type="radio"  class="designed-radio-button" name="table-content" id="user-management" value="user-management" [checked]="isAdmin" (change)="changeRadioButton($event)"/>
    <label for="user-management" class="user-management">
      User Management
    </label>
  </div>

  <div class="category-div" *ngIf="isAdmin">
    <input type="radio" class="designed-radio-button" name="table-content" id="blood-group" value="blood-group" (change)="changeRadioButton($event)"/>
    <label for="blood-group" class="blood-group">
      Blood Group
    </label>
  </div>

  <div class="category-div">
    <input type="radio" class="designed-radio-button" name="table-content" id="match-making" value="match-making" [checked]="!isAdmin" (change)="changeRadioButton($event)"/>
    <label for="match-making" class="match-making">
      Match Making
    </label>
  </div>

  <div class="category-div">
    <input type="radio" class="designed-radio-button" name="table-content" id="occupational" value="occupational" (change)="changeRadioButton($event)"/>
    <label for="occupational" class="occupational">
      Ocupational
    </label>
  </div>      

</div>

<hr>

<!-- Sub Catagory -->
<div>
  <div *ngIf="isUserManagement && isAdmin">
    <div class="user-management-main-category-div d-flex flex-column flex-lg-row justify-content-around">

      <div class="user-management-category-div w-100">
        <input type="radio" class="designed-radio-button" name="user-management-content" id="registered-users" value="registered-users" [checked]="isAdmin" (change)="userManagementSelection($event)"/>
        <label for="registered-users" class="registered-users ">
          Registered Users
        </label>
      </div>
    
      <div class="user-management-category-div w-100">
        <input type="radio" class="designed-radio-button" name="user-management-content" id="unregistered-users" value="unregistered-users" (change)="userManagementSelection($event)"/>
        <label for="unregistered-users" class="unregistered-users ">
          Unregistered Users
        </label>
      </div>    

    </div>
  </div>

  <div *ngIf="isBloodGroup && isAdmin">
    <div class="blood-group-manin-category-div d-flex flex-column flex-lg-row justify-content-around">

      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="ab-p" value="ab-p" (change)="bloodGroupSelection($event)"/>
        <label for="ab-p" class="ab-p blood-group-label ">
          AB+
        </label>
      </div>
    
      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="ab-n" value="ab-n" (change)="bloodGroupSelection($event)"/>
        <label for="ab-n" class="ab-n blood-group-label ">
          AB-
        </label>
      </div>    

      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="a-p" value="a-p" (change)="bloodGroupSelection($event)"/>
        <label for="a-p" class="a-p blood-group-label ">
          A+
        </label>
      </div>
    
      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="a-n" value="a-n" (change)="bloodGroupSelection($event)"/>
        <label for="a-n" class="a-n blood-group-label ">
          A-
        </label>
      </div>    

      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="b-p" value="b-p" (change)="bloodGroupSelection($event)"/>
        <label for="b-p" class="b-p blood-group-label ">
          B+
        </label>
      </div>
    
      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="b-n" value="b-n" (change)="bloodGroupSelection($event)"/>
        <label for="b-n" class="b-n blood-group-label ">
          B-
        </label>
      </div>    

      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="o-p" value="o-p" (change)="bloodGroupSelection($event)"/>
        <label for="o-p" class="o-p blood-group-label ">
          O+
        </label>
      </div>
    
      <div class="blood-group-category-div w-100">
        <input type="radio" class="designed-radio-button" name="blood-group-content" id="o-n" value="o-n" (change)="bloodGroupSelection($event)"/>
        <label for="o-n" class="o-n blood-group-label ">
          O-
        </label>
      </div>    

    </div>
  </div>

  <div *ngIf="isMatchMaking">
    <div class="match-making-main-category-div d-flex flex-column flex-lg-row justify-content-around align-items-center">

      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content-gender" id="male" value="male" (change)="matchMakingGenderSelection($event)"/>
        <label for="male" class="male match-making-genders ">
          Male
        </label>
      </div>
      
      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content-gender" id="female" value="female" (change)="matchMakingGenderSelection($event)"/>
        <label for="female" class="female match-making-genders ">
          Female
        </label>
      </div>

      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="one" value="one" (change)="matchMakingAgeSelection($event)"/>
        <label for="one" class="one match-making-label ">
          18-25
        </label>
      </div>
    
      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="two" value="two" (change)="matchMakingAgeSelection($event)"/>
        <label for="two" class="two match-making-label ">
          26-30
        </label>
      </div>   
      
      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="three" value="three" (change)="matchMakingAgeSelection($event)"/>
        <label for="three" class="three match-making-label ">
          31-35
        </label>
      </div>
    
      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="four" value="four" (change)="matchMakingAgeSelection($event)"/>
        <label for="four" class="four match-making-label ">
          36-40
        </label>
      </div>   

      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="five" value="five" (change)="matchMakingAgeSelection($event)"/>
        <label for="five" class="five match-making-label ">
          41-45
        </label>
      </div>
    
      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="six" value="six" (change)="matchMakingAgeSelection($event)"/>
        <label for="six" class="six match-making-label ">
          46-50
        </label>
      </div>   

      <div class="match-making-category-div w-100">
        <input type="radio" class="designed-radio-button" name="match-making-content" id="seven" value="seven" (change)="matchMakingAgeSelection($event)"/>
        <label for="seven" class="seven match-making-label ">
          50+
        </label>
      </div>

    </div>
  </div>

  <div *ngIf="isOccupational">
    <div class="occupational-main-category-div d-flex flex-column flex-lg-row justify-content-around">

      <div class="occupational-category-div w-100">
        <input type="radio" class="designed-radio-button" name="occupational-content" checked id="job" value="job" (change)="occupationSelection($event)"/>
        <label for="job" class="job ">
          Job
        </label>
      </div>
    
      <div class="occupational-category-div w-100">
        <input type="radio" class="designed-radio-button" name="occupational-content" id="business" value="business" (change)="occupationSelection($event)"/>
        <label for="business" class="business ">
          Business
        </label>
      </div>    

    </div>
  </div>
</div>

<hr>

<!-- Table -->
<div>

  <div *ngIf="isUserManagement && isAdmin">  

    <div class="table-div" *ngIf="isRegisteredUsers">
      <input class="form-control mb-3 userManagementSearch" id="myInput" type="text" placeholder="Search.." [(ngModel)]="registeredUserSearch">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>View Profile</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let user of filteredRegisteredUser">
            <td>{{ user.firstName}}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.contact }}</td>
            <td class="viewProfileCell">
              <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="getProfileData(user.id)">
                <img [src]="viewProfile" alt="view profile">
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredRegisteredUser.length <= 0">
            <td colspan="5">No data found</td>
          </tr>
        </tbody>
      </table>  
    </div>

    <div class="table-div" *ngIf="!isRegisteredUsers">
      <input class="form-control mb-3 userManagementSearch" id="myInput" type="text" placeholder="Search.." [(ngModel)]="unregisteredUserSearch">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>View Profile</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let user of filteredPendingUser">
            <td>{{ user.firstName}}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.contact }}</td>
            <td class="viewProfileCell">
              <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="getProfileData(user.id)">
                <img [src]="viewProfile" alt="view profile">
              </button>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <div class="action-button">
                  <button class="btn" (click)="action(user, true)"><img [src]="approve" alt="view profile"></button>
                </div>
                <div class="action-button">
                  <button class="btn" (click)="action(user, false)"><img [src]="denied" alt="view profile"></button>
                </div>
              </div>          
            </td>
          </tr>
          <tr *ngIf="filteredPendingUser.length <= 0">
            <td colspan="6">No data found</td>
          </tr>
        </tbody>
      </table>  
    </div>

  </div>

  <div *ngIf="isBloodGroup && isAdmin">
    <div class="table-div">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Mobile Number</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let user of filteredBloodGroup">
            <td>{{ user.firstName}}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.contact }}</td>
          </tr>
          <tr *ngIf="filteredBloodGroup.length <= 0">
            <td colspan="5">No data found</td>
          </tr>
        </tbody>
      </table> 
    </div> 
  </div>
  
  <div *ngIf="isMatchMaking">
    <div class="table-div">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Status</th>
            <th>Mobile Number</th>
            <th>View Profile</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let user of filteredMatchMaking">
            <td>{{ user.firstName}}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.maritalStatus }}</td>
            <td>{{ user.contact }}</td>
            <td class="viewProfileCell">
              <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="getProfileData(user.id)">
                <img [src]="viewProfile" alt="view profile">
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredMatchMaking.length <= 0">
            <td colspan="7">No data found</td>
          </tr>
        </tbody>
      </table> 
    </div> 
  </div>

  <div *ngIf="isOccupational">
    <div class="table-div">
      <input class="form-control mb-3 occupationSearch" id="myInput" type="text" placeholder="Search.." [(ngModel)]="occupationSearch">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th *ngIf="selectedOccupation == 'business'">Business Firm</th>
            <th *ngIf="selectedOccupation == 'job'">Company Name</th>
            <th>Designation</th>
            <th>Mobile Number</th>
            <th>View Profile</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let user of filteredOccupation">
            <td>{{ user.firstName}}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.occupationName }}</td>
            <td>{{ user.occupationDescription }}</td>
            <td>{{ user.contact }}</td>
            <td class="viewProfileCell">
              <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="getProfileData(user.id)">
                <img [src]="viewProfile" alt="view profile">
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredOccupation.length <= 0">
            <td colspan="6">No data found</td>
          </tr>
        </tbody>
      </table> 
    </div> 
  </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title m-0 p-0" id="exampleModalLabel">Profile</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div *ngIf="!display && !(!!profileData)"><h3 class="m-0 p-0">Loading...</h3></div>

        <div class="display-content" *ngIf="display">
      
          <div class="user-detail">
              <div class="profile-picture-div">
                  <div class="image">
                      <img [src]="profileData.picture" alt="profile picture">
                  </div>
              </div>

              <table class="profile-table table table-striped">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <td>{{profileData.lastName}} {{profileData.firstName}} {{profileData.middleName}}</td>
                  </tr>
                  <tr>
                    <th>Father's Name</th>
                    <td>{{profileData.fathersName}}</td>
                  </tr>
                  <tr>
                    <th>Mother's Name</th>
                    <td>{{profileData.mothersName}}</td>
                  </tr>
                  <tr>
                    <th>Date of Birth</th>
                    <td>{{profileData.dateOfBirth}}</td>
                  </tr>
                  <tr>
                    <th>Contact number</th>
                    <td>{{profileData.contact}}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{profileData.email}}</td>
                  </tr>
                  <tr *ngIf="isAdmin">
                    <th>Bloodgroup</th>
                    <td>{{profileData.bloodGroup}}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{address}}</td>
                  </tr>
                </tbody>
              </table>
      
          </div>
      </div>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>