@mixin defaultTabStyle{
    border-radius: 5px;
    color: #33334f;
}

table{
    width: 100%;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.userManagementSearch, .occupationSearch{
	box-shadow: none;
	border: 1px solid #33334f;
}

.userManagementSearch::placeholder, .occupationSearch::placeholder {
	color: #33334f;
}

.viewProfileCell img, .action-button img{
	width: 25px;
}

hr{
	border-top: 2px solid #808080;
	margin: 1rem 0.5rem;
}

.btn{
	box-shadow: none;
	outline: 0;
}

.main-category-div{
	margin: 20px 0;
}

.category-div {
	width: 150px;
	flex-basis: 300px;
	flex-grow: 1;
	text-align: center;
}

.category-div,
.user-management-category-div,
.blood-group-category-div,
.match-making-category-div,
.occupational-category-div,
.table-div{
	// margin: 0 20px;
    padding: 0 20px;
}
  
input[type="radio"].designed-radio-button{
	visibility: hidden;
	height: 0;
	width: 0;
}
  
label{
	cursor: pointer;
	color: black;
	padding: 5px 10px;
	// border-radius: 3px;
	padding: 5px;
	font-size: 20px;
	transition: all .1s ease-out;
	text-align: center;
	width: 100%;
}

// label.match-making-label{
// 	padding: 13px;
// }

input[type="radio"]:checked + label{
    border: 2.5px solid #808080;
}

input[type="radio"]:not(:checked) + label{
    border-bottom: 2.5px solid #808080;
}





label.user-management,
label.registered-users,
label.unregistered-users{
    @include defaultTabStyle;
    background-color: rgba($color: #a2a2d3, $alpha: 0.5);
}
input[type="radio"]:checked + label.user-management,
input[type="radio"]:checked + label.registered-users,
input[type="radio"]:checked + label.unregistered-users{
	background-color: rgba($color: #a2a2d3, $alpha: 1.0);
}





label.blood-group,
label.blood-group-label{
    @include defaultTabStyle;
    background-color: rgba($color: #FFAEAE, $alpha: 0.5);
}
input[type="radio"]:checked + label.blood-group,
input[type="radio"]:checked + label.blood-group-label{
	background-color: rgba($color: #FFAEAE, $alpha: 1.0);
}





label.match-making-genders{
	@include defaultTabStyle;
    background-color: rgba($color: #a2a2d3, $alpha: 0.5);
}
input[type="radio"]:checked + label.match-making-genders{
	background-color: rgba($color: #a2a2d3, $alpha: 1.0);
}





label.match-making,
label.match-making-label{
	@include defaultTabStyle;
    background-color: rgba($color: #FF73E9, $alpha: 0.5);
}
input[type="radio"]:checked + label.match-making,
input[type="radio"]:checked + label.match-making-label{
	background-color: rgba($color: #FF73E9, $alpha: 1.0);
}





label.occupational,
label.job,
label.business{
	@include defaultTabStyle;
    background-color: rgba($color: #C9C9FD, $alpha: 0.5);
}
input[type="radio"]:checked + label.occupational,
input[type="radio"]:checked + label.job,
input[type="radio"]:checked + label.business{
	background-color: rgba($color: #C9C9FD, $alpha: 1.0);
}





@media (min-width: 0px) and (max-width: 600px){
	.filter-div{
		flex-direction: column;
		margin-bottom: 30px;
	}
	
	.radio-button-div{
		justify-content: flex-start;
	}

	.radio-div{
		margin-right: 30px;
	}
}
@media (min-width: 6000px) and (max-width: 768px){}
@media (min-width: 769px) and (max-width: 992px){}
@media (min-width: 993px) and (max-width: 1200px){}
@media (min-width: 12000px){}





















h2{
    margin: 0;
    padding: 3px;
}

.profile-table td, .profile-table th {
    text-align: left !important;
    vertical-align: middle !important;
}

.display-content{
    display: flex;
}

.user-detail{
    margin: 10px;

    .profile-picture-div{
        display: flex;
        flex-direction: column;
        align-items: center;
		margin-bottom: 30px;
    
        .image img{
            border-radius: 50%;
        }
    
        .name{
            margin-top: 20px;
            color: #f87060;
    
            h1{
                font-weight: 600;
                letter-spacing: 5px;
            }
        }
    }

    .content-div{
        display: flex;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.08);
        padding: 0px 10px;
        margin: 10px 0px;

        .lable{
            color: #914138;
        }

        .value{
            color: #f48d82;
        }
    }
}


@media screen and (min-width: 0px) and (max-width: 600px){
    .display-content{
        flex-direction: column-reverse;
    }

    h2{
        font-size: 15px;
    }
    
    .action-btn-div{
        justify-content: space-evenly;
    
        .action-btn{
            width: 80px;
        }
    }
    
    .user-detail{
        .profile-picture-div{
            .image img{
                width: 100px;
                height: 100px;
            }
        
            .name{
                h1{
                    font-size: 20px;
                }
            }
        }
    
        .content-div{
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 768px){
    .display-content{
        flex-direction: column-reverse;
    }

    h2{
        font-size: 17px;
    }
    
    .action-btn-div{
        justify-content: space-evenly;
    
        .action-btn{
            width: 150px;
        }
    }
    
    .user-detail{
        .profile-picture-div{
            .image img{
                width: 120px;
                height: 120px;
            }
        
            .name{
                h1{
                    font-size: 20px;
                }
            }
        }
    
        .content-div{
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .display-content{
        flex-direction: column-reverse;
    }

    h2{
        font-size: 20px;
    }
    
    .action-btn-div{
        justify-content: space-evenly;
    
        .action-btn{
            width: 200px;
        }
    }
    
    .user-detail{
        .profile-picture-div{
            .image img{
                width: 120px;
                height: 120px;
            }
        
            .name{
                h1{
                    font-size: 27px;
                }
            }
        }
    
        .content-div{
            flex-direction: row;
            .lable{
                width: 25%;
            }

            .vlaue{
                width: 75%;
            }
        }
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    .display-content{
        flex-direction: column;
    }
    
    .action-btn-div{
        justify-content: end;
    
        .action-btn{
            width: 100px;
            margin-left: 50px;
        }
    }
    
    .user-detail{
        .profile-picture-div{
            .image img{
                width: 150px;
                height: 150px;
            }
        }
    
        .content-div{
            align-items: start;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.08);
            padding: 0px 10px;
            margin: 10px 0px;
    
            .lable{
                width: 25%;
            }
    
            .value{
                width: 75%;
            }
        }
    }
}

@media screen and (min-width: 1201px){
    .display-content{
        flex-direction: column;
    }
    
    .action-btn-div{
        justify-content: end;
    
        .action-btn{
            color: white;
            width: 100px;
            margin-left: 50px;
            text-align: center;
            border-radius: 5px;
        }
    }
    
    .user-detail{
        .profile-picture-div{
            .image img{
                width: 150px;
                height: 150px;
            }
        }
    
        .content-div{
            align-items: start;
            .lable{
                width: 25%;
            }
    
            .value{
                width: 75%;
            }
        }
    }
}