.trust-grid{
    display: grid;
    // margin: 75px 50px 0px 50px;
    grid-template-columns: repeat(3, 1fr);
    // grid-gap: 50px;
  }
  
  .first, .second{
    background-color: rgba($color: #f87060, $alpha: 1.0);
    border-radius: 22px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 25px;
  
    .image-div{
      img{
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
      }
    }
  
    .about-div{
      margin: 25px 0px 20px 0px;
      text-align: center;
  
      h2{
        font-size: 25px;
        letter-spacing: 2px;
      }
  
      h2, h3{
        color: white;
      }
    }
  
    .contect{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 20px;
      margin: 0 30px;
      padding: 5px 0;
  
      .icon-div{
        color: #18631b;
        mat-icon{
         font-size: 27px;
        }
      }
  
      .contect-text-div{
        margin-left: 10px;
        font-size: 17px;
        color: #f87060;
        margin-top: 3px;
      }
    }
  }
  
  @media screen and (min-width: 0px) and (max-width: 600px){
    .trust-grid{
      margin: 25px 30px 0px 30px;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .first, .second{
      border-radius: 15px;
      margin: 25px;
    
      .image-div{
        img{
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
    
      .about-div{
        margin: 25px 0px 20px 0px;
        text-align: center;
    
        h2{
          font-size: 22px;
          letter-spacing: 2px;
        }
  
        h3{
          font-size: 13px;
        }
    
        h2, h3{
          color: white;
        }
      }
    
      .contect{
        border-radius: 10px;
        margin: 0 30px;
        padding: 5px 0 0 0;
    
        .icon-div{
          color: #18631b;
          mat-icon{
           font-size: 27px;
          }
        }
    
        .contect-text-div{
          margin-left: 10px;
          font-size: 17px;
          color: #f87060;
          margin-top: 3px;
        }
      }
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 768px){
    .trust-grid{
      margin: 25px 30px 0px 30px;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .first, .second{
      border-radius: 15px;
      margin: 25px;
    
      .image-div{
        img{
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
    
      .about-div{
        margin: 25px 0px 20px 0px;
        text-align: center;
    
        h2{
          font-size: 25px;
          letter-spacing: 2px;
        }
  
        h3{
          font-size: 17px;
        }
    
        h2, h3{
          color: white;
        }
      }
    
      .contect{
        border-radius: 10px;
        margin: 0 30px;
        padding: 5px 0 0 0;
    
        .icon-div{
          color: #18631b;
          mat-icon{
           font-size: 27px;
          }
        }
    
        .contect-text-div{
          margin-left: 10px;
          font-size: 17px;
          color: #f87060;
          margin-top: 3px;
        }
      }
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 992px){
    .trust-grid{
      margin: 25px 30px 0px 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .first, .second{
      border-radius: 15px;
      margin: 25px;
    
      .image-div{
        img{
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
    
      .about-div{
        margin: 25px 0px 20px 0px;
        text-align: center;
    
        h2{
          font-size: 22px;
          letter-spacing: 2px;
        }
  
        h3{
          font-size: 13px;
        }
    
        h2, h3{
          color: white;
        }
      }
    
      .contect{
        border-radius: 10px;
        margin: 0 30px;
        padding: 5px 0 0 0;
    
        .icon-div{
          color: #18631b;
          mat-icon{
           font-size: 27px;
          }
        }
    
        .contect-text-div{
          margin-left: 10px;
          font-size: 17px;
          color: #f87060;
          margin-top: 3px;
        }
      }
    }
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px){
    .trust-grid{
      margin: 25px 30px 0px 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .first, .second{
      border-radius: 15px;
      margin: 25px;
    
      .image-div{
        img{
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
    
      .about-div{
        margin: 25px 0px 20px 0px;
        text-align: center;
    
        h2{
          font-size: 22px;
          letter-spacing: 2px;
        }
  
        h3{
          font-size: 13px;
        }
    
        h2, h3{
          color: white;
        }
      }
    
      .contect{
        border-radius: 10px;
        margin: 0 30px;
        padding: 5px 0 0 0;
    
        .icon-div{
          color: #18631b;
          mat-icon{
           font-size: 27px;
          }
        }
    
        .contect-text-div{
          margin-left: 10px;
          font-size: 17px;
          color: #f87060;
          margin-top: 3px;
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px){
    .trust-grid{
      margin: 25px 30px 0px 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .first, .second{
      border-radius: 15px;
      margin: 25px;
    
      .image-div{
        img{
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
    
      .about-div{
        margin: 25px 0px 20px 0px;
        text-align: center;
    
        h2{
          font-size: 22px;
          letter-spacing: 2px;
        }
  
        h3{
          font-size: 13px;
        }
    
        h2, h3{
          color: white;
        }
      }
    
      .contect{
        border-radius: 10px;
        margin: 0 30px;
        padding: 5px 0 0 0;
    
        .icon-div{
          color: #18631b;
          mat-icon{
           font-size: 27px;
          }
        }
    
        .contect-text-div{
          margin-left: 10px;
          font-size: 17px;
          color: #f87060;
          margin-top: 3px;
        }
      }
    }
  }