<div class="trust-grid d-flex flex-wrap justify-content-around">
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="image1Path" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title">નૉંદેરા પ્રગતિ મંડળ</h2>
      <p class="card-text">નૉંદેરા પ્રગતિ મંડળનું સરનામું</p>
      <a [routerLink]="['/shree-nondera-pragati-mandal']" class="w-100 btn">વધુ માહિતી</a>
    </div>
  </div>
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="image1Path" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title">મહિલા મંડળ</h2>
      <p class="card-text">મહિલા મંડળનું સરનામું</p>
      <a [routerLink]="['/shree-nondera-mahila-mandal']" class="w-100 btn">વધુ માહિતી</a>
    </div>
  </div>
</div>