$dark-blue : rgb(51, 51, 79);

.card{
  max-width: 25rem;
  border: 3px solid rgb(51, 51, 79);
}

.btn{
  color: $dark-blue;
  background-color: white;
}

.card-body{
  color: whitesmoke;
  background-color: $dark-blue;
}