<div class="trust-grid">
    <div class="first" [routerLink]="['/nondera-pragati-mandal']">
      <div class="image-div">
        <img [src]="image1Path" alt="trust 1">
      </div>
      <div class="about-div ">
        <h2>શ્રી નૉંદેરા પ્રગતિ મંડળ</h2>
        <h3>શ્રી નૉંદેરા પ્રગતિ મંડળનું સરનામું</h3>
        <div class="contect">
          <div class="icon-div">
            <mat-icon>call</mat-icon>
          </div>
          <div class="contect-text-div">
            <p>+91 1234567890</p>
          </div>
        </div>
        <!-- <a [routerLink]="['/trusts']">વધુ માહિતી</a> -->
      </div>
    </div>
    <div class="second" [routerLink]="['/nondera-pragati-mandal']">
      <div class="image-div">
        <img [src]="image1Path" alt="trust 1">
      </div>
      <div class="about-div">
        <h2>શ્રી મહિલા મંડળ</h2>
        <h3>શ્રી મહિલા મંડળનું સરનામું</h3>
        <div class="contect">
          <div class="icon-div">
            <mat-icon>call</mat-icon>
          </div>
          <div class="contect-text-div">
            <p>+91 1234567890</p>
          </div>
        </div>
        <!-- <a [routerLink]="['/trusts']">વધુ માહિતી</a> -->
      </div>
    </div>
  </div>