<!-- Navbar Start -->
<div class="navbar-div">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img class="img-fluid" width="45" src="../../assets/images/site_logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મુખ પૃષ્ઠ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">જ્ઞાતિ સંબંધિત</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મંદિર સંબંધિત</a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ટ્રસ્ટ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</a>
            <!-- <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/trusts']">શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">મંડળ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-pragati-mandal']">નૉંદેરા પ્રગતિ મંડળ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-mahila-mandal']">મહિલા મંડળ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ગેલેરી</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/audio']">ઓડિયો ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/video']">વિડિઓ ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/photo']">ફોટો ગેલેરી</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/donation']">દાન-દક્ષિણા</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']">સંપર્ક</a>
        </li>
      </ul>
      <div class="buttons d-flex flex-column flex-lg-row flex-fill">
        <div>
          <a class="btn liveButton" [routerLink]="['/home']">લાઈવ દર્શન</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->

<div class="login-page d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-lg-around justify-content-xl-around align-items-center login-page-div">
  <div class="image-div w-50 text-center">
    <h2 class="shlok">ॐ त्र्यम्बकं यजामहे सुगन्धिं पुष्टिवर्धनम् ।</h2>
    <h2 class="shlok">उर्वारुकमिव बन्धनान् मृत्योर्मुक्षीय मामृतात् ॥</h2>
    <img class="img-fluid" width="350" src="../../../assets/images/login _page.png" alt="">
    <h4 class="shlok">અમે ભગવાન શિવની પૂજા કરીએ છીએ, જેમને ત્રણ આંખો છે,</h4>
    <h4 class="shlok">જે દરેક શ્વાસમાં જીવન શક્તિનો સંચાર કરે છે અને સમગ્ર વિશ્વને ટકાવી રાખે છે.</h4>
  </div>
  <div class="form-div p-3 ">
      <h1 class="text-center font-weight-bold">લોગીન</h1>
      <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
        <div class="email-div my-3">
          <input type="text" class="form-control" formControlName="emailOrContact" placeholder="ઈમેલ અથવા ફોન નંબર">
          <span *ngIf="emailOrContact && emailOrContact.invalid && emailOrContact.touched">લોગિન માટે ઈમેલ અથવા ફોન નંબર જરૂરી છે.</span>
        </div>
        <div class="password-div my-3">
          <input type="password" class="form-control" formControlName="password" placeholder="પાસવર્ડ">
          <span *ngIf="password && password.invalid && password.touched">કૃપા કરીને માન્ય પાસવર્ડ દાખલ કરો.</span>
        </div>

        <div class="links d-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row justify-content-sm-around justify-content-md-around justify-content-lg-around justify-content-xl-around">
          <div class="link">
            <a (click)="forgotPass()">તમારો પાસવર્ડ ભૂલી ગયા છો?</a>
          </div>
        </div>
        
        <div class="text-center">
          <button class="btn login-button" type="submit">લોગીન</button>
        </div>
      </form>

      <div class="links d-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row justify-content-sm-around justify-content-md-around justify-content-lg-around justify-content-xl-around">
        <div class="link create-account">
          <a [routerLink]="['/auth/register']">તમારું એકાઉન્ટ બનાવો</a>
        </div>
        <div class="link home-page">
          <a class="homeButton" [routerLink]="['/home']">હોમ પેજ પર પાછા ફરો</a>
        </div>
      </div>
  </div>
</div>