$gray-color-shade : #cdd7d6;
$orange-gray-color-shade : #f87060;

mat-form-field{
  width: 100%;
  margin-bottom: 10px;
}


.loginButton{
  width: 100%;
  margin-top: 20px;
  font-size: larger;
  font-weight: 500;
  color: white ;
  background-color: $orange-gray-color-shade;
  border-radius: 10px;
}

.homeButtonDiv, .registerButtonDiv{
    
  a{
    color: $orange-gray-color-shade;
    text-decoration: none;
  }

  text-align: center;
  margin-top: 30px;
}

.title-div h1{
  font-size: xx-large;
  font-weight: 500;
  color: $orange-gray-color-shade;
  text-align: center;
}
/*End of input style*/

.navigation{
  display: flex;
  justify-content: space-around;
}

.navigation-div{
  text-align: center;
  a{
    color: #f87060;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px){

  .navigation{
    flex-direction: column-reverse;
  }

  .navigation-div{
    margin: 10px 0px;
  }

  .main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1000px;
  }

  .svg-div{
    width: 60%;
  }

  .svg-div img{
    width: 100%;
  }

  .form-div{
    text-align: -webkit-center;
    width: 80%;
  }

  .loginFormDiv{
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px){

  .navigation{
    flex-direction: row-reverse;
  }

  .navigation-div{
    margin: 25px 0px;
  }

  .svg-div{
    text-align: center;
    width: 44%;
  }

  .svg-div img{
    width: 100%;
  }

  .form-div{
    padding: 0px 50px;
    text-align: -webkit-center;
    width: 100%;
  }
}

@media screen and (min-width: 992px){
  .main-div{
    width: 1000px;
    height: 600px;
    margin: 0 15%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1000px;
  }
  
  .svg-div{
    width: 50%;
  }
  .svg-div img{
    width: 100%;
  }
  
  .form-div{
    padding-top: 50px;
    width: 50%;
  }
  
  .loginFormDiv{
    margin: 10%;
    background-color: white;
  }
}

@media screen and (min-width: 1200px){
  .main-div{
    width: 1000px;
    height: 600px;
    margin: 0 15%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1000px;
  }
  
  .svg-div{
    width: 50%;
  }
  .svg-div img{
    width: 100%;
  }
  
  .form-div{
    padding-top: 50px;
    width: 50%;
  }
  
  .loginFormDiv{
    margin: 10%;
    background-color: white;
  }
}