.loginFormDiv{
    width: 30%;
    margin: auto;
    padding-top: 12%;
    text-align: center;
}

.formItem{
    margin-bottom: 5%;
}

input{
    width: 100%;
}

button[type='submit']{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    background-color: blue;
}

.button{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}