.loginPage{
  background-image: url('../../../assets/images/58064\ [Converted]-1.png');
}

mat-card-title{
    font-family: 'Anek Gujarati';
    color: #FF6200;
}

mat-icon{
    color: #FF6200;
}

mat-form-field{
  width: 100%;
  margin-bottom: 2%;
}

mat-card-title{
  font-size: 200%;
  margin-left: 39%;
}
.example-card {
  width: 400px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
}

.loginbtn{
  background-color : red;
  color : #ffffff;
}
