<div class="registerFormDiv">
  <div class="row buttonsDiv">
    <div class="d-flex col justify-content-center">
      <button mat-button [routerLink]="['/auth/login']">Login</button>
    </div>
    <div class="d-flex col justify-content-center registerButtonOnBar">
      <button mat-button>Register</button>
    </div>
  </div>
  <div class="registerForm">
    <form [formGroup]="RegistrationFormGroup" (ngSubmit)="register()">

      <div class="titles">
        <h3>Personal Information</h3>
      </div>

      <!-- Prifile Picture  -->
      <div class="inputDiv profile-div">
        <div class="profile-img-div">
          <img *ngIf="imageBase64" [src]="imageBase64" class="image">
          <img *ngIf="!imageBase64" [src]="blankImage" class="image">
        </div>
        <div class="upload-profile-img-div">
          <button mat-button class="file-upload-button">
            <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="onSelectFile($event)"/>
          </button>
        </div>
      </div>
     
      <!-- First Name & Last Name -->
      <div class="name-div">
        <div class="inputDiv firstNameInputDiv">
          <input type="text" formControlName="firstname" class="form-control" placeholder="First name">
          <span style="color: red;" *ngIf="firstname && firstname.invalid && firstname.touched">
            First name is required!
          </span>
        </div>
        <div class="inputDiv lastNameInputDiv">
          <input type="text" formControlName="lastname" class="form-control" placeholder="Last name">
          <span style="color: red;" *ngIf="lastname && lastname.invalid && lastname.touched">
            Last name is required!
          </span>
        </div>
      </div>

      <!-- Contact & Email -->
      <div class="email-contact-div">
        <div class="inputDiv contactInputDiv">
          <input type="tel" formControlName="contact" minlength="10" maxlength="10" class="form-control" placeholder="Contact">
          <span style="color: red;" *ngIf="contact && contact.invalid && contact.touched">
            Please enater valid contact number!
          </span>
        </div>
        <div class="inputDiv emailInputDiv">
          <input type="email" formControlName="email" class="form-control" placeholder="Email">
          <span style="color: red;" *ngIf="email && email.invalid && email.touched">
            Email is required!
          </span>
        </div>
      </div>

      <!-- Password & Confirm Password -->
      <div class="password-div">
        <div class="inputDiv passwordInputDiv">
          <input type="password" formControlName="password" class="form-control" placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" (keyup)="onPasswordValidation()">
          <span style="color: red;"*ngIf="password && password.touched && password.errors?.['required']">
            Password is required!
          </span>
          <span style="color: red;" *ngIf="password.errors?.['pattern']">
            Password must contain at least one number,one uppercase and lowercase letter, at least 8 or more
            characters.<br>
          </span>
        </div>
        <div class="inputDiv passwordInputDiv">
          <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Confirm password"
          (change)="onPasswordChange()">
          <span style="color: red;"*ngIf="confirmpassword && confirmpassword.invalid && password.errors?.['required']">
            Please enter confirm password!
          </span>
          <span style="color: red;" *ngIf="confirmpassword.errors?.['mismatch']">
            Confirm Password must be matched with above password!
          </span>
        </div>
      </div>
       
      <!-- Blood Group -->
      <div class="inputDiv blood-group-div">
        <div class="select">
          <select name="format" id="format" formControlName="bloodgroup">
            <option disabled value="" selected>Select Bloodgroup</option>
            <option value="{{item}}" *ngFor="let item of bloodGrouptList" >{{ item }}</option>
         </select>
        </div>
          <span style="color: red;" *ngIf="bloodgroup && bloodgroup.invalid && bloodgroup.touched">
            Bloodgroup is required!
          </span>
      </div>
      
      <div class="titles">
        <h3>Address</h3>
      </div>

      <!-- Address -->
      <div class="address-div">
        <div class="address-lines">
          <div class="inputDiv address-line-1">
            <input type="text" formControlName="addressLine1" class="form-control" placeholder="Address line 1">
            <span style="color: red;" *ngIf="addressLine1 && addressLine1.invalid && addressLine1.touched">
              Address is required!
            </span>
          </div>
          <div class="inputDiv address-line-landmark">
            <input type="text" formControlName="addressLineLandmark" class="form-control" placeholder="Nearest landmark (optional)">
          </div>
        </div>
        <div class="city-pincode">
          <div class="inputDiv address-line-city">
            <input type="text" formControlName="addressLineCity" class="form-control" placeholder="City">
            <span style="color: red;" *ngIf="addressLineCity && addressLineCity.invalid && addressLineCity.touched">
              Please enter your city!
            </span>
          </div>
          <div class="inputDiv address-line-pincode">
            <input type="text" pattern="[0-9]+" minlength="6" maxlength="6" formControlName="addressLinePincode" class="form-control" placeholder="Pincode">
            <span style="color: red;" *ngIf="addressLinePincode && addressLinePincode.invalid && addressLinePincode.touched">
              Please enter valid Pincode
            </span>
          </div>
        </div>
      </div>

      <div class="titles">
        <h3>Occupation or Business</h3>
      </div>
      
      <!-- Occupation / Business -->
      <div class="occupation-Business-div">
        <div class="inputDiv occupation-business-name">
          <input type="text" formControlName="occupationBusiness" class="form-control" placeholder="Occupation/Business">
          <span style="color: red;" *ngIf="occupationBusiness && occupationBusiness.invalid && occupationBusiness.touched">
            Please enter your occupation or business!
          </span>
        </div>
        <div class="inputDiv occupation-business-description">
          <textarea formControlName="description" class="form-control" placeholder="Description (optional)"></textarea>
        </div>
      </div>       

      <!-- Register Button -->
      <div class="submitButtonDiv">
        <button class="btn registerButton" [disabled]="RegistrationFormGroup.invalid">Register</button>
      </div>
    </form>
    <div class="homeButtonDiv">
      <a class="homeButton" [routerLink]="['/home']">Back to home</a>
    </div>
  </div>
</div>