$gray-color-shade : #cdd7d6;
$orange-gray-color-shade : #f87060;

.registerFormDiv{
  max-width: 700px;
  // max-width: 400px;
  margin: 30px auto;
  padding: 35px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
  border-radius: 15px;
}

.titles{
  padding-left: 20px;
  border-radius: 5px;
  color: #d8685c;
  background-color: rgba(248, 112, 96, 0.1);
}

.titles h3{
  font-size: 20px;
}

.name-div, .email-contact-div, .password-div, .address-lines, .city-pincode{
  display: grid;
  column-gap: 10px;
  // grid-template-columns: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.buttonsDiv{
  border-bottom: 2px solid $orange-gray-color-shade;
  margin-bottom: 10px;
}

.registerForm{
  margin-top: 20px;
}

.inputDiv{
  margin-bottom: 20px;
}

.registerButtonOnBar{
  color: white;
  background-color: $orange-gray-color-shade;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.registerButton{
  width: 100%;
  color: white;
  background-color: $orange-gray-color-shade;
}

.homeButtonDiv{
  margin-top: 20px;
  text-align: center;
}

.homeButton{
  color: $orange-gray-color-shade;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .registerFormDiv{
    max-width: 340px;
  }

  .registerButtonOnBar{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }

  .name-div, .email-contact-div, .password-div, .address-lines, .city-pincode{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.profile-div{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.profile-img-div, .upload-profile-img-div{
  margin-bottom: 10px;
}

.profile-img-div img{
  width: 100px;
  height: 100px;
  outline: #cdd7d6 solid 3px;
  border-radius: 50%;
}

.file-upload-button {
  // background-color: #f87060;
  border: 1px solid #f87060;

  &::after {
    content: 'Upload Profile';
    color: #f87060;
  }

  input[type="file"] {
      opacity: 0;
      position: absolute;
  }
}



select {
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: rgb(245, 245, 245);
  flex: 1;
  padding: 0 .5em;
  color:#808080;
  cursor:pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  line-height: 3;
  background: rgb(245, 245, 245);
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #808080;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}