<div class="registerFormDiv">
  <div class="row buttonsDiv">
    <div class="d-flex col justify-content-center">
      <button mat-button [routerLink]="['/auth/login']">Login</button>
    </div>
    <div class="d-flex col justify-content-center registerButtonOnBar">
      <button mat-button>Register</button>
    </div>
  </div>
  <div class="registerForm">
    <form [formGroup]="RegistrationFormGroup" (ngSubmit)="register()">

      <div class="titles">
        <h3>Personal Information</h3>
      </div>

      <!-- First Name & Last Name -->
      <div class="name-div">
        <div class="inputDiv firstNameInputDiv">
          <input type="text" formControlName="firstname" class="form-control" placeholder="first name">
          <span style="color: red;" *ngIf="firstname && firstname.invalid && firstname.touched">
            First name is required!
          </span>
        </div>
        <div class="inputDiv lastNameInputDiv">
          <input type="text" formControlName="lastname" class="form-control" placeholder="last name">
          <span style="color: red;" *ngIf="lastname && lastname.invalid && lastname.touched">
            Last name is required!
          </span>
        </div>
      </div>

      <!-- Contact & Email -->
      <div class="email-contact-div">
        <div class="inputDiv contactInputDiv">
          <input type="tel" formControlName="contact" class="form-control" placeholder="contact">
          <span style="color: red;" *ngIf="contact && contact.invalid && contact.touched">
            Please enater valid contact number!
          </span>
        </div>
        <div class="inputDiv emailInputDiv">
          <input type="email" formControlName="email" class="form-control" placeholder="email">
          <span style="color: red;" *ngIf="email && email.invalid && email.touched">
            Email is required!
          </span>
        </div>
      </div>

      <!-- Password & Confirm Password -->
      <div class="password-div">
        <div class="inputDiv passwordInputDiv">
          <input type="password" formControlName="password" class="form-control" placeholder="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" (change)="onPasswordValidation()">
          <span style="color: red;"*ngIf="password && password.touched && password.errors?.['required']">
            Password is required!
          </span>
          <span style="color: red;" *ngIf="password.errors?.['pattern']">
            Password must contain at least one number,one uppercase and lowercase letter, at least 8 or more
            characters.<br>
          </span>
        </div>
        <div class="inputDiv passwordInputDiv">
          <input type="password" formControlName="confirmpassword" class="form-control" placeholder="confirm password"
          (change)="onPasswordChange()">
          <span style="color: red;"*ngIf="confirmpassword && confirmpassword.invalid && password.errors?.['required']">
            Please enter confirm password!
          </span>
          <span style="color: red;" *ngIf="confirmpassword.errors?.['mismatch']">
            Confirm Password must be matched with above password!
          </span>
        </div>
      </div>
       
      <!-- Blood Group -->
      <div class="inputDiv blood-group-div">
        <input type="email" formControlName="bloodgroup" class="form-control" placeholder="blood group">
        <span style="color: red;" *ngIf="bloodgroup && bloodgroup.invalid && bloodgroup.touched">
          Bloodgroup is required!
        </span>
      </div>
      
      <div class="titles">
        <h3>Address</h3>
      </div>

      <!-- Address -->
      <div class="address-div">
        <div class="address-lines">
          <div class="inputDiv address-line-1">
            <input type="email" formControlName="addressLine1" class="form-control" placeholder="address line 1">
            <span style="color: red;" *ngIf="addressLine1 && addressLine1.invalid && addressLine1.touched">
              Address is required!
            </span>
          </div>
          <div class="inputDiv address-line-landmark">
            <input type="email" formControlName="addressLineLandmark" class="form-control" placeholder="nearest landmark (optional)">
          </div>
        </div>
        <div class="city-pincode">
          <div class="inputDiv address-line-city">
            <input type="email" formControlName="addressLineCity" class="form-control" placeholder="city">
            <span style="color: red;" *ngIf="addressLineCity && addressLineCity.invalid && addressLineCity.touched">
              Please enter your city!
            </span>
          </div>
          <div class="inputDiv address-line-pincode">
            <input type="email" formControlName="addressLinePincode" class="form-control" placeholder="pincode">
            <span style="color: red;" *ngIf="addressLinePincode && addressLinePincode.invalid && addressLinePincode.touched">
              Please enter your Pincode of your city!
            </span>
          </div>
        </div>
      </div>

      <div class="titles">
        <h3>Occupation or Business</h3>
      </div>
      
      <!-- Occupation / Business -->
      <div class="occupation-Business-div">
        <div class="inputDiv occupation-business-name">
          <input type="email" formControlName="occupationBusiness" class="form-control" placeholder="occupation/business">
          <span style="color: red;" *ngIf="occupationBusiness && occupationBusiness.invalid && occupationBusiness.touched">
            Please enter your occupation or business!
          </span>
        </div>
        <div class="inputDiv occupation-business-description">
          <textarea formControlName="description" class="form-control" placeholder="description"></textarea>
        </div>
      </div>       

      <!-- Register Button -->
      <div class="submitButtonDiv">
        <button class="btn registerButton" [disabled]="RegistrationFormGroup.invalid">Register</button>
      </div>
    </form>
    <div class="homeButtonDiv">
      <a class="homeButton" [routerLink]="['/home']">Back to home</a>
    </div>
  </div>
</div>