<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('one')" width="400" src="../../../../../assets/photo-galary/SundarKand/1.jpg" alt="">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('two')" width="400" src="../../../../../assets/photo-galary/SundarKand/2.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('three')" width="400" src="../../../../../assets/photo-galary/SundarKand/3.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('four')" width="400" src="../../../../../assets/photo-galary/SundarKand/4.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('five')" width="400" src="../../../../../assets/photo-galary/SundarKand/5.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" (click)="imagePreview('six')" width="400" src="../../../../../assets/photo-galary/SundarKand/6.jpg" alt="">
        </div>
    </div>    
</div>