<div class="trust-grid">
  <div class="first" [routerLink]="['/nandikeshwar-mahadev-trusts']">
    <div class="image-div">
      <img [src]="image1Path" alt="trust 1">
    </div>
    <div class="about-div ">
      <h2>શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</h2>
      <h3>શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટનું સરનામું</h3>
      <div class="contect">
        <div class="icon-div">
          <mat-icon>call</mat-icon>
        </div>
        <div class="contect-text-div">
          <p>+91 1234567890</p>
        </div>
      </div>
      <!-- <a [routerLink]="['/trusts']">વધુ માહિતી</a> -->
    </div>
  </div>
  <div class="second" [routerLink]="['/nandikeshwar-mahadev-trusts']">
    <div class="image-div">
      <img [src]="image1Path" alt="trust 1">
    </div>
    <div class="about-div">
      <h2>શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</h2>
      <h3>શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટનું સરનામું</h3>
      <div class="contect">
        <div class="icon-div">
          <mat-icon>call</mat-icon>
        </div>
        <div class="contect-text-div">
          <p>+91 1234567890</p>
        </div>
      </div>
      <!-- <a [routerLink]="['/trusts']">વધુ માહિતી</a> -->
    </div>
  </div>
  <div class="third" [routerLink]="['/nandikeshwar-mahadev-trusts']">
    <div class="image-div">
      <img [src]="image1Path" alt="trust 1">
    </div>
    <div class="about-div">
      <h2>શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</h2>
      <h3>શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટનું સરનામું</h3>
      <div class="contect">
        <div class="icon-div">
          <mat-icon>call</mat-icon>
        </div>
        <div class="contect-text-div">
          <p>+91 1234567890</p>
        </div>
      </div>
      <!-- <a [routerLink]="['/trusts']">વધુ માહિતી</a> -->
    </div>
  </div>
</div>