<div class="background">
    <div class="upper-background h-100 d-flex flex-column flex-lg-row justify-content-around align-items-center">
        <div class="order-2 order-lg-1 other text-center text-light p-4 mt-5">
            <h2 class="big-font font-weight-bold">सौराष्ट्रे सोमनाथं च श्रीशैले मल्लिकार्जुनम् |</h2>
            <h2 class="big-font font-weight-bold">उज्जयिन्यां महाकालमोंकारं ममलेश्वरम्‌ ||</h2>
            <h2 class="second-shlok big-font font-weight-bold">परल्यां वैद्यनाथं च डाकिन्यां भीमाशंकरम् |</h2>    
            <h2 class="big-font font-weight-bold">सेतुबंधे तु रामेशं नागेशं दारुकावने ||</h2>    
        </div>
        <div class="order-1 order-lg-2 image text-center mt-3">
            <img class="img-fluid" width="250" src="../../../assets/contact/trisul.svg" alt=""><br>
        </div>
        <div class="order-3 order-lg-3 other text-center text-light p-4 mt-2 mt-md-5">
            <h2 class="big-font font-weight-bold">वाराणस्यां तु विश्वेशं त्र्यंबकं गौतमीतटे |</h2>
            <h2 class="big-font font-weight-bold">हिमालये तु केदारम् घुश्मेशं च शिवालये ||</h2>
            <h2 class="second-shlok big-font font-weight-bold">एतानि ज्योतिर्लिंगानि सायं प्रातः पठेन्नरः |</h2>    
            <h2 class="big-font font-weight-bold">सप्तजन्मकृतं पापं स्मरणेन विनश्यति ||</h2>
        </div>
    </div>
</div>

<div class="mt-5 mb-4 title-tag-div d-flex justify-content-center">
    <div class="text-div">
      <h1 class="font-weight-bold m-0">સંપર્ક</h1>
    </div>
</div>

<div class="loaction-map-div">
<iframe 
    class="map-class"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18251.263327550743!2d73.52336392051207!3d21.848388803344793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39600117683fffff%3A0x67eed21a5aa4700a!2sNandikeshwar%20Mahadev%20Mandir!5e0!3m2!1sen!2sin!4v1680350291438!5m2!1sen!2sin"  
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
</iframe>
</div>
<div class="contact-div row m-0 w-100 my-5">
    <div class="col-sm-12 col-lg-4 col-md-6 my-sm-5">
        <div class="card px-5">
            <div class="card-body text-center">
                <div class="icon-div">
                    <i class="fa fa-envelope icon"></i>
                </div>
                <div class="content-div">
                    <h1 class="card-title">ઇમેઇલ</h1>
                    <h2>ABC@xyz.com</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-lg-4 col-md-6 my-sm-5">
        <div class="card px-5">
            <div class="card-body text-center">
                <div class="icon-div">
                    <i class="fa fa-phone icon"></i>
                </div>
                <div class="content-div">
                    <h1 class="card-title">ફોન / મોબાઈલ</h1>
                    <h2>+91 2640 251056</h2>
                    <h2>+91 94271 31056</h2>
                    <h2>+91 98798 98211</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-lg-4 col-md-6 my-sm-5">
        <div class="card px-5">
            <div class="card-body text-center">
                <div class="icon-div">
                    <i class="fa fa-location-dot icon"></i>
                </div>
                <div class="content-div">
                    <h1 class="card-title">સરનામું</h1>
                    <h2>શ્રી નંદિકેશ્વર મહાદેવ મંદિર</h2>
                    <h2>જીતનગર, રાજપીપળા - 393155,</h2>
                    <h2>ગુજરાત, ભારત.</h2>
                </div>
            </div>
        </div>
    </div>
</div>