$dark-blue : #33334f;
$light-blue : #C9C9FD;

.title-tag-div{
    h1{
      background-color: $light-blue;
      color: $dark-blue;
      padding: 15px 25px;
      border-radius: 20px;
    }
  }
  
  .title{
    background-color: rgba($color: $dark-blue, $alpha: 0.4);
    padding: 7px;
    margin: 30px 53px;
    h2{
      padding: 0;
      margin: 0;
      font-size: 18px;
      color: $dark-blue;
    }
}

.background{
    background-color: black;
    min-height: 400px;
    background-size: 100% 100%;
  
    .other{
      h2{
        font-size: 25px;
        color: white;
        line-height: 35px;
      }
  
      .second-shlok{
        margin-top: 60px;
      }
    }
  }

.icon{
    color: rgba($color: $dark-blue, $alpha: 1);
    font-size: 50px;
    margin-bottom: 20px;
}

.table-title{
    background-color: rgba($color: $dark-blue, $alpha: 0.4);
    padding: 7px;
    margin-bottom: 20px;
}

h1,h2{
    margin: 0;
    padding: 0;
    color: $dark-blue;
}

h1{
    font-weight: bold;
}

h2{
    font-size: 16px;
}

.row{
    width: 100%;
    height: 100%;
     .card:hover{
        transform: scale(1.01);
        border: none;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

.loaction-map-div{
    padding: 0px 50px 20px 50px;
    .map-class {
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }
}

.content-div{
    // background-color: rgba($color: $dark-blue, $alpha: 0.1);
    // border: 3px solid rgba($color: $dark-blue, $alpha: 0.15);
    border-radius: 10px;
    padding: 20px 10px;
}

table{
    tr:nth-of-type(odd) {
      background-color: rgba($color: $dark-blue, $alpha: 0.15);
    }
    tr:nth-of-type(even) {
      background-color: whitesmoke;
    }
}

@media (min-width: 0px) and (max-width: 991.98px){
    tr{
        border-top: 1px solid black;
        td{
            display: block;
        }
    }
}



@media (min-width: 0px) and (max-width: 991.98px){
    .row>*{
        margin: 1rem;
    }

    .icon{
        font-size: 35px;
    }

    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }

    .loaction-map-div{
        padding: 20px;
        .map-class {
            width: 100%;
            height: 250px;
        }
    }

    .background{
        .other{
            h2{
                font-size: 20px;
                color: white;
                line-height: 30px;
            }
            
            .second-shlok{
                margin-top: 40px;
            }
        }
    }
}

@media (min-width: 992px){
    .contact-div{
        padding: 0 45px;
    }

    .designation{
        text-align: center;
    }
}