<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/1.jpg" alt="">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/2.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/3.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/4.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/5.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/shravan-maash/6.jpg" alt="">
        </div>
    </div>    
</div>