<div class="background">
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center mt-5 m-5 m-lg-0">
      <img class="img-fluid" width="300" src="../../../../assets/audio-galary/audio-upper-backgroung.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-3 mt-md-0">
      <h1 class="main-title font-weight-bold">"અ" બ્રહ્માંડ ની ઉત્પત્તિ</h1>
      <h1 class="main-title font-weight-bold">"ઉ" બ્રહ્માંડ નું વિસ્તરણ</h1>
      <h1 class="main-title font-weight-bold">"મ" બ્રહ્માંડ નું વિસર્જન</h1>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0 text-center">{{'audio_title' | translate}}</h1>
  </div>
</div>

<div>
  
  <div class="trust-grid d-flex flex-wrap justify-content-around">
    <div class="card my-4 mx-4">
      <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title"><b>{{'audio_1_title' | translate}}</b></h2>
      <img class="card-img-top" width="400" [src]="image1Path" alt="Card image cap">
      <div class="card-body">
        <div>
          <h3 class="font-weight-bold">{{'audio_1_1' | translate}}</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Jai_Hari_Hara_Aarti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">{{'audio_1_2' | translate}}</h3>
          <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
      </div>
    </div>
    <div class="card my-4 mx-4">
      <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title"><b>{{'audio_2_title' | translate}}</b></h2>
      <img class="card-img-top" width="400" [src]="image2Path" alt="Card image cap">
      <div class="card-body">
        <div>
          <h3 class="font-weight-bold">{{'audio_2_1' | translate}}</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Jay_Adhyashakti_Aarti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">{{'audio_2_2' | translate}}</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Vishvambhari_Stuti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">{{'audio_2_3' | translate}}</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Mahishasura_Mardini_Stotra.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-audios-div d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center my-5 dark-blue-border light-blue-background">
    <div class="bottom-audios bottom-audios-1 d-flex flex-column flex-md-row justify-content-start align-items-start align-items-md-center">
      <div class="w-50">
        <h2 class="m-0 py-3 font-weight-bold">{{'audio_3_1' | translate}}</h2>
      </div>
      <div class="my-1 my-md-2 ml-0">
        <audio class="w-100" controls="" src="../../../../assets/audios/Dutt_Bavani.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
    <div class="bottom-audios bottom-audios-2 d-flex flex-column flex-md-row justify-content-start align-items-center">
      <div>
        <h2 class="m-0 py-3 font-weight-bold">{{'audio_3_2' | translate}}</h2>
      </div>
      <div class="mt-1 my-md-2 ml-0">
        <audio class="w-100" controls="" src="../../../../assets/audios/Shree-aghorkashtodhdhran-strotra.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
  </div>

</div>



