<div class="background">
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center mt-5 m-5 m-lg-0">
      <img class="img-fluid" width="300" src="../../../../assets/audio-galary/audio-upper-backgroung.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-3 mt-md-0">
      <h2 class="main-shlok white-font font-weight-bold">|| ॐ भूर्भुवः स्वः तत्सवितुर्वरेण्यं भर्गो देवस्यः धीमहि धियो यो नः प्रचोदयात् ||</h2>
      <h4 class="explain white-font font-weight-bold mt-5">ૐ (પરમાત્મા) ભૂ: (પ્રાણ સ્વરૂપ) ભુવ: (દુ:ખનાશક) સ્વ: (સુખ સ્વરૂપ) તત (તે)</h4>
      <h4 class="explain white-font font-weight-bold">સવિતુ: (તેજસ્વી) વરેણ્યં (શ્રેષ્ઠ) ભર્ગો: (પાપ નાશક) દેવસ્ય (દિવ્ય) ધીમહી</h4>
      <h4 class="explain white-font font-weight-bold">(ધારણ કરો) ધિયો (બુધ્ધિ) યો (જો) ન: (અમારી) પ્રચોદયાત (પ્રેરિત કરો)</h4>
      <h4 class="gujarati white-font font-weight-bold mt-5">તે પ્રાણ સ્વરૂપ, દુ:ખનાશક, સુખ સ્વરૂપ, શ્રેષ્ઠ તેજસ્વી, પાપનાશક, દેવ સ્વરૂપ</h4>
      <h4 class="gujarati white-font font-weight-bold">પરમાત્માને અમે અંતરાત્માથી ધારણ કરીએ. તે પરમાત્મા અમારી બુધ્ધિને સારા માર્ગે દોરે.</h4>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold">ઓડિયો ગેલેરી</h1>
  </div>
</div>

<div>
  
  <div class="trust-grid d-flex flex-wrap justify-content-around">
    <div class="card my-4 mx-4">
      <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title"><b>શ્રી નંદિકેશ્વર મહાદેવ</b></h2>
      <img class="card-img-top" width="400" [src]="image1Path" alt="Card image cap">
      <div class="card-body">
        <div>
          <h3 class="font-weight-bold">જય હરિ-હરા આરતી</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Jai_Hari_Hara_Aarti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">શિવ તાંડવ</h3>
          <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
      </div>
    </div>
    <div class="card my-4 mx-4">
      <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title"><b>શ્રી નવદુર્ગા માતા</b></h2>
      <img class="card-img-top" width="400" [src]="image2Path" alt="Card image cap">
      <div class="card-body">
        <div>
          <h3 class="font-weight-bold">જય આધ્યા શક્તિ આરતી</h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Jay_Adhyashakti_Aarti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">વિશ્વમ્ભરી સ્તુતિ </h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Vishvambhari_Stuti.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
        <div>
          <h3 class="font-weight-bold">મહિસાસુર મર્દિની સ્તોત્ર
          </h3>
          <audio class="w-100" controls="" src="../../../../assets/audios/Mahishasura_Mardini_Stotra.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-audios-div d-flex flex-column flex-lg-row justify-content-start justify-content-md-between align-items-center my-5 dark-blue-border light-blue-background">
    <div class="bottom-audios bottom-audios-1 d-flex flex-column flex-md-row justify-content-start align-items-start align-items-md-center">
      <div class="w-50">
        <h2 class="m-0 py-3 font-weight-bold">દત્ત બાવની</h2>
      </div>
      <div class="my-1 my-md-2 ml-0">
        <audio class="w-100" controls="" src="../../../../assets/audios/Dutt_Bavani.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
    <div class="bottom-audios bottom-audios-2 d-flex flex-column flex-md-row justify-content-start align-items-center">
      <div>
        <h2 class="m-0 py-3 font-weight-bold">શ્રી અઘોરકષ્ટોધ્ધરણ સ્તોત્ર</h2>
      </div>
      <div class="mt-1 my-md-2 ml-0">
        <audio class="w-100" controls="" src="../../../../assets/audios/Shree-aghorkashtodhdhran-strotra.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
  </div>

</div>



