$dark-blue : rgb(51, 51, 79);
$light-blue : #C9C9FD;

.black-font{
  color: black;
}

.light-blue-background{
    background-color: $light-blue;
    color: $dark-blue;
}

.dark-blue-border{
  border: 5px solid rgb(51, 51, 79);
}

.card{
  max-width: 25rem;
  border: 10px solid rgb(51, 51, 79);
}

.btn{
  color: $dark-blue;
  background-color: white;
}

.title-tag-div{
  h1{
    background-color: $light-blue;
    color: $dark-blue;
    padding: 15px 25px;
    border-radius: 20px;
  }
}

.background{
  background-image: url('../../../../assets/audio-galary/audio_backgroung.png');
  background-color: black;
  min-height: 350px;
  background-size: 100% 100%;
}