<div class="background-image-div">
    <div class="text-div">
      <h1 class="text font-weight-bold">ભજન-ભક્તિ-કીર્તન</h1>
    </div>
</div>

<!-- <div class="audio-div">
    <table class="table table-bordered">
        <tbody>
          <tr>
            <td><p>શિવ તાંડવ સ્તોત્ર</p></td>
            <td>
                <audio controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </td>
          </tr>
          <tr>
            <td><p>શિવ પંચાક્ષર સ્તોત્ર (અનુરાધા પૌડવાલ)</p></td>
            <td>
                <audio controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Panchakshar-Stotra-Anuradha-Paudwal.mp3">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </td>
          </tr>
        </tbody>
    </table>
</div> -->

<div class="trust-grid d-flex flex-wrap justify-content-around">
  <div class="card my-4 mx-4">
    <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title">મહાદેવજી</h2>
    <img class="card-img-top" width="400" [src]="image1Path" alt="Card image cap">
    <div class="card-body">
      <div>
        <h3 class="font-weight-bold">શિવ તાંડવ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">શિવ તાંડવ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">શિવ તાંડવ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
  </div>
  <div class="card my-4 mx-4">
    <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title">માતાજી</h2>
    <img class="card-img-top" width="400" [src]="image2Path" alt="Card image cap">
    <div class="card-body">
      <div>
        <h3 class="font-weight-bold">વિશ્વંભરી સ્તુતિ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">વિશ્વંભરી સ્તુતિ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">વિશ્વંભરી સ્તુતિ</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
  </div>
  <div class="card my-4 mx-4">
    <h2 class="light-blue-background text-center py-3 m-0 font-weight-bold card-title">રંગ અવધૂત મહારાજ</h2>
    <img class="card-img-top" width="400" [src]="image3Path" alt="Card image cap">
    <div class="card-body">
      <div>
        <h3 class="font-weight-bold">દત્ત બાવની</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">દત્ત બાવની</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
      <div>
        <h3 class="font-weight-bold">દત્ત બાવની</h3>
        <audio class="w-100" controls="" src="https://www.trimbakeshwartrust.com/assets/uploads/gallery/Audio/Shiv-Tandav-Stotra-Om-Voices.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </div>
    </div>
  </div>
</div>



