$dark-blue : rgb(51, 51, 79);
$light-blue : #C9C9FD;

.white-font{
  color: white;
}

.light-blue-background{
    background-color: $light-blue;
    color: $dark-blue;
}

.dark-blue-border{
  border: 5px solid rgb(51, 51, 79);
}

.card{
  max-width: 25rem;
  border: 10px solid rgb(51, 51, 79);
}

.btn{
  color: $dark-blue;
  background-color: white;
}

.title-tag-div{
  h1{
    background-color: $light-blue;
    color: $dark-blue;
    padding: 15px 25px;
    border-radius: 20px;
  }
}

.background{
  background-color: black;
  min-height: 400px;
  background-size: 100% 100%;
}

@media (min-width: 0px) and (max-width: 575.98px){
  .background{
    .upper-background{
      .other{
        .main-shlok{
          font-size: 17px;
        }
  
        .explain, .gujarati{
          font-size: 13px;
        }
      }
    }
  }

  .bottom-audios-div{
    .bottom-audios{
      width: 80%;

      div{
        width: 100%;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  .background{
    .upper-background{
      .other{
        .main-shlok{
          font-size: 17px;
        }
  
        .explain, .gujarati{
          font-size: 13px;
        }
      }
    }
  }

  .bottom-audios-div{
    .bottom-audios{
      width: 80%;

      div{
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .background{
    .upper-background{
      .other{
        .main-shlok{
          font-size: 23px;
        }
  
        .explain, .gujarati{
          font-size: 20px;
        }
      }
    }
  }

  .bottom-audios-div{
    .bottom-audios{
      width: 80%;

      div{
        width: 100%;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  .background{
    .upper-background{
      .other{
        .main-shlok{
          font-size: 23px;
        }
  
        .explain, .gujarati{
          font-size: 20px;
        }
      }
    }
  }

  .bottom-audios-div{
    .bottom-audios{
      width: 40%;
    }

    div{
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .background{
    .upper-background{
      .other{
        .main-shlok{
          font-size: 23px;
        }
  
        .explain, .gujarati{
          font-size: 20px;
        }
      }
    }
  }

  .bottom-audios-div{
    .bottom-audios{
      width: 40%;

      div{
        width: 100%;
      }
    }
  }
}