<div class="background">
    <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
      <div class="image text-center mt-5 mt-lg-3">
        <img class="img-fluid" width="350" src="../../../assets/video-galary/video-upper_background.svg" alt="">
      </div>
      <div class="other text-center text-light p-4 mt-lg-4">
        <h2 class="main-shlok w-100 font-weight-bold">|| ॐ भूर्भुवः स्वः तत्सवितुर्वरेण्यं भर्गो देवस्यः धीमहि धियो यो नः प्रचोदयात् ||</h2>
        <h4 class="explain white-font font-weight-bold mt-4">ૐ (પરમાત્મા) ભૂ: (પ્રાણ સ્વરૂપ) ભુવ: (દુ:ખનાશક) સ્વ: (સુખ સ્વરૂપ) તત (તે)</h4>
        <h4 class="explain white-font font-weight-bold">સવિતુ: (તેજસ્વી) વરેણ્યં (શ્રેષ્ઠ) ભર્ગો: (પાપ નાશક) દેવસ્ય (દિવ્ય) ધીમહી</h4>
        <h4 class="explain white-font font-weight-bold">(ધારણ કરો) ધિયો (બુધ્ધિ) યો (જો) ન: (અમારી) પ્રચોદયાત (પ્રેરિત કરો)</h4>
        <h4 class="gujarati white-font font-weight-bold mt-4">તે પ્રાણ સ્વરૂપ, દુ:ખનાશક, સુખ સ્વરૂપ, શ્રેષ્ઠ તેજસ્વી, પાપનાશક, દેવ સ્વરૂપ</h4>
        <h4 class="gujarati white-font font-weight-bold">પરમાત્માને અમે અંતરાત્માથી ધારણ કરીએ. તે પરમાત્મા અમારી બુધ્ધિને સારા માર્ગે દોરે.</h4>
      </div>
    </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0 text-center">{{'nearby_attraction_title' | translate}}</h1>
  </div>
</div>

<div class="d-flex flex-wrap w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="http://www.harsiddhimaa.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Harsiddha-Mataji.jpg"
                    alt="હરસિધ્ધિ માતા મંદિર" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_01_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://statueofunity.in/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Statue-Of-Unity.jpg"
                    alt="સ્ટેચ્યું ઓફ યુનિટી" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_02_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.sreedattavaibhavam.org/sree-kshetra-garudeswar/#:~:text=Garudeshwar%20is%20a%20sacred%20place,to%20the%20east%20of%20Rajpipla"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Gurudeshwar-Datta.jpg"
                    alt="ગરુડેશ્વર દત્ત મંદિર" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_03_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://nilkanthdham.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Nilkanthdham-Poicha.jpg"
                    alt="નીલકંઠધામ (પોઇચા)" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_04_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://guj-nwrws.gujarat.gov.in/showpage.aspx?contentid=1603&lang=english" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Karjan-Dam.jpg"
                    alt="કરજણ ડેમ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_05_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com/maps/place/Shri+Rang+Avadhoot+Temple/@21.8770552,73.4981965,17z/data=!3m1!4b1!4m6!3m5!1s0x39600731dfaee5b9:0x6d38d73a0d27c2c0!8m2!3d21.8770552!4d73.5003852!16s%2Fg%2F1hc0xltz2"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rang-Avadhot.jpg"
                    alt="અવધૂત વિશ્રામ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_06_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://sardarsarovardam.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Sardar-Sarovar-Dam.jpg"
                    alt="સરદાર સરોવર ડેમ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_07_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com/maps/place/Junaraj,+Gujarat/@21.7835401,73.5336746,12z/data=!3m1!4b1!4m6!3m5!1s0x3bdff880e1baac3d:0x7b36993a4afae9ad!8m2!3d21.7751862!4d73.5947459!16s%2Fg%2F12hp_q59t"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Junaraj.jpg" alt="જુનારાજ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_08_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://hi.wikipedia.org/wiki/%E0%A4%A8%E0%A4%B0%E0%A5%8D%E0%A4%AE%E0%A4%A6%E0%A4%BE_%E0%A4%AA%E0%A4%B0%E0%A4%BF%E0%A4%95%E0%A5%8D%E0%A4%B0%E0%A4%AE%E0%A4%BE" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Narmada.jpg"
                    alt="ઉત્તર વાહિની નર્મદા પરિક્રમા" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_09_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://statueofunity.in/shoolpaneshwar-mahadev-mandir-dhwajarohan/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Shoolpaneshwar_Temple.jpg"
                    alt="શૂલપાણેશ્વર મહાદેવ મંદિર" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_10_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://vmc.gov.in/Wadhwana.aspx" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vadhvana-Bird-Sanctuary,.jpg"
                    alt="વઢવાણા પક્ષી અભયારણ્ય" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_11_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.gujarattourism.com/accommodation/heritage-hotel/rajvant-palace-resort--narmada.html" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rajvant-Palace-Resort.jpg"
                    alt="રાજવંત પેલેસ રિસોર્ટ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_12_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://indravikramsingh.blogspot.com/2015/08/vadia-palace-rajpiplaa-marvel-of.html" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Indrajit-Padmini-Mahal.jpg"
                    alt="ઇન્દ્રજિત-પદ્મિની મહેલ (વાડિયા પેલેસ)" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_13_title' | translate}}</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://vishalkhadi.com/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vishala-Khadi-Eco-Campsite.jpg"
                    alt="વિશાલા ખાડી ઈકો કેમ્પસાઈટ" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">{{'nearby_attraction_14_title' | translate}}</h2>
        </div>
    </div>
</div>