<div class="background-image-div">
    <div class="text-div">
      <h1 class="text font-weight-bold">નજીકના આકર્ષક સ્થળો</h1>
    </div>
</div>
<div class="main-title-div col-lg-12">
    <h1 class="text font-weight-bold text-coffee text-center text-lowercase py-4" style="color: rgb(32, 32, 103);">
        નજીકના આકર્ષક સ્થળો <i class="text-uppercase text-orange"></i>
    </h1>
</div>

<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Harsiddha-Mataji.jpg" alt="Harasiddhi Mata Mandir">
        </div>
        <div class="title-div">
            <h2 class="text m-0">હરસિધ્ધિ માતા મંદિર</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Statue-Of-Unity.jpg" alt="Statue Of Unity">
        </div>
        <div class="title-div">
            <h2 class="text m-0">સ્ટેચ્યું ઓફ યુનિટી</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Gurudeshwar-Datta.jpg" alt="Garudeshwar Datt Mandir">
        </div>
        <div class="title-div">
            <h2 class="text m-0">ગુરુદેશ્વર દત્ત મંદિર</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Nilkanthdham-Poicha.jpg" alt="Nilkanthdham - Poicha">
        </div>
        <div class="title-div">
            <h2 class="text m-0">નીલકંઠધામ - પોઇચા</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Karjan-Dam.jpg" alt="Karjan Dam">
        </div>
        <div class="title-div">
            <h2 class="text m-0">કરજણ ડેમ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rang-Avadhot.jpg" alt="Shri Rang Avadhoot Temple">
        </div>
        <div class="title-div">
            <h2 class="text m-0">શ્રી રંગ અવધૂત મંદિર</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Sardar-Sarovar-Dam.jpg" alt="Sardar Sarovar Dam">
        </div>
        <div class="title-div">
            <h2 class="text m-0">સરદાર સરોવર ડેમ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Junaraj.jpg" alt="Junaraj">
        </div>
        <div class="title-div">
            <h2 class="text m-0">જુનારાજ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Bar-Vanjar-Waterfall.jpeg" alt="Bar Vanjar Waterfall">
        </div>
        <div class="title-div">
            <h2 class="text m-0">બાર વણજાર ધોધ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Reva-Tent-City.jpg" alt="Reva Tent city">
        </div>
        <div class="title-div">
            <h2 class="text m-0">રેવા ટેન્ટ સિટી</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vadhvana-Bird-Sanctuary,.jpg" alt="Vadhvana Bird Sanctuary">
        </div>
        <div class="title-div">
            <h2 class="text m-0">વઢવાણા પક્ષી અભયારણ્ય</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rajvant-Palace-Resort.jpg" alt="Rajvant Palace Resort">
        </div>
        <div class="title-div">
            <h2 class="text m-0">રાજવંત પેલેસ રિસોર્ટ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Indrajit-Padmini-Mahal.jpg" alt="Indrajit-Padmini Mahal">
        </div>
        <div class="title-div">
            <h2 class="text m-0">ઇન્દ્રજિત-પદ્મિની મહેલ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vishala-Khadi-Eco-Campsite.jpg" alt="Vishala Khadi Eco Campsite">
        </div>
        <div class="title-div">
            <h2 class="text m-0">વિશાલા ખાદી ઈકો કેમ્પસાઈટ</h2>
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../assets/nearest-places/Kashi-Vishwanath-Mahadev-Temple.jpg" alt="Kashi Vishwanath Mahadev Temple">
        </div>
        <div class="title-div">
            <h2 class="text m-0">કાશી વિશ્વનાથ મહાદેવ મંદિર</h2>
        </div>
    </div>
</div>

<hr>

<div class="extra-text-div mx-3">
    <h3 class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે
        અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા
        અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ
        ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા
        છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની ચોથી સૌથી વધુ
        બોલાતી દક્ષિણ એશિયન ભાષા છે.
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે
        અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા
        અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ
        ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા
        છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની અને તમિલ પછીની ચોથી સૌથી વધુ
        બોલાતી દક્ષિણ એશિયન ભાષા છે.
    </h3>
    <h3 class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે
        અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા
        અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ
        ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા
        છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની ચોથી સૌથી વધુ
        બોલાતી દક્ષિણ એશિયન ભાષા છે.
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે
        અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા
        અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ
        ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા
        છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની અને તમિલ પછીની ચોથી સૌથી વધુ
        બોલાતી દક્ષિણ એશિયન ભાષા છે.
    </h3>
</div>