<div class="background-image-div">
    <div class="text-div">
        <h1 class="text font-weight-bold">નજીકના આકર્ષક સ્થળો</h1>
    </div>
</div>

<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="http://www.harsiddhimaa.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Harsiddha-Mataji.jpg"
                    alt="Harasiddhi Mata Mandir" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">હરસિધ્ધિ માતા મંદિર</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://statueofunity.in/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Statue-Of-Unity.jpg"
                    alt="Statue Of Unity" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">સ્ટેચ્યું ઓફ યુનિટી</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.sreedattavaibhavam.org/sree-kshetra-garudeswar/#:~:text=Garudeshwar%20is%20a%20sacred%20place,to%20the%20east%20of%20Rajpipla"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Gurudeshwar-Datta.jpg"
                    alt="Garudeshwar Datt Mandir" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">ગુરુદેશ્વર દત્ત મંદિર</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://nilkanthdham.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Nilkanthdham-Poicha.jpg"
                    alt="Nilkanthdham - Poicha" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">નીલકંઠધામ - પોઇચા</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://guj-nwrws.gujarat.gov.in/showpage.aspx?contentid=1603&lang=english" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Karjan-Dam.jpg"
                    alt="Karjan Dam" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">કરજણ ડેમ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com/maps/place/Shri+Rang+Avadhoot+Temple/@21.8770552,73.4981965,17z/data=!3m1!4b1!4m6!3m5!1s0x39600731dfaee5b9:0x6d38d73a0d27c2c0!8m2!3d21.8770552!4d73.5003852!16s%2Fg%2F1hc0xltz2"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rang-Avadhot.jpg"
                    alt="Shri Rang Avadhoot Temple" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">શ્રી રંગ અવધૂત મંદિર</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://sardarsarovardam.org/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Sardar-Sarovar-Dam.jpg"
                    alt="Sardar Sarovar Dam" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">સરદાર સરોવર ડેમ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com/maps/place/Junaraj,+Gujarat/@21.7835401,73.5336746,12z/data=!3m1!4b1!4m6!3m5!1s0x3bdff880e1baac3d:0x7b36993a4afae9ad!8m2!3d21.7751862!4d73.5947459!16s%2Fg%2F12hp_q59t"
                target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Junaraj.jpg" alt="Junaraj" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">જુનારાજ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com.pk/travel/entity/key/ChoIxPXr39mmy4LlARoNL2cvMTFqNmhzNzZxdhAE?ved=0CAAQ5JsGahcKEwjArenMzu39AhUAAAAAHQAAAAAQAw&ts=CAESABoECgIaACoECgAaAA" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Bar-Vanjar-Waterfall.jpeg"
                    alt="Bar Vanjar Waterfall" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">બાર વણજાર ધોધ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.google.com/maps/place/Reva+Tent+city/@21.8654257,73.6709936,17z/data=!3m1!4b1!4m9!3m8!1s0x39601d15f2cbe453:0x6553f009060f1d52!5m2!4m1!1i2!8m2!3d21.8654257!4d73.6731823!16s%2Fg%2F11q3vdvq9c" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Reva-Tent-City.jpg"
                    alt="Reva Tent city" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">રેવા ટેન્ટ સિટી</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://vmc.gov.in/Wadhwana.aspx" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vadhvana-Bird-Sanctuary,.jpg"
                    alt="Vadhvana Bird Sanctuary" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">વઢવાણા પક્ષી અભયારણ્ય</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://www.gujarattourism.com/accommodation/heritage-hotel/rajvant-palace-resort--narmada.html" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Rajvant-Palace-Resort.jpg"
                    alt="Rajvant Palace Resort" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">રાજવંત પેલેસ રિસોર્ટ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://indravikramsingh.blogspot.com/2015/08/vadia-palace-rajpiplaa-marvel-of.html" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Indrajit-Padmini-Mahal.jpg"
                    alt="Indrajit-Padmini Mahal" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">ઇન્દ્રજિત-પદ્મિની મહેલ (વાડિયા પેલેસ)</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://vishalkhadi.com/" target="_blank">
                <img class="img-fluid" width="400" src="../../../assets/nearest-places/Vishala-Khadi-Eco-Campsite.jpg"
                    alt="Vishala Khadi Eco Campsite" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">વિશાલા ખાદી ઈકો કેમ્પસાઈટ</h2>
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <a href="https://pravase.co.in/thingstododetail/316/india/gujarat/kashi-vishwanath-mahadev-chanod" target="_blank">
                <img class="img-fluid" width="400"
                    src="../../../assets/nearest-places/Kashi-Vishwanath-Mahadev-Temple.jpg"
                    alt="Kashi Vishwanath Mahadev Temple" />
            </a>
        </div>
        <div class="title-div">
            <h2 class="text m-0">કાશી વિશ્વનાથ મહાદેવ મંદિર  (ચાણોદ)</h2>
        </div>
    </div>
</div>