<div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-center mb-5">
    <div class="text-container text-light">
      <div class="h-100 d-flex flex-column justify-content-between">
        <div class="mb-5 mb-lg-0">
          <h1 class="text-center">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
          <h1 class="text-center">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
        </div>
        <div>
          <h5 class="ribbon-title">आनन्दं निर्भयं भक्त वाञ्छित् प्रदायकम् |</h5>
          <h5 class="ribbon-title">भवानी पतिमाचार्यं वंन्दे श्रीनन्दिकेश्वरम् ||</h5>
          <p class="ribbon-text text-justify mt-4">
            આનંદ અને નિર્ભય ના દાતા, ભક્તોની મનોકામનાઓ પૂર્ણ કરનાર, પાર્વતી ના પતિ અને આચાર્ય એવા શ્રી નંદિકેશ્વર મહાદેવ ને હું વંદન કરું છું.
          </p>
        </div>
      </div>
      
    </div>
    <div class="image-container text-center text-lg-right">
      <img class="img-fluid" width="450" src="../../../assets/mandir-sambandhit/mandir-sambandhit-ribbon-image-png.png" alt="">
    </div>
</div>


<div class="title rounded">
  <h2><b>મંદિર નો ઈતિહાસ:</b></h2>
</div>


<div class="details">
  <h3>
    શ્રી નંદિકેશ્વર મહાદેવ મંદિર ની સ્થાપના ભગવાન શ્રી શિવજી ની અનુકંપાથી તેમના અત્યંત પ્રિય ગણ શ્રી નંદી દ્વારા લગભગ આજથી ૧૬૫૦ વર્ષ પૂર્વે કરવામાં આવી એમ ઇતિહાસકારો ના પ્રમાણ દર્શાવે છે.
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંદિર નું સ્થળ:</b></h2>
</div>

<div class="details">
  <h3>
    શ્રી નંદિકેશ્વર મહાદેવ મંદિર વિંધ્યાચળ ની રમણીય પર્વતમાળા વચ્ચે, નર્મદા નદી થી પાંચકોશ દૂર, પવિત્ર કરજણ નદી ના કિનારે, રાજપીપલા નગર થી ૪ કી.મી. દૂર જંગલ ના આદિવાસી વિસ્તારમાં જીતનગર મુકામે આવેલું છે.
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંદિર નું સ્વરૂપ:</b></h2>
</div>

<div class="details">
  <h3>પુરાતત્વ ના જાણકારો પ્રમાણ, હાલમાં જે મંદિર છે તે  ૩૫૦ થી ૫૦૦ વર્ષ પ્રાચીન છે તેમ પ્રમાણિત  થયું છે. નાગર શૈલી માં બનાવેલ આ મંદિરમાં આજે પણ તેની મૂર્તિ, ઘુમ્મટ, બાંધણી, ઈંટો, ચણતર, દરવાજા, કમાન તથા શિલ્પો અકબંધ સચવાયેલ છે. જેના થકી તેની પ્રાચીનતા સિદ્ધ થાય છે.</h3>
  <h3>શિવલિંગ, માતાજીની પ્રાચીન મૂર્તિ તથા મહિષમર્દિની ની મૂર્તિ થી મંદિર ની પવિત્રતા જળવાયેલા છે.</h3>
</div>

<div class="title rounded">
  <h2><b>મંદિર નો જીર્ણોદ્ધાર:</b></h2>
</div>

<div class="details">
  <h3>કાળક્રમે જીર્ણ થતા આ મંદિર નો જીર્ણોદ્ધાર કરવાનું વિચારવામાં આવ્યું. સૌ પ્રથમ નવદુર્ગા માતા ની બેઠક સાથે નૂતન મૂર્તિની પ્રાણ પ્રતિષ્ઠા તથા સતી માતા ના ચોતરા નું નવીનીકરણ નોંદેરા જ્ઞાતિ દ્વારા કરવામાં આવ્યું.</h3>
  <h3>ત્યારબાદ ગણપતિજી અને હનુમાનજી ની નૂતન મૂર્તિની પ્રાણપ્રતિષ્ઠા કરવામાં આવ્યું.</h3>
  <h3>મંદિર ના ઢાંચા ને સલામત રાખી ને મંદિર ની અંદર અને બહારના પરિવેશને નવીન સ્વરૂપ આપીને સુદ્રઢ અને સુશોભિત કરાયું. શાસ્ત્રીય રીતે અને તકનીકી સ્વરૂપે આ કાર્ય ખુબ જ મુશ્કેલ હતું. પરંતુ આ અદ્યતન મંદિર નું કાર્ય શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ અને શ્રી નોંદેરા બ્રાહ્મણ પ્રગતિ મંડળ દ્વારા અતિ પરિશ્રમ થી પૂર્ણ થયું છે.</h3>
  <h3>શ્રી નંદિકેશ્વર મહાદેવ મંદિર આજુબાજુ ના તથા જંગલ ના સુદૂર વિસ્તારો ના ભક્તોનું શ્રદ્ધાકેન્દ્ર છે. ભક્તો બધાજ ઉત્સવોની ઉજવણી ભક્તિ પૂર્વક કરે છે. વિશેષ કરીને પવિત્ર શ્રાવણ માસ માં આદિવાસીઓ નો મેળો ભરાય છે. નવરાત્રી માં ગ્રામ્ય વિસ્તારો થી માતાજીની સવારી મંદિરે પધારે છે. શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ દ્વારા આયોજિત દૈનિક અને પ્રાસંગિક કાર્યક્રમો ની ઉજવણી માં મોટા પ્રમાણ માં જ્ઞાતિજનો ની હાજરી હંમેશા હોય છે.</h3>
</div>
  