<div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-center align-items-center">
    <div class="text-container text-light">
      <h1 class="ribbon-title">લોરેમ ઇપ્સમ</h1>
      <p class="ribbon-text">લોરેમ ઇપ્સમ એ પ્રિન્ટિંગ અને ટાઇપસેટિંગ ઉદ્યોગનું ખાલી ડમી ટેક્સ્ટ છે. 
        1500 ના દાયકાથી લોરેમ ઇપ્સમ એ ઉદ્યોગનું પ્રમાણભૂત ડમી ટેક્સ્ટ છે, 
        જ્યારે કોઈ અજાણ્યા પ્રિન્ટર પ્રકારનો એક ગેલી લઈને તેને એક પ્રકારનો નમૂનો પુસ્તક બનાવવા માટે સ્ક્રેમ્બલ કરે છે.</p>
    </div>
    <div class="image-container text-center text-lg-right">
      <img class="img-fluid" width="450" src="../../../assets/mandir-sambandhit/mandir-sambandhit-ribbon-image.svg" alt="">
    </div>
</div>
  