<h1 class="text-center main-title">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</h1>

<div class="title rounded">
  <h2>ઈતિહાસ</h2>
</div>

<div class="details">
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
</div>


<div class="title rounded">
  <h2>હેતુ અને ઉદ્દેશ</h2>
</div>

<div class="details">
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
</div>


<div class="title rounded">
  <h2>વાર્ષિક કામગીરી</h2>
</div>

<div class="details">
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
  <h3>ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે, જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે. ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.</h3>
</div>

<div class="title rounded">
  <h2>ટ્રસ્ટીઓ</h2>
</div>

<div class="details trustees-images rounded d-flex flex-wrap justify-content-around">
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નામ</h2>
      <p class="card-text">હોદ્દો</p>
    </div>
  </div>
</div>