<div class="background">
  <div class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center">
    <div class="image text-center mt-5">
      <img class="img-fluid" width="400" src="../../../../assets/trust-mandal/background_4.png" alt=""><br>
    </div>
    <div class="other text-center text-light p-4 mt-5">
      <h4 class="big-font font-weight-bold">मृत्युंजय महादेव त्राहिमां शरणागतम |</h4>
      <h4 class="big-font font-weight-bold">जन्म मृत्यु जरा व्याधि पीड़ितं कर्म बंधनः ||</h4>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">
      <p class="text-center m-0">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</p>
      <p class="registration-number text-center m-0">(રજીસ્ટ્રેશન નંબર: એ-૭૩/નર્મદા)</p>
    </h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>ટ્રસ્ટ નો ઈતિહાસ:</b></h2>
</div>

<div class="details">

  <h3>
    શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ ની સ્થાપના વિક્રમ સંવત ૨૦૧૭ એટલે ઈ. સ. ૧૯૬૧-૬૨ માં થઇ. ત્યાર પહેલા નોંદેરા જ્ઞાતિ ના ભદામ નિવાસી સંનિષ્ઠ કાર્યકર શ્રી લાભશંકર ગણપતરામ પાઠકે જ્ઞાતિજનો ના સાથ અને સહકાર થી સ્વેચ્છાએ ઘણા વર્ષો સુધી નિષ્ઠાપૂર્વક અને પ્રામાણિકતાથી મંદિરની સેવા આપી હતી.
  </h3>

  
    
</div>


<div class="title rounded">
  <h2><b>ટ્રસ્ટ નો હેતુ:</b></h2>
</div>

<div class="details">
  <h3>
    તે સમયે દેવસ્થાનની જર્જરિત હાલત જીર્ણોદ્ધાર માંગી લે તેવી હતી. ઇષ્ટદેવ શ્રી નંદિકેશ્વર મહાદેવ અને કુળદેવી શ્રી નવદુર્ગા માતા ની નિયમિત પણે વ્યવસ્થિત પૂજા થાય, સ્થાન નો સર્વાંગી વિકાસ થાય તે હેતુ થી શ્રી લાભશંકર ગણપતરામ પાઠક ના પ્રમુખપણા હેઠળ શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ ની સ્થાપના કરવામાં આવી હતી.  
  </h3>
  <h3 class="mt-3">
    શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ દ્વારા આયોજનપૂર્વક કરવાના કામોની રૂપરેખા તૈયાર કરવામાં આવી જે નીચે પ્રમાણે છે.
  </h3>

  <h3 class="mt-3">
    ૧. ઇષ્ટદેવ શ્રી નંદિકેશ્વર મહાદેવ તથા કુળદેવી શ્રી નવદુર્ગા માતા ની નિયમિત પૂજા થાય તેવી વ્યવસ્થા. 
  </h3>
  <h3>
    ૨. મહાશિવરાત્રી, શ્રાવણ માસ અને બીજા ધાર્મિક પર્વો ભક્તિ પૂર્વક ઉજવાય તેવી વ્યવસ્થા. 
  </h3>
  <h3>
    ૩. જ્ઞાતિજનોને રહેવા, જમવા, તેમજ અન્ય સુવિધાઓ ઉભી કરવી.  
  </h3>
  <h3>
    ૪. જ્ઞાતિજનોને ધાર્મિક અને સામાજિક કાર્યક્રમો કરવા માટે ચોવીસ કલાક વીજળી, પાણી, વાસણ, ગાદલા મળી રહે તેવી વ્યવસ્થા કરવી. 
  </h3>
  <h3>
    ૫. જ્ઞાતિ ના તેમજ દેવસ્થાનો નાં પ્રાચીન ઇતિહાસ નું સંશોધન કરવું. 
  </h3>
  <h3>
    ૬. ઉપરોક્ત દરેક કાર્ય માટે ભંડોળ ભેગું કરી વિવિધ ફંડો બનાવવા.
  </h3>
</div>


<div class="title rounded">
  <h2><b>ટ્રસ્ટ દ્વારા થતા આયોજનો:</b></h2>
</div>

<div class="details">

  <h3 class="m-0 detail-subtitles">
    <b>મહા વદ તેરસ મહાશિવરાત્રી:</b>
  </h3>
  <h3>
    આ દિવસે દર વર્ષે શ્રી નંદિકેશ્વર દાદા ની મહાપુજા, પ્રહર પૂજા, પંચવક્ર પૂજા, ઉપરાંત હોમાત્મક લઘુરુદ્ર, સહસ્ત્ર બિલ્વાર્પણ, અને નવચંડી જેવા ધાર્મિક પર્વો નું આયોજન થાય છે. પરાપૂર્વની પરંપરા મુજબ શિવજીનો વરઘોડો, શિવ મહિમ્ન સ્તોત્ર નું સમૂહ પારાયણ, રાત્રે ભજન સંધ્યા તથા ગરબાનું આયોજન થાય છે. 
  </h3>
  <h3>
    શિવજી નો વરઘોડો નીજ મંદિર થી નીકળી શ્રી મણિનાગેશ્વર મહાદેવ મંદિર જઈ પરત આવે છે. પધારેલ જ્ઞાતિજનો ની રહેવાની, જમવાની, ફળાહાર, અને બીજા દિવસના પારણા ની બધી જ વ્યવસ્થા શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ સંભાળે છે. 
  </h3>
  <h3>
    દર વર્ષે યોજાતી શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ ની વાર્ષિક ચર્ચા સભામાં ભગવાન ની આરાધના ના વિશેષ સૂચનો ની ચર્ચા વિચારણા થાય, વાર્ષિક અહેવાલ રજુ થાય, તથા આગામી કાર્યક્રમો ની જાહેરાત થાય છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>શ્રાવણ માસ ઉજવણી:</b>
  </h3>
  <h3>
    પવિત્ર શ્રાવણ માસ ના ઉપક્રમે સંપૂર્ણ મહિના દરમ્યાન શ્રી ચિંતામણી પાર્થેશ્વર પૂજન નું આયોજન થાય છે. શ્રાવણ માસ ના છેલ્લા સોમવારે જપાત્મક લઘુરુદ્ર પૂજન નું આયોજન અને બ્રહ્મભોજન ના આયોજન માં જ્ઞાતિજનો વિશેષ લાભ લે છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>દૈનિક રુદ્રાભિષેક અને ચંડી પાઠ:</b>
  </h3>
  <h3>
    ભગવાન શ્રી નંદિકેશ્વર દાદાની પ્રસન્નતા તથા શ્રી નવદુર્ગા માતાની કૃપા જ્ઞાતિજનો પર અવિરત પણે રહે તેવા ઉમદા હેતુ થી દૈનિક રુદ્રાભિષેક અને દૈનિક ચંડીપાઠ ઘણા વર્ષો થી નિયમિતપણે સંપન્ન થાય છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>અખંડ દીવો:</b>
  </h3>
  <h3>
    મહાદેવજી ના ગર્ભગૃહ માં શુદ્ધ ઘી નો અખંડ દીવો પરાપૂર્વથી પ્રજ્વલીત છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>સવાલક્ષ બિલ્વાર્પણ:</b>
  </h3>
  <h3>
    પુણ્યદાયક શ્રાવણ માસમાં શિવલિંગ ને સવાલક્ષ બીલીપત્ર અર્પણ કરવામાં આવે છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>પ્રસંગોપાત વિશેષ આયોજન:</b>
  </h3>
  <h3>
    શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ દ્વારા વિવિધ ઉપાસના ના કાર્ય રૂપે જુદા જુદા સમયે વિષ્ણુયાગ, દત્ત યાગ, મહારુદ્ર, શ્રીમદ ભાગવતકથા, સુંદરકાંડ નું આયોજન થયેલ છે. તથા વિશિષ્ટ અર્ચન સ્વરૂપે જ્ઞાતિજનો ના વિવિધ સમૂહ દ્વારા ચૈત્ર માસ માં નવચંડી તથા સહસ્ત્ર કળશ સ્નપન જેવા ઉત્તમ કાર્યક્રમ યોજાવાનું  શ્રેય શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ ને સાંપડે છે.
  </h3>
  <h3>
    સોનામાં સુગંધ ઉમેરાય તેમ મહાદેવ ની સર્વોચ્ચ ઉપાસના રૂપ અતિરૂદ્ર યજ્ઞ  તથા માતાજી ની પરમ ઉપાસના રૂપ શતચંડી યાગ નું બે વખત (સાલ ૧૯૮૬ અને સાલ ૨૦૦૫) આયોજન ગુજરાત ના બ્રાહ્મણો માં ટ્રસ્ટ નું શિરમોર પ્રદાન છે.
  </h3>
  <h3>
    શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ ના આયોજન ના ઉપક્રમે જ્ઞાતિજનોને વિશેષ સંતગણો ના આશીર્વાદ પ્રાપ્ત થતા રહ્યા છે.  જગદ્ગુરુ શંકરાચાર્ય શ્રી સ્વરૂપાનંદ સરસ્વતીજી મહારાજ, વત્સ પીઠાધીશ્વર શ્રી અનિરુદ્ધાચાર્યજી, શ્રી મસ્ત રાઘવ મહારાજ, શ્રી જગદીશગિરિજી મહારાજ, અને શ્રી વેંકટેશાચાર્યજી ની ઉપસ્થિતિ થી જ્ઞાતિજનો નું પ્રાંગણ પલ્લવિત થતું રહ્યું છે.
  </h3>
  
</div>

<div class="title rounded">
  <h2><b>સાત્વિક દાન:</b></h2>
</div>

<div class="details">

  <div class="qr-main-div d-flex flex-column flex-lg-row justify-content-around justify-content-lg-around align-items-center">
    <div class="qr-div text-center">
      <img src="../../../../assets/images/QR-code--image.png" alt="">
    </div>
    <div class="form-div w-100">
      <div class="row">
        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="નામ">
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="ઈમેલ">
        </div>
        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="ફોન નંબર">
        </div>
        <div class="col-12 col-lg-6">
          <input type="number" class="form-control" placeholder="Total amount">
        </div>
        <div class="col-12 col-lg-6">
          <textarea class="form-control" rows="1" placeholder="વર્ણન"></textarea>
        </div>
        <div class="col-12 col-md-6 check-box-div">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1"checked>
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            જીર્ણોદ્ધાર નિમિત્તે
          </label>
        </div>
        <div class="col-12 col-md-6 check-box-div">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            અખંડ દિવા નિમિત્તે
          </label>
        </div>
        <div class="col-12 col-md-6 check-box-div">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            અખંડ દિવા નિમિત્તે
          </label>
        </div>
        <div class="col-12 col-md-6 check-box-div">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
          <label class="form-check-label radio-button-label" for="flexRadioDefault2">
            પૂજા નિમિત્તે
          </label>
        </div>
        <div class="col-12 col-md-6 check-box-div">
          <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
          <label class="form-check-label radio-button-label" for="flexRadioDefault1">
            અન્ય
          </label>
        </div>
      </div>
      <div class="submit-button-div text-center mb-4">
        <button class="btn w-75 btn-success">દાન કરો</button>
      </div>
    </div>
  </div>
  
</div>

<div class="title rounded">
  <h2><b>દાતાઓ:</b></h2>
</div>

<div class="container-fluid donators w-100">
  <div class="profiles d-flex flex-wrap justify-content-center justify-content-md-around">
    <div class="card" style="width: 10rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Raam Pathak</h3>
        <p class="card-text m-0">5,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Sita Patel</h3>
        <p class="card-text m-0">10,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Shyam Shah</h3>
        <p class="card-text m-0">11,111₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>

  </div>
</div>

<div class="title rounded">
  <h2><b>ટ્રસ્ટીઓ:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

<div class="trustess-table-1 w-100">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class="f">અશોક જયંતીલાલ પાઠક</td>
        <td class="s">પ્રમુખ</td>
      </tr>
      <tr>
        <td class="f">હેમંત વાસુદેવ જોશી</td>
        <td class="s">મંત્રી</td>
      </tr>
      <tr>
        <td class="f">યોગેન્દ્ર અનિરુદ્ધ પાઠક</td>
        <td class="s">ખજાનચી</td>
      </tr>
      <tr>
        <td class="f">ડૉ. જનાર્દન હૈગ્રીવ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">યોગેશ પ્રમોદચંદ્ર શુક્લ</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <!-- <tr>
        <td class="f">હરેશ ચુનીભાઈ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">દિલીપ શાંતિલાલ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr> -->
    </tbody>
  </table>
</div>

<div class="trustess-table-2 w-100">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class="f">હરેશ ચુનીભાઈ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">દિલીપ શાંતિલાલ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">જયેશ રેવાશંકર શુક્લ</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">નિલેશ શિવકુમાર પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">વિમલ ગોવિંદભાઇ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <!-- <tr>
        <td class="f">શ્રીપાદ નિરંજન પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">ધર્મેન્દ્ર રજનીકાંત પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">મૌલિક ભરતભાઈ પાઠક</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr>
      <tr>
        <td class="f">પ્રજ્ઞેશ ઘનશ્યામ વૈદ્ય</td>
        <td class="s">ટ્રસ્ટી</td>
      </tr> -->
    </tbody>
  </table>
</div>

</div>

<div class="title rounded">
  <h2><b>આમંત્રિત ટ્રસ્ટીઓ:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">
  <div class="trustess-table-1 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">શ્રીપાદ નિરંજન પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
        </tr>
        <tr>
          <td class="f">ધર્મેન્દ્ર રજનીકાંત પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">મૌલિક ભરતભાઈ પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
        </tr>
        <tr>
          <td class="f">પ્રજ્ઞેશ ઘનશ્યામ વૈદ્ય</td>
          <td class="s">ટ્રસ્ટી</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="details trustees-images rounded d-flex flex-wrap justify-content-around">
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">અશોક જયંતીલાલ પાઠક</h2>
      <p class="card-text">પ્રમુખ</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હેમંત વાસુદેવ જોશી</h2>
      <p class="card-text">મંત્રી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">યોગેન્દ્ર અનિરુદ્ધ પાઠક</h2>
      <p class="card-text">ખજાનચી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ડૉ. જનાર્દન હૈગ્રીવ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">યોગેશ પ્રમોદચંદ્ર શુક્લ</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હરેશ ચુનીભાઈ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">દિલીપ શાંતિલાલ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">જયેશ રેવાશંકર શુક્લ</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">નિલેશ શિવકુમાર પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">વિમલ ગોવિંદભાઇ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">શ્રીપાદ નિરંજન પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ધર્મેન્દ્ર રજનીકાંત પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">મૌલિક ભરતભાઈ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">પ્રજ્ઞેશ ઘનશ્યામ વૈદ્ય</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>
</div> -->