<div class="navbarHeader">
  <header class="header">
  <a class="logo"></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a id="home" [routerLink]="['/home']">હોમ</a></li>
    <li><a id="trust" [routerLink]="['/home']">ટ્રસ્ટ</a></li>
    <li><a id="profile" [routerLink]="['/home']">પ્રોફાઈલ</a></li>
    <li><a id="about" [routerLink]="['/about-us']">અબાઉટ</a></li>
    <li><a id="login" [routerLink]="['/auth']">લોગીન</a></li>
  </ul>
  </header>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>