<mat-progress-spinner [diameter]="50" [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
<router-outlet></router-outlet>

<!-- <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div>
        <img src="../assets/images/under-cunstruction-image.svg" class="img-fluid" width="300" alt="">
    </div>
    <div class="text-center">
        <h1><i class="fa-solid fa-hands-praying"></i> જય નંદિકેશ્વર મહાદેવ, જય નવદુર્ગા માતા <i class="fa-solid fa-hands-praying"></i></h1>
        <h2>નોંદેરા પરિવાર ની વેબસાઇટની મુલાકાત લેવા બદલ આભાર.</h2>
        <h2>આ વેબસાઈટ <u><b><i>૧૫ મી ઓક્ટોબર, ૨૦૨૩</i></b></u> ના રોજ વિશ્વાર્પણ થવાની છે. અમે તમારી ધીરજની પ્રશંસા કરીએ છીએ, અને તમને થોડો સમય રાહ જોવાની વિનંતી કરીએ છીએ.</h2>
    </div>
</div> -->