*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9c809;
    padding: 10px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

ul li[class='loginBtn']{
    display: none;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 10px;
    font-size: 20px;
}

ul li a:active, 
ul li a:hover{
    padding: 10px;
    background-color: black;
    color: #ffffff;
}

#icon{
    cursor: pointer;
}

#icon:hover{
    background-color: #ecd503;
}

#icon svg{
    color: #ffffff;
    height: 28px;
}

#checkbox, #icon{
    display: none;
}

.content{
    overflow-y: auto !important;
}

#loginIcon svg{
    color: #ffffff;
    height: 28px;
}

.loginBtn{
    display: none;
}

@media screen and(max-width: 768px) {
    ul{
        position: absolute;
        width: 50%;
        height: calc(100vh - 42.82px);
        background-color: #f9c809;
        // left: 0;
        right: 0;
        top: 0;
        text-align: center;
        margin-top: 42.82px;
        display: none;
        z-index: 10;
    }

    ul li{
        display: block;
        padding: 10px 20px;
        text-align: left;
    }

    ul li[class='loginIcon']{
        display: none;
    }

    ul li[class='loginBtn']{
        display: block;
    }

    ul li a{
        display: block;
    }

    #icon{
        display: block;
    }

    #checkbox:checked~ul{
        display: block;
    }
}
