<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/CW0_cefY0dk"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_01_title' | translate}}</h6>
      </div>
    </div>
  </div>

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/3WY8DPB7pXY"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_02_title' | translate}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/QeEl1nDoEwo"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_03_title' | translate}}</h6>
      </div>
    </div>
  </div>

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/0XexxpArq08"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_04_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/e1jAhBw0LC4"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_05_title' | translate}}</h6>
      </div>
    </div>
  </div>

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/o0nb5vh4FC0"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_06_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/B2hoSzLy5L4"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_07_title' | translate}}</h6>
      </div>
    </div>
  </div>

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/uKSgWEBsIR8"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_08_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/5wc9oEE3Ezg" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_09_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/9EG8Bqjs7jo" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_10_title' | translate}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/HceonDU0quo" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_11_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/a5RM4-eFhxI" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_12_title' | translate}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/m35GNAVuW2g" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_13_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/y8ufGPCyfa4" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_14_title' | translate}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">

  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/qiUFCN1SmiY" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_15_title' | translate}}</h6>
      </div>
    </div>
  </div>
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/iBYLUOeOMBA" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">{{'video_4_16_title' | translate}}</h6>
      </div>
    </div>
  </div>

</div>