<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
    <div>
      <div class="image-container mt-3">
        <div class="image-div">
          <iframe src="https://www.youtube.com/embed/pOScZTbCZww"
          width="100%" 
          height="300px" 
          frameborder="0"  
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
        </div>
        <div class="title-div">
          <h6 class="mb-0 mt-3">{{'video_3_1_title' | translate}}</h6>
        </div>
      </div>
    </div>
  
    <div>
      <div class="image-container mt-3">
        <div class="image-div">
          <iframe src="https://www.youtube.com/embed/lRhev-UUmrs"
          width="100%" 
          height="300px" 
          frameborder="0"  
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
        </div>
        <div class="title-div">
          <h6 class="mb-0 mt-3">{{'video_3_2_title' | translate}}</h6>
        </div>
      </div>
    </div>
  
  </div>