<div class="background-image-div p-lg-5 p-3">
  <div class="image-width">
    <h1 class="mb-4 margin-left-12">નોંદેરા પરિવાર</h1>
    <p class="text text-justify margin-left-12">
      શિવજી ના અત્યંત પ્રિય ગણ શ્રી નંદી દ્વારા ગુજરાત માં સ્થાપિત નંદીગ્રામ
      (હાલમાં રાજપીપળા) નગર માં સ્થાયી થયેલ ઉત્તમ સદાચારી બ્રાહ્મણ સમૂહ એટલે
      નોંદેરા બ્રાહ્મણ પરિવાર.
    </p>
    <p class="text text-justify margin-left-12">
      દેવી પાર્વતી ની સખીઓ કુળદેવી શ્રી નંદા અને ગોત્રદેવી શ્રી આનંદા નો કૃપા
      પાત્ર બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર.
    </p>
    <p class="text text-justify margin-left-12">
      નંદીગ્રામ ના વણિક રાજા શ્રી નંદ દ્વારા વર્ધન પામેલ બ્રાહ્મણ સમૂહ એટલે
      નોંદેરા બ્રાહ્મણ પરિવાર.
    </p>
    <p class="text text-justify margin-left-12">
      નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ નું પ્રમાણ શ્રી શિવમહાપુરાણ ના ઉપપુરાણ શ્રી
      નંદિપુરાણ અને શ્રી શતરુદ્રીસંહિતા માં મળી આવે છે.
    </p>
    <div>
      <a class="see-more nandi text-right" [routerLink]="['/gyati-sambandhit']">વધુ માહિતી</a>
    </div>
  </div>
</div>

<div class="image-text-div">
  <div
    class="nandikeshwar-mahadev-div d-flex flex-lg-row flex-sm-column flex-md-column align-items-start"
  >
    <div
      class="nandikeshwar-mahadev-image nandikeshwar-mahadev-inner-div align-self-center"
    >
      <img
        src="{{ image1Path }}"
        alt="Shree Nandikeshawar Mahadev Image"
        class="image-container"
      />
    </div>
    <div class="nandikeshwar-mahadev-text nandikeshwar-mahadev-inner-div">
      <h1 class="text-sm-center text-md-center m-sm-4 mb-md-4">
        ઇષ્ટદેવ શ્રી નંદિકેશ્વર મહાદેવ
      </h1>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>

      <div class="see-more text-right">
        <a [routerLink]="['/home']">વધુ માહિતી</a>
      </div>
    </div>
  </div>

  <div
    class="navdurga-mata-div d-flex flex-lg-row-reverse flex-sm-column flex-md-column align-items-start"
  >
    <div class="navdurga-mata-image navdurga-mata-inner-div align-self-center">
      <img
        src="{{ image2Path }}"
        alt="Shree Navdurga Mata Image"
        class="image-container"
      />
    </div>
    <div class="navdurga-mata-text navdurga-mata-inner-div">
      <h1 class="text-sm-center text-md-center m-sm-4 m-md-4">
        કુળદેવી શ્રી નવદુર્ગા માતા
      </h1>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>

      <div class="see-more text-right">
        <a [routerLink]="['/home']">વધુ માહિતી</a>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container-fluid donators w-100">
  <div class="m-5 title-tag-div d-flex justify-content-center">
    <div class="text-div">
      <h1 class="font-weight-bold">દાતાઓ</h1>
    </div>
  </div>

  <div
    class="profiles d-flex flex-wrap justify-content-center justify-content-md-between"
  >
    <div class="card" style="width: 18rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Raam Pathak</h5>
        <p class="card-text">5,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Sita Patel</h5>
        <p class="card-text">10,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Shyam Shah</h5>
        <p class="card-text">11,111₹</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
  </div>
</div>

<hr />

<div
  class="container-fluid birthday d-flex flex-wrap align-items-center justify-content-center justify-content-md-around mb-5"
>
  <div class="card">
    <div class="birthday-title">
      <h1>Today's Birthday</h1>
    </div>
    <div class="birthday-image-div">
      <img
        [src]="birthdayUserImage"
        class="card-img-top"
        alt="Today's birthday"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title m-0">
        {{ firstUserBirthday?.firstName }} {{ firstUserBirthday?.lastName }}
      </h5>
    </div>
  </div>

  <div class="ads h-100 d-flex justify-content-center align-items-center">
    <div
      class="d-flex justify-content-center align-items-center w-100 h-100 rounded"
    >
      <div class="user-visiting-card-div" *ngIf="isVisitingCard">
        <img
          class="img-fluid rounded"
          width="700"
          [src]="userCardImage"
          alt=""
        />
      </div>
      <div *ngIf="!isVisitingCard">
        <h1>Visiting card not available</h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="slider w-100 mb-5">
  <div class="ticker">
    <div class="news">
      <marquee class="news-content">
        <p class="p-3 m-0">
          "Every Good Karma Counts" &nbsp;&nbsp; દરેક સારા કર્મની ગણતરી થાય છે"
        </p>
      </marquee>
    </div>
  </div>
</div> -->
