<div class="header-shlok-div pt-4">
  <div class="home-ribbon-shlok-div text-center my-5 my-md-0">
    <h1 class="main-shlok text-center dark-blue-color font-weight-bold">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
    <h1 class="main-shlok text-center dark-blue-color font-weight-bold m-0 p-0">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
  </div>
</div>

<div class="background-image-div d-flex flex-column-reverse flex-lg-row align-items-end">
  <div class="text-div d-flex flex-column justify-content-end h-100 pt-5">
    <div class="image-width">
      <h1 class="mb-5 margin-left-12"><b>{{'home_ribbon_title' | translate}}</b></h1>
      <p class="text text-justify margin-left-12 mb-4">{{'home_ribbon_description_1' | translate}}</p>
      <p class="text text-justify margin-left-12 mb-4">{{'home_ribbon_description_2' | translate}}</p>
      <p class="text text-justify margin-left-12 mb-4">{{'home_ribbon_description_3' | translate}}</p>
      <p class="text text-justify margin-left-12">{{'home_ribbon_description_4' | translate}}</p>
      <div class="d-flex justify-content-end">
        <a class="see-more nandi text-right" [routerLink]="['/gyati-sambandhit']">{{'see_more' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="nandi-image-div d-flex justify-content-end align-items-end">
    <div class="nandi-image-sub-div">
      <div>
        <img class="ribbon-desktop-view" src="../../../assets/images/nandi-ribbon-image.png" alt="">
        <img class="ribbon-mobile-view" src="../../../assets/images/nandi-ribbon-image-mobile.png" alt="">
      </div>
    </div>
  </div>
</div>



<div class="marquee-container my-5">
  <div class="marquee-content home-marquee">
    <!-- <p class="m-0">{{'disclaimer' | translate}}</p> -->
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | </span>
    <span class="m-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'disclaimer' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </div>
</div>



<div class="image-text-div nandikeshwar-mahadev-div">
  <h1 class="image-tilte text-center m-sm-4">
    <b>{{'shree_nandikeshwar_mahadev' | translate}}</b>
  </h1>
  <div class="d-flex flex-lg-row flex-column flex-md-column align-items-start">
    <div class="nandikeshwar-mahadev-image nandikeshwar-mahadev-inner-div align-self-lg-start align-self-center">
      <img src="{{ image1Path }}" alt="Shree Nandikeshawar Mahadev Image" class="image-container"/>
    </div>
    <div class="nandikeshwar-mahadev-text nandikeshwar-mahadev-inner-div">
      <p class="text text-justify text-center mt-4 mt-lg-0"><b>जटाजुटधारं गले गण्डमालं, तनो सर्पजातां महाकाल कालम् !</b></p>
      <p class="text text-justify text-center"><b>शुभं भस्मरुद्राक्षधारं सदैव, शिवं शङ्करं नन्दिकेशं भजेऽहं !!</b></p>
      <br>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_1' | translate}}</p>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_2' | translate}}</p>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_3' | translate}}</p>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_4' | translate}}</p>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_5' | translate}}</p>
      <p class="text text-justify">{{'shree_nandikeshwar_mahadev_6' | translate}}</p>
      <br>
      <p class="text text-justify text-center"><b>|| तन्मे मनः शिव संकल्पमस्तु ||</b></p>
    </div>
  </div>
</div>

<div class="image-text-div navdurga-mata-div">
  <h1 class="image-tilte text-center m-sm-4">
    <b>{{'shree_navadurga_mata' | translate}}</b>
  </h1>
  <div class="d-flex flex-lg-row-reverse flex-column flex-md-column align-items-start">
    <div class="navdurga-mata-image navdurga-mata-inner-div align-self-lg-start align-self-center">
      <img src="{{ image2Path }}" alt="Shree Navdurga Mata Image" class="image-container"/>
    </div>
    <div class="navdurga-mata-text navdurga-mata-inner-div">
      <p class="text text-justify text-center mt-4 mt-lg-0"><b>प्रथमं शैलपुत्री च द्वितीयं ब्रह्मचारिणी ! तृतीयं चन्द्रघण्टेति कूष्माण्डेति चतुर्थकम् !!</b></p>
      <p class="text text-justify text-center"><b>पंचमं स्कन्दमातेति षष्ठं कात्यायनीति च ! सप्तमं कालरात्रीति महागौरीति चाष्टमम !!</b></p>
      <p class="text text-justify text-center"><b>नवमं सिद्धिदात्री च नवदुर्गा: प्रकीर्तिता: ! उक्तान्येतानि नामानि ब्रह्मणैव महात्मना !!</b></p>
      <br>
      <p class="text text-justify">{{'shree_navadurga_mata_1' | translate}}</p>
      <p class="text text-justify">{{'shree_navadurga_mata_2' | translate}}</p>
      <p class="text text-justify">{{'shree_navadurga_mata_3' | translate}}</p>
      <p class="text text-justify">{{'shree_navadurga_mata_4' | translate}}</p>
      <p class="text text-justify">{{'shree_navadurga_mata_5' | translate}} {{'shree_navadurga_mata_6' | translate}}</p>
      
      <!-- In Gujarati - Start-->
      <br>
      <p class="text text-justify text-center"><b>रमेति देवी दुर्गेषु दुर्गेश्वरी नमोस्तुते || देविपुराण ||</b></p>
      <br>
      <p class="text text-justify">{{'shree_navadurga_mata_7' | translate}}</p>
      <br>
      <p class="text text-justify text-center"><b>गतिस्त्वम् गतिस्त्वम् तवमेका भवानि !!</b></p>
      <!-- In Gujarati - End-->
    </div>
  </div>
</div>
