<!-- <div class="background-image-div p-lg-5 p-3">
  <div class="home-ribbon-shlok-div text-center my-5 my-md-0 w-50">
    <h1 class="text-center text-light">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
    <h1 class="text-center text-light">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
    <p class="m-0 p-0 text-center">--------------------------------------------------------------------------------------------------------</p>
  </div>
  <div class="image-width">
    <h1 class="mb-4 margin-left-12"><b>નોંદેરા પરિવાર</b></h1>
    <p class="text text-justify margin-left-12">
      શિવજી ના અત્યંત પ્રિય ગણ શ્રી નંદી દ્વારા ગુજરાત માં સ્થાપિત નંદીગ્રામ (હાલમાં જીતનગર, રાજપીપળા) નગર માં સ્થાયી થયેલ ઉત્તમ સદાચારી બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર.
    </p>
    <p class="text text-justify margin-left-12">
      દેવી પાર્વતી ની સખીઓ કુળદેવી શ્રી નંદા અને ગોત્રદેવી શ્રી આનંદા નો કૃપા પાત્ર બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર.
    </p>
    <p class="text text-justify margin-left-12">
      નંદીગ્રામ ના વણિક રાજા શ્રી નંદ દ્વારા વર્ધન પામેલ બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર. 
    </p>
    <p class="text text-justify margin-left-12">
      નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ નું પ્રમાણ શ્રી શિવમહાપુરાણ ના ઉપપુરાણ શ્રી નંદિપુરાણ અને શ્રી શતરુદ્રીસંહિતા માં મળી આવે છે.
    </p>
    <div>
      <a class="see-more nandi text-right" [routerLink]="['/gyati-sambandhit']">વધુ માહિતી</a>
    </div>
  </div>
</div> -->

<div class="background-image-div d-flex flex-column-reverse flex-lg-row align-items-end">
  <div class="text-div d-flex flex-column justify-content-between h-100 pt-5">
    <div class="home-ribbon-shlok-div text-center my-5 my-md-0">
      <h1 class="text-center text-light">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
      <h1 class="text-center text-light">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
      <p class="my-3 p-0 text-center">--------------------------------------------------------------------------------------------------------</p>
    </div>
    <div class="image-width">
      <h1 class="mb-4 margin-left-12"><b>નોંદેરા પરિવાર</b></h1>
      <p class="text text-justify margin-left-12">
        શિવજી ના અત્યંત પ્રિય ગણ શ્રી નંદી દ્વારા ગુજરાત માં સ્થાપિત નંદીગ્રામ (હાલમાં જીતનગર, રાજપીપળા) નગર માં સ્થાયી થયેલ ઉત્તમ સદાચારી બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર.
      </p>
      <p class="text text-justify margin-left-12">
        દેવી પાર્વતી ની સખીઓ કુળદેવી શ્રી નંદા અને ગોત્રદેવી શ્રી આનંદા નો કૃપા પાત્ર બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર.
      </p>
      <p class="text text-justify margin-left-12">
        નંદીગ્રામ ના વણિક રાજા શ્રી નંદ દ્વારા વર્ધન પામેલ બ્રાહ્મણ સમૂહ એટલે નોંદેરા બ્રાહ્મણ પરિવાર. 
      </p>
      <p class="text text-justify margin-left-12">
        નોંદેરા બ્રાહ્મણ ની ઉત્ત્પત્તિ નું પ્રમાણ શ્રી શિવમહાપુરાણ ના ઉપપુરાણ શ્રી નંદિપુરાણ અને શ્રી શતરુદ્રીસંહિતા માં મળી આવે છે.
      </p>
      <div class="d-flex justify-content-end">
        <a class="see-more nandi text-right" [routerLink]="['/gyati-sambandhit']">વધુ માહિતી</a>
      </div>
    </div>
  </div>
  <div class="nandi-image-div d-flex justify-content-end align-items-end">
    <div>
      <img src="../../../assets/images/nandi-ribbon-image.png" alt="">
    </div>
  </div>
</div>



<!-- <div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-between p-0">
  <div class="text-container text-light">
    <div class="h-100 d-flex flex-column justify-content-between">
      <div class="mb-5 mb-lg-0">
        <h1 class="text-center">|| શ્રી દુર્ગા નંદિકેશ્વરાભ્યામ્ નમઃ ||</h1>
        <h1 class="text-center">"नोन्देरैव कुटुम्बकं! अस्माकं इष्टदेवः श्री नन्दिकेश्वर महादेवः अस्ति!"</h1>
      </div>
      <div>
        <h5 class="ribbon-title">आनन्दं निर्भयं भक्त वाञ्छित् प्रदायकम् |</h5>
        <h5 class="ribbon-title">भवानी पतिमाचार्यं वंन्दे श्रीनन्दिकेश्वरम् ||</h5>
        <p class="ribbon-text text-justify mt-4">
          આનંદ અને નિર્ભય ના દાતા, ભક્તોની મનોકામનાઓ પૂર્ણ કરનાર, પાર્વતી ના પતિ અને આચાર્ય એવા શ્રી નંદિકેશ્વર મહાદેવ ને હું વંદન કરું છું.
        </p>
      </div>
    </div>
    
  </div>
  <div class="image-container ribbon-image-div text-center text-lg-right w-100">
    <img class="img-fluid" width="450" src="../../../assets/images/nandi-ribbon-image.png" alt="">
  </div>
</div> -->

<div class="slider w-100 my-5">
  <div class="ticker">
    <div class="news">
      <marquee class="news-content">
        <p class="p-3 m-0">
          <span style="padding-left: 180px;">
            આ વેબસાઈટ બનાવવા પાછળનો હેતુ સમસ્ત નોંદેરા જ્ઞાતિજનો ને જ્ઞાતિના ઇતિહાસ થી માહિતગાર કરવાનો, જ્ઞાતિ તરફ વધુ જાગૃત કરવાનો, અને જ્ઞાતિના દરેક સભ્યને એક મંચ પર લાવવાનો છે જેથી જ્ઞાતિજનો ની ઉત્તરોત્તર પ્રગતિ થતી રહે. અમે કોઈની લાગણીઓ ને દુભાવવા અથવા કોઈની ભાવનાઓ ને ઠેસ પહોંચાડવા માંગતા નથી.
          </span>
        </p>
      </marquee>
    </div>
  </div>
</div>

<div class="image-text-div">
  <div
    class="nandikeshwar-mahadev-div d-flex flex-lg-row flex-sm-column flex-md-column align-items-start"
  >
    <div
      class="nandikeshwar-mahadev-image nandikeshwar-mahadev-inner-div align-self-center"
    >
      <img
        src="{{ image1Path }}"
        alt="Shree Nandikeshawar Mahadev Image"
        class="image-container"
      />
    </div>
    <div class="nandikeshwar-mahadev-text nandikeshwar-mahadev-inner-div">
      <h1 class="text-sm-center text-md-center m-sm-4 mb-md-4">
        <b>ઇષ્ટદેવ શ્રી નંદિકેશ્વર મહાદેવ</b>
      </h1>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>

      <div class="see-more text-right">
        <a [routerLink]="['/mandir-sambandhit']">વધુ માહિતી</a>
      </div>
    </div>
  </div>

  <div
    class="navdurga-mata-div d-flex flex-lg-row-reverse flex-sm-column flex-md-column align-items-start"
  >
    <div class="navdurga-mata-image navdurga-mata-inner-div align-self-center">
      <img
        src="{{ image2Path }}"
        alt="Shree Navdurga Mata Image"
        class="image-container"
      />
    </div>
    <div class="navdurga-mata-text navdurga-mata-inner-div">
      <h1 class="text-sm-center text-md-center m-sm-4 m-md-4">
        <b>કુળદેવી શ્રી નવદુર્ગા માતા</b>
      </h1>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>
      <p class="text text-justify">
        ઉત્તર અમેરિકામાં એક નોંધપાત્ર ગુજરાતી બોલનાર વસ્તી, ખાસ કરીને ન્યુ યોર્ક
        શહેર મહાનગર વિસ્તાર અને ગ્રેટર ટોરોન્ટો વિસ્તારમાં, અસ્તિત્વ ધરાવે છે,
        જે અનુક્રમે ૧,૦૦,૦૦૦થી વધુ અને ૭૫,૦૦૦થી વધુ વક્તાઓ ધરાવે છે. એ સિવાય એ
        અમેરિકા અને કેનેડાના મોટાભાગના મહાનગર વિસ્તારોમાં પણ અસ્તિત્વમાં છે.
        ૨૦૧૧ની વસતિ ગણતરી મુજબ, ગ્રેટર ટૉરન્ટો વિસ્તારના ગુજરાતી સત્તરમી સૌથી
        વધુ બોલાતી ભાષા છે, અને હિન્દુસ્તાની (હિન્દી-ઉર્દૂ), પંજાબી અને તમિલ
        પછીનીઅને તમિલ પછીની ચોથી સૌથી વધુ બોલાતી દક્ષિણ એશિયન ભાષા છે.
      </p>

      <div class="see-more text-right">
        <a [routerLink]="['/mandir-sambandhit']">વધુ માહિતી</a>
      </div>
    </div>
  </div>
</div>

<!-- <hr /> -->

<!-- <div class="container-fluid donators w-100">
  <div class="m-3 m-md-5 title-tag-div d-flex justify-content-center">
    <div class="text-div">
      <h1 class="font-weight-bold"><b>દાતાઓ</b></h1>
    </div>
  </div>

  <div class="profiles d-flex flex-wrap justify-content-center justify-content-md-around">
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Raam Pathak</h5>
        <p class="card-text">5,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Sita Patel</h5>
        <p class="card-text">10,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Shyam Shah</h5>
        <p class="card-text">11,111₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
   
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Jay Upadhyay</h5>
        <p class="card-text">15,001₹</p>
      </div>
    </div>

  </div>
</div> -->

<hr *ngIf="showBirthdayDiv" />

<div *ngIf="showBirthdayDiv" class="container-fluid birthday d-flex flex-wrap align-items-center justify-content-center justify-content-md-around mb-5">
  <div class="card">
    <div class="birthday-title">
      <h1>જન્મદિવસ ની શુભેચ્છાઓ:</h1>
    </div>
    <div class="birthday-image-div">
      <img
        [src]="birthdayUserImage"
        class="card-img-top"
        alt="Today's birthday"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title m-0">
        {{ firstUserBirthday?.firstName }} {{ firstUserBirthday?.lastName }}
      </h5>
    </div>
  </div>

  <div class="ads h-100 d-flex justify-content-center align-items-center">
    <div
      class="d-flex justify-content-center align-items-center w-100 h-100 rounded"
    >
      <div class="user-visiting-card-div" *ngIf="isVisitingCard">
        <img
          class="img-fluid rounded"
          width="700"
          [src]="userCardImage"
          alt=""
        />
      </div>
      <div *ngIf="!isVisitingCard">
        <h1>Visiting card not available</h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="slider w-100 mb-5">
  <div class="ticker">
    <div class="news">
      <marquee class="news-content">
        <p class="p-3 m-0">
          "Every Good Karma Counts" &nbsp;&nbsp; દરેક સારા કર્મની ગણતરી થાય છે"
        </p>
      </marquee>
    </div>
  </div>
</div> -->
