<div class="background">
  <div class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center">
    <div class="image text-center mt-5">
      <img class="img-fluid" width="225" src="../../../../assets/trust-mandal/background_9.png" alt=""><br>
    </div>
    <div class="other text-center text-light p-4 mt-5">
      <h4 class="big-font font-weight-bold">शान्तं योगिन्द्रवर्यं द्विजकुलतिलकं क्षोत्रियं ब्रह्मनिष्ठं</h4>
      <h4 class="big-font font-weight-bold">दत्तात्रेयं स्मरन्तं जनहितनिरतं सच्चिदानन्दमग्नं !</h4>
      <h4 class="big-font font-weight-bold">सिध्धं रेवातटस्थं निजपररहितं नित्यमत्तावधुतं</h4>
      <h4 class="big-font font-weight-bold">सन्तं नारेश्वरस्थं मथितकलिमलं पाण्डुरङ्गम् नमामि !!</h4>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">
      <p class="text-center m-0">{{'srvt_title_1' | translate}}</p>
      <p class="registration-number text-center m-0">{{'srvt_title_2' | translate}}</p>
    </h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>{{'srvt_1_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'srvt_1_content' | translate}}</h3>    
</div>


<div class="title rounded">
  <h2><b>{{'srvt_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'srvt_2_content' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'srvt_3_header' | translate}}:</b></h2>
</div>

<div class="details">

  <h3 class="m-0 detail-subtitles"><b>{{'srvt_3_subheader_1' | translate}}:</b></h3>
  <h3>{{'srvt_3_subheader_1_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'srvt_3_subheader_2' | translate}}:</b></h3>
  <h3>{{'srvt_3_subheader_2_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'srvt_3_subheader_3' | translate}}:</b></h3>
  <h3>{{'srvt_3_subheader_3_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'srvt_3_subheader_4' | translate}}:</b></h3>
  <h3>{{'srvt_3_subheader_4_content' | translate}}</h3>
  
</div>

<div class="title rounded">
  <h2><b>{{'srvt_trustess' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

<div class="trustess-table-1 w-100">
  <table class="table table-striped m-0">
    <tbody>
      <tr>
        <td class="f">{{'srvt_trustess_n_1' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_1' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_1' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_2' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_2' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_2' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_3' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_3' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_3' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_4' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_4' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_4' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_5' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_5' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_5' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_6' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_6' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_6' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_7' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_7' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_4' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_8' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_8' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_5' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_9' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_9' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_6' | translate}}</td> -->
      </tr>
    </tbody>
  </table>
</div>

<div class="trustess-table-2 w-100">
  <table class="table table-striped m-0">
    <tbody>
      <tr>
        <td class="f">{{'srvt_trustess_n_10' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_10' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_7' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_11' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_11' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_8' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_12' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_12' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_9' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_13' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_13' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_10' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_14' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_14' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_11' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_15' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_15' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_8' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_16' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_16' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_9' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_17' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_17' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_10' | translate}}</td> -->
      </tr>
      <tr>
        <td class="f">{{'srvt_trustess_n_18' | translate}}</td>
        <td class="s">{{'srvt_trustess_d_18' | translate}}</td>
        <!-- <td class="t">{{'snmt_trustees_p_11' | translate}}</td> -->
      </tr>
    </tbody>
  </table>
</div>

</div>
