<div *ngIf="showContent">

  <div class="edit-button">
    <button class="btn registerButton" (click)="enableForm()">Edit Profile</button>
  </div>

  <div class="main-content-div">
    <div class="profile-picture-div">
      <div class="image">
        <img [src]="image" alt="profile picture" />
      </div>
      <div *ngIf="!disabled" class="upload-profile-img-div">
        <button mat-button class="file-upload-button">
          <input
            type="file"
            accept="image/png, image/jpg, image/jpeg"
            (change)="onSelectFile($event)"
          />
        </button>
      </div>
      <div *ngIf="disabled" class="name">
        <h1>
          {{ userData.lastName }} {{ userData.firstName }}
          {{ userData.middleName }}
        </h1>
      </div>
    </div>

    <form [formGroup]="RegistrationFormGroup">
      <!-- NAME -->
      <div>
        <input type="text" class="form-control" formControlName="firstname" placeholder="નામ">
        <span *ngIf="firstname && firstname.invalid && firstname.touched || ( isSubmited && firstname.invalid )">કૃપા કરીને તમારું નામ દાખલ કરો.</span>

        <input type="text" formControlName="middlename" class="form-control" placeholder="તમારા પતિ/પિતા નું નામ">
        <span *ngIf="middlename && middlename.invalid && middlename.touched || ( isSubmited && middlename.invalid )">કૃપા કરીને તમારા પતિ/પિતા નું નામ દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="lastname" placeholder="તમારી અટક">
        <span *ngIf="lastname && lastname.invalid && lastname.touched || ( isSubmited && lastname.invalid )">કૃપા કરીને તમારી અટક દાખલ કરો.</span>
      </div>

      <!-- Father's Name -->
      <div>
        <input type="text" class="form-control" formControlName="ffirstname" placeholder="તમારા પિતા/પતિનું નામ">
        <span *ngIf="ffirstname && ffirstname.invalid && ffirstname.touched || ( isSubmited && ffirstname.invalid )">કૃપા કરીને તમારા પિતાનું નામ દાખલ કરો..</span>

        <input type="text" class="form-control" formControlName="fmiddlename" placeholder="તમારા પિતા/પતિના પિતાનું નામ">
        <span *ngIf="fmiddlename && fmiddlename.invalid && fmiddlename.touched || ( isSubmited && fmiddlename.invalid )">કૃપા કરીને તમારા પિતાના પિતાનું નામ દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="flastname" placeholder="તમારા પિતા/પતિની અટક">
        <span *ngIf="flastname && flastname.invalid && flastname.touched || ( isSubmited && flastname.invalid )">કૃપા કરીને તમારા પિતાની અટક દાખલ કરો.</span>
      </div>

      <!-- Mother's Name -->
      <div>
        <input type="text" class="form-control" formControlName="mfirstname" placeholder="તમારા માતા/સાસુનું નામ">
        <span *ngIf="mfirstname && mfirstname.invalid && mfirstname.touched || ( isSubmited && mfirstname.invalid )">કૃપા કરીને તમારી માતાનું નામ દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="mmiddlename" placeholder="તમારા માતા/સાસુના પતિ/પિતા નું નામ">
        <span *ngIf="mmiddlename && mmiddlename.invalid && mmiddlename.touched || ( isSubmited && mmiddlename.invalid )">કૃપા કરીને તમારી માતાના પતિ/પિતા નું નામ દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="mlastname" placeholder="તમારા માતા/સાસુની અટક">
        <span *ngIf="mlastname && mlastname.invalid && mlastname.touched || ( isSubmited && mlastname.invalid )">કૃપા કરીને તમારી માતાની અટક દાખલ કરો.</span>
      </div>

      <!-- Contact Information -->
      <div>
        <!-- <div class="row">
          <div class="col-12">
            <input type="tel" #phoneInput id="phone" class="form-control" formControlName="contact" placeholder="ફોન નંબર">
            <span *ngIf="(contact && contact.invalid && contact.touched) || (!iti.isValidNumber() && contact.touched) || ( isSubmited && contact.invalid )">કૃપા કરીને માન્ય ફોન નંબર દાખલ કરો.</span>
          </div>
        </div> -->




        <input type="email" class="form-control" formControlName="email" placeholder="ઇમેઇલ">
      </div>

      <!-- Other information -->
      <div>
        <input type="date" class="form-control" formControlName="dateofbirth" placeholder="જન્મ તારીખ">
        <span *ngIf="dateofbirth && dateofbirth.invalid && dateofbirth.touched || ( isSubmited && dateofbirth.invalid )">કૃપા કરીને તમારી જન્મ તારીખ પસંદ કરો.</span>

        <select class="form-control" formControlName="bloodgroup">
          <option value="" disabled selected>તમારું બ્લડ ગ્રુપ</option>
          <option value="{{ item }}" *ngFor="let item of bloodGrouptList">{{ item }}</option>
        </select>
        <span *ngIf="bloodgroup && bloodgroup.invalid && bloodgroup.touched || ( isSubmited && bloodgroup.invalid )">કૃપા કરીને તમારું બ્લડ ગ્રુપ પસંદ કરો.</span>

        <select class="form-control" formControlName="gender">
          <option value="" disabled selected>તમારું લિંગ</option>
          <option value="{{ item }}" *ngFor="let item of genderList">{{ item }}</option>
        </select>
        <span *ngIf="gender && gender.invalid && gender.touched || ( isSubmited && gender.invalid )">કૃપા કરીને તમારું લિંગ પસંદ કરો.</span>

        <select class="form-control" formControlName="maritalstatus">
          <option value="" disabled selected>તમારી વૈવાહિક સ્થિતિ</option>
          <option value="{{ item }}" *ngFor="let item of maritalStatus">{{ item }}</option>
        </select>
        <span *ngIf="maritalstatus && maritalstatus.invalid && maritalstatus.touched || ( isSubmited && maritalstatus.invalid )">કૃપા કરીને તમારી વૈવાહિક સ્થિતિ પસંદ કરો.</span>

        <input type="text" class="form-control" formControlName="gotra" placeholder="ગોત્ર">
        <span *ngIf="gotra && gotra.invalid && gotra.touched || ( isSubmited && gotra.invalid )">કૃપા કરીને તમારું ગોત્ર દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="educational" placeholder="શૈક્ષણિક લાયકાત">
        <span *ngIf="educational && educational.invalid && educational.touched || ( isSubmited && educational.invalid )">કૃપા કરીને તમારી શૈક્ષણિક લાયકાત દાખલ કરો.</span>

        <input type="text" class="form-control" formControlName="achivement" placeholder="સિદ્ધિઓ">
      </div>

      <!-- Address -->
      <div>

        <input type="text" class="form-control" formControlName="addressLine1" placeholder="એડ્રેસ">
        <span *ngIf="addressLine1 && addressLine1.invalid && addressLine1.touched || ( isSubmited && addressLine1.invalid )">સરનામું જરૂરી છે!</span>

        <input type="text" class="form-control" formControlName="addressLineCity" placeholder="શહેર">
        <span *ngIf="addressLineCity && addressLineCity.invalid && addressLineCity.touched || ( isSubmited && addressLineCity.invalid )">કૃપા કરીને તમારું શહેર દાખલ કરો.</span>

        <input type="text" pattern="[0-9]+" class="form-control" formControlName="addressLinePincode" placeholder="પીન કોડ">
        <span *ngIf="addressLinePincode && addressLinePincode.invalid && addressLinePincode.touched || ( isSubmited && addressLinePincode.invalid )">કૃપા કરીને માન્ય પિનકોડ દાખલ કરો.</span>

      </div>

      <!-- Occupation -->
      <div>
        <select (change)="onChangeOccupation($event)" class="form-control" formControlName="jobBusinessType">
          <option value="" disabled selected>નોકરી / વ્યવસાય / વિદ્યાર્થી / બેરોજગાર / ગૃહિણી / અન્ય</option>
          <option value="{{ item }}" *ngFor="let item of occupationList">{{ item }}</option>
        </select>
        <span *ngIf="jobBusinessType && jobBusinessType.invalid && jobBusinessType.touched || ( isSubmited && jobBusinessType.invalid )">કૃપા કરીને તમારી નોકરી અથવા વ્યવસાય પસંદ કરો.</span>

        <div *ngIf="!hideFields">
          <input type="text" class="form-control" formControlName="jobBusinessName" [placeholder]="firstPlaceHolder">
          <span *ngIf="jobBusinessName && jobBusinessName.invalid && jobBusinessName.touched || ( isSubmited && jobBusinessName.invalid )">કૃપા કરીને નામ દાખલ કરો.</span>

          <input type="text" class="form-control" formControlName="description" [placeholder]="secondPlaceHolder">
          <span *ngIf="description && description.invalid && description.touched || ( isSubmited && description.invalid )">કૃપા કરીને થોડું વર્ણન દાખલ કરો.</span>
        </div>
      </div>        
    </form>

  </div>
</div>
