<!-- Navbar Start -->
<div class="navbar-div">
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img class="navbar-image img-fluid" width="45" src="../../assets/images/site_logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>

    <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મુખ પૃષ્ઠ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">જ્ઞાતિ સંબંધિત</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/home']">મંદિર સંબંધિત</a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ટ્રસ્ટ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-mahadev-trusts']">શ્રી નંદિકેશ્વર મહાદેવ ટ્રસ્ટ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nandikeshwar-charitable-trusts']">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</a>
            <!-- <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/trusts']">શ્રી નૉંદેરા બોર્ડિંગ ટ્રસ્ટ</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">મંડળ</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-pragati-mandal']">નૉંદેરા પ્રગતિ મંડળ</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/shree-nondera-mahila-mandal']">મહિલા મંડળ</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ગેલેરી</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/audio']">ઓડિયો ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/video']">વિડિઓ ગેલેરી</a>
            <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/photo']">ફોટો ગેલેરી</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/nearest-places']">નજીકના આકર્ષણો</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/donation']">દાન-દક્ષિણા</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/contact']">સંપર્ક</a>
        </li>
      </ul>
      <div class="buttons d-flex flex-column flex-lg-row flex-fill">
        <!-- <div>
          <a class="btn liveButton" [routerLink]="['/home']">લાઈવ દર્શન</a>
        </div> -->
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->

<div class="login-page d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-lg-around justify-content-xl-around align-items-center login-page-div">
  <div class="image-div w-50 text-center">
    <h2 class="shlok">ॐ त्र्यम्बकं यजामहे सुगन्धिं पुष्टिवर्धनम् ।</h2>
    <h2 class="shlok">उर्वारुकमिव बन्धनान् मृत्योर्मुक्षीय मामृतात् ॥</h2>
    <img class="img-fluid" width="350" src="../../../assets/images/login _page.png" alt="">
    <h4 class="shlok">અમે ભગવાન શિવની પૂજા કરીએ છીએ, જેમને ત્રણ આંખો છે,</h4>
    <h4 class="shlok">જે દરેક શ્વાસમાં જીવન શક્તિનો સંચાર કરે છે અને સમગ્ર વિશ્વને ટકાવી રાખે છે.</h4>
  </div>
  <div class="form-div p-3 ">
    <div *ngIf="isVerified && !showResetPasswordPage" class="main-div">
      <div class="image-div">
        <img [src]="forgotPassImg" alt="">
      </div>
      <div class="input-div">
        <h2>તમારો પાસવર્ડ ભૂલી ગયા છો?</h2>
        <p>તમે અહીં તમારો પાસવર્ડ રીસેટ કરી શકો છો. ફક્ત તમારું ઇમેઇલ દાખલ કરો.</p>
        <form [formGroup]="forgotFormGroup">
            <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" placeholder="Email" />
            <span style="margin-top: 3px;" *ngIf="forgotFormGroup.get('email').hasError('required')">તમારો પાસવર્ડ રીસેટ કરવા માટે ઈમેલ એડ્રેસ દાખલ કરો</span>

            <div class="row-end">
            <button class="btn login-button submit" (click)="submit()" mat-raised-button>સબમિટ કરો</button>
          </div>
        </form>
      </div>
    </div>
    
    <div *ngIf="showResetPasswordPage" class="reset-pass-div">
      <h2>નવો પાસવર્ડ દાખલ કરો</h2>
        <form [formGroup]="resetPasswordFormGroup">
            <input type="password" class="form-control" formControlName="newPass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" (keyup)="onPasswordValidation()" placeholder="Password" />
            <span *ngIf="password && password.touched && password.errors?.['required']">Password is required!</span>
            <span *ngIf="password.errors?.['pattern']">પાસવર્ડમાં ઓછામાં ઓછો એક નંબર, એક અપરકેસ અને લોઅરકેસ અક્ષર, ઓછામાં ઓછા 8 કે તેથી વધુ પાત્રો હોવા જોઈએ.</span>

            <input type="password" class="form-control" formControlName="confirmNewPass" (change)="onPasswordChange()" placeholder="Confirm password" />
            <span *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.errors?.['required']">કૃપા કરીને પુષ્ટિ પાસવર્ડ દાખલ કરો!</span>
            <span *ngIf="confirmpassword.errors?.['mismatch']">કન્ફર્મ પાસવર્ડ ઉપરના પાસવર્ડ સાથે મેળ ખાતો હોવો જોઈએ!</span>
    
          <div class="row-end">
            <button class="submit" style="background-color: #F5AFA5; color: white;" (click)="submitNewPassword()" mat-raised-button>સબમિટ કરો</button>
          </div>
        </form>
    </div>
  </div>
</div>