<div class="container">
	<div *ngIf="isVerified" class="row">
		<div *ngIf="!showResetPasswordPage" class="d-flex justify-content-center">
        <div class="card w-50">
            <img style="height:120px" [src]="forgotPassImg" alt="">
          <div class="card-body">
            <div class="text-center">
              <h2 class="text-center">તમારો પાસવર્ડ ભૂલી ગયા છો?</h2>
              <p>તમે અહીં તમારો પાસવર્ડ રીસેટ કરી શકો છો. ફક્ત તમારું ઇમેઇલ દાખલ કરો.</p>
              <form [formGroup]="forgotFormGroup">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" matInput />
                  <mat-error style="margin-top: 3px;" *ngIf="forgotFormGroup.get('email').hasError('required')">તમારો પાસવર્ડ રીસેટ કરવા માટે ઈમેલ એડ્રેસ દાખલ કરો</mat-error>
                </mat-form-field>
                <div class="row-end">
                  <button class="submit" style="background-color: #F5AFA5; color: white;" (click)="submit()" mat-raised-button>સબમિટ કરો</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
	</div>
  <div class="row">
    <div *ngIf="showResetPasswordPage" class="d-flex justify-content-center">
      <div class="card w-50">
      <div class="card-body">
        <div class="text-center">
          <h2 class="text-center">નવો પાસવર્ડ દાખલ કરો</h2>
          <form [formGroup]="resetPasswordFormGroup">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="newPass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" (keyup)="onPasswordValidation()" matInput />
              <mat-error *ngIf="password && password.touched && password.errors?.['required']">Password is required!</mat-error>
              <mat-error *ngIf="password.errors?.['pattern']">પાસવર્ડમાં ઓછામાં ઓછો એક નંબર, એક અપરકેસ અને લોઅરકેસ અક્ષર, ઓછામાં ઓછા 8 કે તેથી વધુ પાત્રો હોવા જોઈએ.</mat-error>
            </mat-form-field>
  
            <mat-form-field style="margin-top: 30px;" appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input type="password" formControlName="confirmNewPass" (change)="onPasswordChange()" matInput />
              <mat-error *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.errors?.['required']">કૃપા કરીને પુષ્ટિ પાસવર્ડ દાખલ કરો!</mat-error>
              <mat-error *ngIf="confirmpassword.errors?.['mismatch']">કન્ફર્મ પાસવર્ડ ઉપરના પાસવર્ડ સાથે મેળ ખાતો હોવો જોઈએ!</mat-error>
            </mat-form-field>

            <div class="row-end">
              <button class="submit" style="background-color: #F5AFA5; color: white;" (click)="submitNewPassword()" mat-raised-button>સબમિટ કરો</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
  <mat-spinner class="spinner" *ngIf="submitted && !isVerified"></mat-spinner>
</div>