<div class="background">
  <div>
    <h2 class="text-center custom-font text-light big-font font-weight-bold m-0">
      || ॐ ऐं ह्रीं क्लीं चामुण्डायै विच्चे ||
    </h2>
  </div>
  <div
    class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center"
  >
    <div class="image text-center mt-3 mt-md-0">
      <img
        class="img-fluid"
        width="345"
        src="../../../../assets/trust-mandal/background_8.svg"
        alt=""
      /><br />
    </div>
    <div class="other text-center text-light p-4 mt-3">
      <h2 class="big-font font-weight-bold">
        सर्वमंगल मांगल्ये शिवे सर्वार्थ साधिके !
      </h2>
      <h2 class="big-font font-weight-bold">
        शरण्ये त्र्यंबके गौरी नारायणि नमोऽस्तुते !!
      </h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">{{'snbmm_title' | translate}}</h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>{{'snbmm_1_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snbmm_1_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'snbmm_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snbmm_2_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'snbmm_3_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3 class="m-0 detail-subtitles"><b>{{'snbmm_3_subheader_1' | translate}}:</b></h3>
  <h3>{{'snbmm_3_subheader_1_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbmm_3_subheader_2' | translate}}:</b></h3>
  <h3>{{'snbmm_3_subheader_2_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbmm_3_subheader_3' | translate}}:</b></h3>
  <h3>{{'snbmm_3_subheader_3_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snbmm_3_subheader_4' | translate}}:</b></h3>
  <h3>{{'snbmm_3_subheader_4_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'snbpm_member_title' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snbmm_member_n_1' | translate}}</td>
          <td class="s">{{'snbmm_member_d_1' | translate}}</td>
          <td class="t">{{'snbmm_member_p_1' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_2' | translate}}</td>
          <td class="s">{{'snbmm_member_d_2' | translate}}</td>
          <td class="t">{{'snbmm_member_p_2' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_3' | translate}}</td>
          <td class="s">{{'snbmm_member_d_3' | translate}}</td>
          <td class="t">{{'snbmm_member_p_3' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_4' | translate}}</td>
          <td class="s">{{'snbmm_member_d_4' | translate}}</td>
          <td class="t">{{'snbmm_member_p_4' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_5' | translate}}</td>
          <td class="s">{{'snbmm_member_d_5' | translate}}</td>
          <td class="t">{{'snbmm_member_p_5' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_6' | translate}}</td>
          <td class="s">{{'snbmm_member_d_6' | translate}}</td>
          <td class="t">{{'snbmm_member_p_6' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_7' | translate}}</td>
          <td class="s">{{'snbmm_member_d_7' | translate}}</td>
          <td class="t">{{'snbmm_member_p_7' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_8' | translate}}</td>
          <td class="s">{{'snbmm_member_d_8' | translate}}</td>
          <td class="t">{{'snbmm_member_p_8' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">{{'snbmm_member_n_9' | translate}}</td>
          <td class="s">{{'snbmm_member_d_9' | translate}}</td>
          <td class="t">{{'snbmm_member_p_9' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_10' | translate}}</td>
          <td class="s">{{'snbmm_member_d_10' | translate}}ભ્ય</td>
          <td class="t">{{'snbmm_member_p_10' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_11' | translate}}</td>
          <td class="s">{{'snbmm_member_d_11' | translate}}</td>
          <td class="t">{{'snbmm_member_p_11' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_12' | translate}}</td>
          <td class="s">{{'snbmm_member_d_12' | translate}}</td>
          <td class="t">{{'snbmm_member_p_12' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_13' | translate}}</td>
          <td class="s">{{'snbmm_member_d_13' | translate}}</td>
          <td class="t">{{'snbmm_member_p_13' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_14' | translate}}</td>
          <td class="s">{{'snbmm_member_d_14' | translate}}</td>
          <td class="t">{{'snbmm_member_p_14' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snbmm_member_n_15' | translate}}</td>
          <td class="s">{{'snbmm_member_d_15' | translate}}</td>
          <td class="t">{{'snbmm_member_p_15' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>