<div class="background">
  <div>
    <h2 class="text-center custom-font text-light big-font font-weight-bold m-0">
      || ॐ ऐं ह्रीं क्लीं चामुण्डायै विच्चे ||
    </h2>
  </div>
  <div
    class="upper-background h-100 d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row justify-content-around align-items-center"
  >
    <div class="image text-center mt-3 mt-md-0">
      <img
        class="img-fluid"
        width="350"
        src="../../../../assets/trust-mandal/background_8.svg"
        alt=""
      /><br />
    </div>
    <div class="other text-center text-light p-4 mt-3">
      <h2 class="big-font font-weight-bold">
        सर्वमंगल मांगल्ये शिवे सर्वार्थ साधिके |
      </h2>
      <h2 class="big-font font-weight-bold">
        शरण्ये त्र्यंबके गौरी नारायणि नमोऽस्तुते ||
      </h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">મહિલા મંડળ</h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>મંડળ નો ઈતિહાસ:</b></h2>
</div>

<div class="details">
  <h3>
    નોંદેરા બ્રાહ્મણ મહિલા મંડળ જ્ઞાતિનું આગવું છતાં અવિભાજ્ય અંગ છે. જ્ઞાતિ ની
    મહિલાઓ ના સંગઠન ની સ્થાપના ઈ.સ. ૧૯૬૨ માં કરવામાં આવી હતી.
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંડળ નો હેતુ:</b></h2>
</div>

<div class="details">
  <h3>
    જ્ઞાતિ ની પ્રગતિ અને ઉન્નતિ માટે જ્ઞાતિ ના ભાઈઓ સાથે જ્ઞાતિ ની બહેનો એ પણ
    આગળ આવવું જોઈએ. બહેનો આગળ વધે, સારી પ્રવૃત્તિ કરે, સમાજની અને જ્ઞાતિની દરેક
    પ્રવૃત્તિમાં સક્રિય બને તેવા સુંદર વિચાર થી શ્રી નોંદેરા બ્રાહ્મણ મહિલા મંડળ
    ની સ્થાપના કરવામાં આવી હતી.
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંડળ દ્વારા થતા આયોજનો:</b></h2>
</div>

<div class="details">
  <h3 class="m-0 detail-subtitles">
    <b>શરદોત્સવ:</b>
  </h3>
  <h3>
    માતાજીની ઉપાસના પૈકી શારદીય નવરાત્રી ના ઉપક્રમે મહિલા મંડળ
    શરદપૂર્ણિમા ના પર્વ ની ઉજવણી અનવરત ઉજવે છે. જેમાં જ્ઞાતિના જ ગાયકો અને
    વાદ્યવૃન્દ દ્વારા જ્ઞાતિના યુવાન - યુવતી ગુજરાતી લોકનૃત્ય ગરબા માં ઉત્સાહભેર
    ભાગ લે છે. બાળકો ને યથોચિત ભેટ અને મહિલાઓ ને લ્હાણી નો ઉપહાર આપવામાં આવે છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>વ્રત ઉદ્યાપન:</b>
  </h3>
  <h3>
    આપણી સંસ્કૃતિમાં વ્રત ઉપાસના દ્વારા માનવ કલ્યાણ ના માર્ગ
    ચિંધેલ છે. તે મુજબ જુદા જુદા વ્રત જેવા કે સામા પાંચમ, કેવડા ત્રીજ, વાર્ષિક
    એકાદશી, ચોથ વગેરે નું ઉદ્યાપન મહિલા મંડળ દ્વારા સામુહિક રીતે કરવામાં આવે છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>ગુરુ પૂજન:</b>
  </h3>
  <h3>
    ગુરુ મહારાજ પૂ. શ્રી રંગ અવધૂતજી ના જીવન ના વિવિધ સ્મરણીય
    વર્ષો ના પ્રસંગો ની પુરા વર્ષ દરમ્યાન ભક્તિમય રીતે ઉજવણી થાય છે. જેમાં
    અઘોરકષ્ટોધ્ધરણ સ્તોત્ર સ્તોત્ર, દત્તબાવની, દત્તનામસંકીર્તન વગેરે ના પાઠ-પારાયણ દર
    મહિને જ્ઞાતિના મહિલા મંડળ દ્વારા વ્યક્તિગત અને સામુહિક રીતે કરવામાં આવે છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles">
    <b>શૈક્ષણિક સહાય:</b>
  </h3>
  <h3>
    મહિલા મંડળ ની એક પાંખ કેળવણી મંડળ દ્વારા જ્ઞાતિના
    વિદ્યાર્થીઓ ને શૈક્ષણિક સહાય તરીકે ધોરણ ૧ થી ૮ ના વિદ્યાર્થીઓ ને પુસ્તકો નું
    દર વર્ષે વિતરણ કરવામાં આવે છે
  </h3>
</div>

<div class="title rounded">
  <h2><b>મંડળ ના કાર્યકર્તાઓ:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">કુસુમબેન કશ્યપભાઈ વૈદ્ય</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">ભદ્રાબેન જ્યોતીન્દ્ર દવે</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">હંસાબેન શિરીષ ઉપાસની</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">ચારુબેન કિરીટભાઈ પાઠક</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">મીનાબેન પિનાકીન પાઠક</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">મીનાક્ષીબેન નરેન્દ્રદેવ શુક્લ</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="f">દક્ષાબેન નીલુકાંત પાઠક</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">વિનોદિની યતીનભાઈ વૈદ્ય</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">પન્નાબેન ભરતભાઈ પાઠક</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">ભાવનાબેન તરુણભાઇ ઉપાધ્યાય</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
        <tr>
          <td class="f">હિરલ પ્રજ્ઞેશભાઈ વૈદ્ય</td>
          <td class="s">કાર્યકર્તા</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- <div
  class="details trustees-images rounded d-flex flex-wrap justify-content-around"
>
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">કુસુમબેન કશ્યપભાઈ વૈદ્ય</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ભદ્રાબેન જ્યોતીન્દ્ર દવે</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હંસાબેન શિરીષ ઉપાસની</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ચારુબેન કિરીટભાઈ પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">મીનાબેન પિનાકીન પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">
        મીનાક્ષીબેન નરેન્દ્રદેવ શુક્લ
      </h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">દક્ષાબેન નીલુકાંત પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">વિનોદિની યતીનભાઈ વૈદ્ય</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">પન્નાબેન ભરતભાઈ પાઠક</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ભાવનાબેન તરુણભાઇ ઉપાધ્યાય</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image" />
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હિરલ પ્રજ્ઞેશભાઈ વૈદ્ય</h2>
      <p class="card-text">કાર્યકર્તા</p>
    </div>
  </div>
</div> -->
