<div class="d-flex flex-wrap p-5 w-100 justify-content-around image-gallary">
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/1.jpg" alt="">
        </div>
    </div>
    
    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/2.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/3.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/4.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/5.jpg" alt="">
        </div>
    </div>

    <div class="text-center my-3 image-container rounded">
        <div class="image-div">
            <img class="img-fluid" width="400" src="../../../../../assets/photo-galary/datt-yaag/6.jpg" alt="">
        </div>
    </div>    
</div>