<div class="display-content" *ngIf="display">
    <div class="action-btn-div" *ngIf="userType == 'pending'">
        <div class="action-btn accept-btn">
            <button mat-button class="menu-button" (click)="action(true)">
                <mat-icon>done</mat-icon>
            </button>
        </div>
        <div class="action-btn reject-btn">
            <button mat-button class="menu-button" (click)="action(true)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="user-detail">
        <div class="profile-picture-div">
            <div class="image">
                <img [src]="profileData.picture" alt="profile picture">
            </div>
            <div class="name">
                <h1>{{profileData.lastName}} {{profileData.firstName}} {{profileData.middleName}}</h1>
            </div>
        </div>

        <div class="other-detail">
            <div class="content-div fathersName">
                <div class="lable">
                    <h2>Father's Name</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.fathersName}}</h2>
                </div>
            </div>

            <div class="content-div mothersName">
                <div class="lable">
                    <h2>Mother's Name</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.mothersName}}</h2>
                </div>
            </div>

            <div class="content-div dateOfBirth">
                <div class="lable">
                    <h2>Date of Birth</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.dateOfBirth}}</h2>
                </div>
            </div>

            <div class="content-div contact">
                <div class="lable">
                    <h2>Contact number</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.contact}}</h2>
                </div>
            </div>

            <div class="content-div email" *ngIf="haveEmail">
                <div class="lable">
                    <h2>Email</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.email}}</h2>
                </div>
            </div>

            <div class="content-div bloodGroup" *ngIf="isAdmin">
                <div class="lable">
                    <h2>Bloodgroup</h2>
                </div>
                <div class="value">
                    <h2>{{profileData.bloodGroup}}</h2>
                </div>
            </div>      

            <div class="content-div address">
                <div class="lable">
                    <h2>Address</h2>
                </div>
                <div class="value">
                    <h2>{{address}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>