$orange-gray-color-shade : #f87060;

.user-profile-div{
    max-height: 90vh;
    overflow: auto;
}

.image-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.profile-img-div img{
    width: 100px;
    height: 100px;
    outline: #cdd7d6 solid 3px;
    border-radius: 50%;
}

.textDiv{
    margin-bottom: 20px;
}

.name-div, 
.email-contact-div, 
.password-div, 
.address-lines, 
.city-pincode{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.content-div{
    margin-bottom: 20px;
}

h3{
    padding: 0;
    margin: 0;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.heading{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: $orange-gray-color-shade;
}

.button-div{
    display: flex;
    justify-content: space-around;
}

.action-button{
    width: 120px;
}

.button-icon{
    margin-right: 5px;
}

@media screen and (max-width: 480px) {

    .name-div, 
    .email-contact-div, 
    .password-div, 
    .address-lines, 
    .city-pincode{
        display: grid;
        column-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .action-button{
        width: 105px;
    }
}