/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// body { margin: 0; font-family:'Anek Gujarati'; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'GujaratiInstalledFonts-Anek';
    src: url('../src/assets/fonts/AnekGujarati-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'GujaratiInstalledFonts-NotoSens';
    src: url('../src/assets/fonts/NotoSansGujarati-Regular.ttf');
}

@font-face {
    font-family: 'GujaratiInstalledFonts-Nilkanth';
    src: url('../src/assets/fonts/NILKANTH.TTF');
}

h1, h2, h3, h4, h5, h6, span, p, a, .btn, button, select, option{
    font-family: 'GujaratiInstalledFonts-NotoSens' !important;
}

.swal2-popup{
    padding: 35px !important;

    .swal2-image{
        margin: 0px;
        width: 100% !important;
    }

    .swal2-close{
        position: absolute;
        top: 0;
        right: 0;
        color: #808080;
    }

    .swal2-close:focus{
        box-shadow: none;
    }
}


@media (min-width: 0px) and (max-width: 575.98px){
    .swal2-popup{
        width: 85% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .swal2-popup{
        width: 85% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .swal2-popup{
        width: 70% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .swal2-popup{
        width: 50% !important;
    }
}

@media (min-width: 1200px){
    .swal2-popup{
        width: 50% !important;
    }
}