<div class="background">
  <div>
    <h2 class="text-light custom-font text-center big-font white-font font-weight-bold m-0">|| ॐ तत्पुरुषाय विद्महे महादेवाय धीमहि तन्नो रूद्र प्रचोदयात् ||</h2>
  </div>
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center m-5 m-md-0">
      <img class="img-fluid" width="250" src="../../../../assets/trust-mandal/background_6.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-md-5">
      <h2 class="big-font white-font font-weight-bold">कर्पूरगौरं करुणावतारं संसारसारं भुजगेन्द्रहारम् |</h2>
      <h2 class="big-font white-font font-weight-bold">सदा बसन्तं हृदयारबिन्दे भबं भवानीसहितं नमामि ||</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">
      <p class="text-center m-0">શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ</p>
      <p class="text-center m-0 registration-number">(રજીસ્ટ્રેશન નંબર: ઈ/૫૬૦/નર્મદા)</p>
    </h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>ટ્રસ્ટ નો ઈતિહાસ:</b></h2>
</div>

<div class="details">
  <h3>
    શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ ની સ્થાપના ઈ.સ. ૧૯૯૫ માં કરવામાં આવી હતી.
  </h3>
</div>


<div class="title rounded">
  <h2><b>ટ્રસ્ટ નો હેતુ:</b></h2>
</div>

<div class="details">
  <h3>
    <i>"સા વિદ્યા યા વિમુક્તયે”</i> - દરેક પ્રકારનાં બંધનમાંથી જે મુક્તિ અપાવે તે વિદ્યા. વિદ્યા એટલે જ્ઞાન.
  </h3>
  <h3>
    વિદ્યા એ બ્રાહ્મણો નું સૌથી અસરકારક ધન અને શસ્ત્ર છે. સમસ્ત નોંદેરા જ્ઞાતિ ના યુવાન ભાઈ બહેનો તથા જીતનગરની આજુબાજુના આદિવાસી ગ્રામ્ય વિસ્તાર ના સમગ્ર સમાજ ના સર્વાંગી વિકાસ માટે શૈક્ષણિક પ્રગતિ ને પ્રોત્સાહન આપવું જરૂરી છે. તે હેતુ ને ધ્યાન માં રાખી શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ ની સ્થાપના કરવામાં આવી. શૈક્ષણિક કાર્યો  સાથે સમાજ ઉપયોગી કાર્યો તરીકે મેડિકલ તથા જ્ઞાનવર્ધક કાર્યક્રમો ના હેતુને પણ આવરી લેવામાં આવ્યા.
  </h3>
</div>


<div class="title rounded">
  <h2><b>ટ્રસ્ટ દ્વારા થતા આયોજનો:</b></h2>
</div>

<div class="details">
  <h3>
    શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ ના નેજા હેઠળ શરદોત્સવ ના કાર્યક્રમ ની ઉજવણી સાથે વડોદરા મુકામે નીચે મુજબ ના કાર્યક્રમો નું અવિરતપણે આયોજન થાય છે.
  </h3>
  <h3 class="m-0 detail-subtitles"><b>વ્યાખ્યાનમાળા:</b></h3>
  <h3>
    વિવિધ વિષય પર જે તે વિષયના નિષ્ણાંત વક્તા દ્વારા દર વર્ષે વ્યાખ્યાનમાળા નું આયોજન થાય છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>તેજસ્વી તારલાઓનું સન્માન:</b></h3>
  <h3>
    જ્ઞાતિ ના અભ્યાસ કરતા તમામ વિદ્યાર્થીઓને જે તે પદ્ધતિ મુજબ દર વર્ષે પ્રમાણ પત્ર, પુરસ્કાર તથા મેડલ આપવામાં આવે છે. સહ શૈક્ષણિક પ્રવૃત્તિ માં અગ્રેસર યુવાનો નું સન્માન કરાય છે. શ્રી નંદિકેશ્વર ચેરીટેબલ ટ્રસ્ટ ને પ્રાપ્ત થયેલ વિવિધ સ્કોલરશીપ નું વિતરણ જે તે પદ્ધતિ મુજબ કરવામાં આવે છે.
  </h3>
  <h3 class="m-0 detail-subtitles"><b>વિવિધ પુરસ્કાર નું વિતરણ:</b></h3>
  <h3 class="m-0">
    (૧) સ્વ. શ્રી રેવાશંકર કિલાશંકર શુક્લ (અમદાવાદ) - પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૨) સ્વ. શ્રીમતિ આશિતાબેન દિવ્યાંગભાઇ પાઠક (અમેરીકા) - પુરસ્કાર 
  </h3>
  <h3 class="m-0">
    (૩) સ્વ. સોમેશ્વર નરોત્તમભાઇ પાઠક (પાદરા) - પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૪) સ્વ. શ્રીમતિ કુસુમબેન રમણલાલ પંડ્યા - હસ્તે ર્ડો. ભૂષણ પંડ્યા (અમેરીકા) તરફથી વિદ્યાર્થીનીઓને પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૫) સ્વ. ર્ડો. ઈન્દુપ્રસાદ ગોરધનદાસ ભટ્ટ - અનુસ્નાતક પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૬) સ્વ. નલીનીબેન મહેન્દ્રભાઈ શાહ - પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૭) શ્રીમતિ અનસુયાબેન કપીલરાય પાઠક (પાદરા) - પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૮) સ્વ. પ્રફુલ્લચંદ્ર સોમેશ્વર પાઠક (અમેરીકા) - પુરસ્કાર
  </h3>
  <h3 class="m-0">
    (૯) અન્નપૂર્ણા એજ્યુકેશન એન્ડ મેડિકલ ચેરીટેબલ ટ્રસ્ટ તરફથી - ઈનામ
  </h3>
  <h3 class="m-0">
    (૧૦) શ્રી વિનોદચંદ્ર પદ્મનાભ શુક્લ તરફથી - પુરસ્કાર
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>સન્માનીય પારિતોષક:</b></h3>
  <h3>
    જ્ઞાતિના ધોરણ ૧૦, ધોરણ ૧૨, ડિપ્લોમા, પી.જી.ડિપ્લોમા, સ્નાતક, અનુસ્નાતક, ડોક્ટરેટ અભ્યાસક્રમ માં ઉતિર્ણ થયેલ યુવાનો નું જે તે પદ્ધતિ મુજબ સન્માન કરવામાં આવે છે. 
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>જીતનગર મુકામે યોજાતા કાર્યક્રમ:</b></h3>
  <h3>
    શ્રી નંદિકેશ્વર મંદિર ની આજુબાજુના ગ્રામ્ય વિસ્તાર જેવા કે જીતનગર, બારફળીયા, કરજણડેમ, સુંદરપુરા ની પ્રાથમિક શાળાઓ તથા આશ્રમશાળાના ધોરણ ૧ થી ૮ ના વર્ગ ના પ્રથમ અને દ્વિતીય ક્રમે આવેલ વિદ્યાર્થી નું સન્માન કરવામાં આવે છે. 
  </h3>
  <h3>
    દર વર્ષે શ્રાવણ માસ ના છેલ્લા સોમવારે આ કાર્યક્રમ યોજાય છે. વિદ્યાર્થીઓ સાથે સમૂહભોજન નું આયોજન પણ કરવામાં આવે છે.
  </h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>મેડિકલ કેમ્પ:</b></h3>
  <h3>
    આજુબાજુના આદિવાસી ગ્રામ્ય વિસ્તારની સ્વાસ્થ્ય સેવા માટે સમયાંતરે મેડિકલ કેમ્પ નું આયોજન થતું હતું.
  </h3>
</div>

<div class="title rounded">
  <h2><b>સાત્વિક દાન:</b></h2>
</div>

<div class="details">

  <div class="qr-main-div d-flex flex-column flex-lg-row justify-content-around justify-content-lg-around align-items-center">
    <div class="qr-div text-center">
      <img src="../../../../assets/images/QR-code--image.png" alt="">
    </div>
    <div class="form-div w-100">
      <div class="row">

        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="નામ">
          <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
          <input type="text" class="form-control" placeholder="ઈમેલ">
          <input type="text" class="form-control" placeholder="ફોન નંબર">
          <input type="number" class="form-control" placeholder="Total amount">
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column align-items-between ustify-content-between">
          <div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1"checked>
              <label class="form-check-label radio-button-label" for="flexRadioDefault1">
                આરોગ્યલક્ષી કાર્યો નિમિત્તે
              </label>
            </div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
              <label class="form-check-label radio-button-label" for="flexRadioDefault2">
                કેળવણી ને લગતા કાર્યો નિમિત્તે
              </label>
            </div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
              <label class="form-check-label radio-button-label" for="flexRadioDefault1">
                સામાજીક તેમજ સાંસ્કૃતિક કાર્યક્રમો નિમિત્તે
              </label>
            </div>
          </div>
          <div class="submit-button-div text-center mt-auto">
            <button class="btn btn-success w-50">દાન કરો</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="title rounded">
  <h2><b>દાતાઓ:</b></h2>
</div>

<div class="container-fluid donators w-100">
  <div class="profiles d-flex flex-wrap justify-content-center justify-content-md-around">
    <div class="card" style="width: 10rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Raam Pathak</h3>
        <p class="card-text m-0">5,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Sita Patel</h3>
        <p class="card-text m-0">10,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Shyam Shah</h3>
        <p class="card-text m-0">11,111₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>

  </div>
</div>

<div class="title rounded">
  <h2><b>ટ્રસ્ટીઓ:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">ર્ડો. જ્યોતીન્દ્ર મણિલાલ દવે</td>
          <td class="s">પ્રમુખ</td>
          <td class="t">+૯૧ - ૯૮૨૫૦૧૬૫૭૭</td>
        </tr>
        <tr>
          <td class="f">ડૉ. ચંદ્રશેખર ભાનુપ્રસાદ ઉપાસની</td>
          <td class="s">ઉપપ્રમુખ</td>
          <td class="t">+૯૧ - ૯૮૨૪૧૫૦૩૮૩</td>
        </tr>
        <tr>
          <td class="f">તરુણભાઇ અનિરુદ્ધ ઉપાધ્યાય</td>
          <td class="s">મંત્રી</td>
          <td class="t">+૯૧ - ૯૮૨૫૬૨૭૨૭૫</td>
        </tr>
        <tr>
          <td class="f">હિમાંશુ બાલમુકુન્દ જોશી</td>
          <td class="s">ખજાનચી</td>
          <td class="t">+૯૧ - ૯૮૭૯૬૯૧૦૬૭</td>
        </tr>        
        <tr>
          <td class="f">પ્રદ્યુમ્ન ઉમાકાન્ત પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૯૧ - ૯૦૯૯૯૩૭૦૪૬</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">વિનોદભાઇ હિંમતલાલ પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૯૧ - ૯૮૨૪૧૧૫૨૩૦</td>
        </tr>
        <tr>
          <td class="f">જનાર્દન નાથાલાલ પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૯૧ - ૯૦૯૯૯૨૮૩૩૧</td>
        </tr>
        <tr>
          <td class="f">યોગેન્દ્ર અનિરુદ્ધ પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૯૧ - ૯૯૧૩૫૯૯૩૮૧</td>
        </tr>
        <tr>
          <td class="f">રત્નેશ જગદીશભાઈ ભટ્ટ</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૯૧ - ૭૭૭૮૮ ૦૮૪૩૦</td>
        </tr>
        <tr>
          <td class="f">વિશાલ પંકજકુમાર પાઠક</td>
          <td class="s">ટ્રસ્ટી</td>
          <td class="t">+૪૪ - ૭૩૯૮૪૪૩૮૦૯</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<div class="title rounded">
  <h2><b>આમંત્રિતો:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">
  <div class="invited-trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">ઘનશ્યામ નરહરીપ્રસાદ વૈદ્ય</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૩૭૬૨૨૦૨૨૩</td>
        </tr>
        <tr>
          <td class="f">હેમંત વાસુદેવ જોશી</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૮૭૯૫૦૯૬૫૧</td>
        </tr>
        <tr>
          <td class="f">જયેશ રેવાશંકર પાઠક</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૭૨૧૧૧૯૮૮૧૧</td>
        </tr>
        <tr>
          <td class="f">શિરીષભાઈ ભાનુપ્રસાદ ઉપાસની</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૪૨૮૪૨૮૫૦૦</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="invited-trustess-table-2 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">મોરલીધર સુમંતલાલ ભટ્ટ</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૪૨૯૮૨૫૫૧૫</td>
        </tr>
        <tr>
          <td class="f">મૌલિક ભરતકુમાર પાઠક</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૯૭૯૮૬૪૫૯૧</td>
        </tr>
        <tr>
          <td class="f">પ્રજ્ઞેશ ઘનશ્યામ વૈદ્ય</td>
          <td class="s">આમંત્રિત</td>
          <td class="s">+૯૧ - ૯૮૨૫૬૦૪૮૮૦</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="details trustees-images rounded d-flex flex-wrap justify-content-around">
  
  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ર્ડો. જ્યોતીન્દ્ર મણિલાલ દવે</h2>
      <p class="card-text">પ્રમુખ</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">ડૉ. ચંદ્રશેખર ભાનુપ્રસાદ ઉપાસની</h2>
      <p class="card-text">ઉપપ્રમુખ</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">હિમાંશુ બાલમુકુન્દ જોશી</h2>
      <p class="card-text">ખજાનચી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">તરુણભાઇ અનિરુદ્ધ ઉપાધ્યાય</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">યોગેન્દ્ર અનિરુદ્ધ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">વિનોદ હિંમતલાલ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">જનાર્દન નાથાલાલ પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">રત્નેશ જગદીશભાઈ ભટ્ટ</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>

  <div class="card my-4 mx-4">
    <img class="card-img-top" [src]="imageLink" alt="Trustee Image">
    <div class="text-center card-body p-2">
      <h2 class="font-weight-bold card-title m-0">વિશાલ પંકજકુમાર પાઠક</h2>
      <p class="card-text">ટ્રસ્ટી</p>
    </div>
  </div>
</div> -->