<div class="background">
  <div>
    <h2 class="text-light custom-font text-center big-font white-font font-weight-bold m-0">|| ॐ तत्पुरुषाय विद्महे महादेवाय धीमहि तन्नो रूद्र प्रचोदयात् ||</h2>
  </div>
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center m-5 m-md-0">
      <img class="img-fluid" width="250" src="../../../../assets/trust-mandal/background_6.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-md-5">
      <h2 class="big-font white-font font-weight-bold">कर्पूरगौरं करुणावतारं संसारसारं भुजगेन्द्रहारम् !</h2>
      <h2 class="big-font white-font font-weight-bold">सदा बसन्तं हृदयारबिन्दे भबं भवानीसहितं नमामि !!</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">
      <p class="text-center m-0">{{'snct_title_1' | translate}}</p>
      <p class="text-center m-0 registration-number">{{'snct_title_2' | translate}}</p>
    </h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>{{'snct_1_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_1_content' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snct_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_2_content_1' | translate}}</h3>
  <h3>{{'snct_2_content_2' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snct_3_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_3_content' | translate}}</h3>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_1' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_1_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_2' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_2_content' | translate}}</h3>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_3' | translate}}:</b></h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_1' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_2' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_3' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_4' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_5' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_6' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_7' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_8' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_9' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_10' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_4' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_4_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_5' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_5_content_1' | translate}}</h3>
  <h3>{{'snct_3_subheader_5_content_2' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_6' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_6_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>સાત્વિક દાન:</b></h2>
</div>

<div class="details">

  <div class="qr-main-div d-flex flex-column flex-lg-row justify-content-around justify-content-lg-around align-items-center">
    <div class="qr-div text-center">
      <img src="../../../../assets/images/QR-code--image.png" alt="">
    </div>
    <div class="form-div w-100">
      <div class="row">

        <div class="col-12 col-lg-6">
          <input type="text" class="form-control" placeholder="નામ">
          <input type="text" class="form-control" placeholder="PAN No. (પી એ એન નં)">
          <input type="text" class="form-control" placeholder="ઈમેલ">
          <input type="text" class="form-control" placeholder="ફોન નંબર">
          <input type="number" class="form-control" placeholder="Total amount">
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column align-items-between ustify-content-between">
          <div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1"checked>
              <label class="form-check-label radio-button-label" for="flexRadioDefault1">
                આરોગ્યલક્ષી કાર્યો નિમિત્તે
              </label>
            </div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault2">
              <label class="form-check-label radio-button-label" for="flexRadioDefault2">
                કેળવણી ને લગતા કાર્યો નિમિત્તે
              </label>
            </div>
            <div class="check-box-div">
              <input class="form-check-input" type="radio" name="nandikeshwarMahadevTrustRadioButton" id="flexRadioDefault1">
              <label class="form-check-label radio-button-label" for="flexRadioDefault1">
                સામાજીક તેમજ સાંસ્કૃતિક કાર્યક્રમો નિમિત્તે
              </label>
            </div>
          </div>
          <div class="submit-button-div text-center mt-auto">
            <button class="btn btn-success w-50">દાન કરો</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="title rounded">
  <h2><b>દાતાઓ:</b></h2>
</div>

<div class="container-fluid donators w-100">
  <div class="profiles d-flex flex-wrap justify-content-center justify-content-md-around">
    <div class="card" style="width: 10rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Raam Pathak</h3>
        <p class="card-text m-0">5,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Sita Patel</h3>
        <p class="card-text m-0">10,001₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Shyam Shah</h3>
        <p class="card-text m-0">11,111₹</p>
      </div>
    </div>

    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>
    
    
    <div class="card" style="width: 12rem">
      <img
        src="https://codingyaar.com/wp-content/uploads/bootstrap-profile-card-image.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title m-0">Jay Upadhyay</h3>
        <p class="card-text m-0">15,001₹</p>
      </div>
    </div>

  </div>
</div>

<div class="title rounded">
  <h2><b>{{'trustees' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snct_trustees_n_1' | translate}}</td>
          <td class="s">{{'snct_trustees_d_1' | translate}}</td>
          <td class="t">{{'snct_trustees_p_1' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_2' | translate}}</td>
          <td class="s">{{'snct_trustees_d_2' | translate}}</td>
          <td class="t">{{'snct_trustees_p_2' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_3' | translate}}</td>
          <td class="s">{{'snct_trustees_d_3' | translate}}</td>
          <td class="t">{{'snct_trustees_p_3' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_4' | translate}}</td>
          <td class="s">{{'snct_trustees_d_4' | translate}}</td>
          <td class="t">{{'snct_trustees_p_4' | translate}}</td>
        </tr>        
        <tr>
          <td class="f">{{'snct_trustees_n_5' | translate}}</td>
          <td class="s">{{'snct_trustees_d_5' | translate}}</td>
          <td class="t">{{'snct_trustees_p_5' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snct_trustees_n_6' | translate}}</td>
          <td class="s">{{'snct_trustees_d_6' | translate}}</td>
          <td class="t">{{'snct_trustees_p_6' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_7' | translate}}</td>
          <td class="s">{{'snct_trustees_d_7' | translate}}</td>
          <td class="t">{{'snct_trustees_p_7' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_8' | translate}}</td>
          <td class="s">{{'snct_trustees_d_8' | translate}}</td>
          <td class="t">{{'snct_trustees_p_8' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_9' | translate}}</td>
          <td class="s">{{'snct_trustees_d_9' | translate}}</td>
          <td class="t">{{'snct_trustees_p_9' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_10' | translate}}</td>
          <td class="s">{{'snct_trustees_d_10' | translate}}</td>
          <td class="t">{{'snct_trustees_p_10' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>