<div class="background">
  <div>
    <h2 class="text-light custom-font text-center big-font white-font font-weight-bold m-0">|| ॐ तत्पुरुषाय विद्महे महादेवाय धीमहि तन्नो रूद्र प्रचोदयात् ||</h2>
  </div>
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center m-5 m-md-0">
      <img class="img-fluid" width="250" src="../../../../assets/trust-mandal/background_6.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-md-5">
      <h2 class="big-font white-font font-weight-bold">कर्पूरगौरं करुणावतारं संसारसारं भुजगेन्द्रहारम् !</h2>
      <h2 class="big-font white-font font-weight-bold">सदा बसन्तं हृदयारबिन्दे भबं भवानीसहितं नमामि !!</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0">
      <p class="text-center m-0">{{'snct_title_1' | translate}}</p>
      <p class="text-center m-0 registration-number">{{'snct_title_2' | translate}}</p>
    </h1>
  </div>
</div>

<div class="title rounded">
  <h2><b>{{'snct_1_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_1_content' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snct_2_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_2_content_1' | translate}}</h3>
  <h3>{{'snct_2_content_2' | translate}}</h3>
</div>


<div class="title rounded">
  <h2><b>{{'snct_3_header' | translate}}:</b></h2>
</div>

<div class="details">
  <h3>{{'snct_3_content' | translate}}</h3>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_1' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_1_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_2' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_2_content' | translate}}</h3>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_3' | translate}}:</b></h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_1' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_2' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_3' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_4' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_5' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_6' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_7' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_8' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_9' | translate}}</h3>
  <h3 class="m-0">{{'snct_3_subheader_3_content_10' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_4' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_4_content' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_5' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_5_content_1' | translate}}</h3>
  <h3>{{'snct_3_subheader_5_content_2' | translate}}</h3>
  <br>
  <h3 class="m-0 detail-subtitles"><b>{{'snct_3_subheader_6' | translate}}:</b></h3>
  <h3>{{'snct_3_subheader_6_content' | translate}}</h3>
</div>

<div class="title rounded">
  <h2><b>{{'daan' | translate}}:</b></h2>
</div>

<div class="details">

  <div class="qr-main-div d-flex flex-column flex-lg-row justify-content-around justify-content-lg-around align-items-center">
    <div class="qr-div text-center">
      <img (click)="imagePreview()" class="img-fluid magnifier-icon" width="250" src="../../../../assets/trust-mandal/SHRI NANDIKESHWAR CHARITABLE TRUST.png" alt="">
    </div>
    <div class="form-div w-100">
      <div class="row">
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'account_name' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">{{'account_name_nandikeshwar_charitable' | translate}}</h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'account_no' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">{{'account_no_nandikeshwar_charitable' | translate}}</h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'bank_name' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">{{'bank_name_content' | translate}}</h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'branch_name' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">{{'branch_name_content' | translate}}</h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'ifsc_code' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">BARB0DBALKA</h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 m-0"><b>{{'acount_pan' | translate}}</b></h2></div>
        <div class="col-12 col-md-6"><h2 class="p-0 mb-3 mb-md-0">AAATS8772P</h2></div>
      </div>
    </div>
  </div>

</div>

<div class="title rounded">
  <h2><b>{{'trustees' | translate}}:</b></h2>
</div>

<div class="d-flex flex-column flex-md-row">

  <div class="trustess-table-1 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snct_trustees_n_1' | translate}}</td>
          <td class="s">{{'snct_trustees_d_1' | translate}}</td>
          <td class="t">{{'snct_trustees_p_1' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_2' | translate}}</td>
          <td class="s">{{'snct_trustees_d_2' | translate}}</td>
          <td class="t">{{'snct_trustees_p_2' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_3' | translate}}</td>
          <td class="s">{{'snct_trustees_d_3' | translate}}</td>
          <td class="t">{{'snct_trustees_p_3' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_4' | translate}}</td>
          <td class="s">{{'snct_trustees_d_4' | translate}}</td>
          <td class="t">{{'snct_trustees_p_4' | translate}}</td>
        </tr>        
        <tr>
          <td class="f">{{'snct_trustees_n_5' | translate}}</td>
          <td class="s">{{'snct_trustees_d_5' | translate}}</td>
          <td class="t">{{'snct_trustees_p_5' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="trustess-table-2 w-100">
    <table class="table table-striped m-0">
      <tbody>
        <tr>
          <td class="f">{{'snct_trustees_n_6' | translate}}</td>
          <td class="s">{{'snct_trustees_d_6' | translate}}</td>
          <td class="t">{{'snct_trustees_p_6' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_7' | translate}}</td>
          <td class="s">{{'snct_trustees_d_7' | translate}}</td>
          <td class="t">{{'snct_trustees_p_7' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_8' | translate}}</td>
          <td class="s">{{'snct_trustees_d_8' | translate}}</td>
          <td class="t">{{'snct_trustees_p_8' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_9' | translate}}</td>
          <td class="s">{{'snct_trustees_d_9' | translate}}</td>
          <td class="t">{{'snct_trustees_p_9' | translate}}</td>
        </tr>
        <tr>
          <td class="f">{{'snct_trustees_n_10' | translate}}</td>
          <td class="s">{{'snct_trustees_d_10' | translate}}</td>
          <td class="t">{{'snct_trustees_p_10' | translate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>