$dark-blue : rgb(51, 51, 79);

.main-title{
  font-size: 35px;
  margin: 50px 0;
  font-weight: 600;
  letter-spacing: 3px;
  color: $dark-blue;
}

.background-image-div {
    background-image: url(../../../../assets/nearest-places/background-image.jpg);
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    place-content: center;
}

.text-div {
    background-color: rgba($color: #d4d0ed, $alpha: 0.75);
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;

    h1 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgb(51, 51, 79);
    }
}

.title{
  background-color: rgba($color: $dark-blue, $alpha: 0.4);
  padding: 7px;
  margin: 30px 30px;
  h2{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: $dark-blue;
  }
}

.details{
  margin: 0 40px;
  h3{
    text-align: justify;
  }
}

.card{
  max-width: 10rem;
  border: 3px solid rgb(51, 51, 79);
}

.trustees-images{
  background-color: rgb(226, 226, 226);
  margin-bottom: 30px;
}

@media screen and (min-width: 0px) and (max-width: 768px){
  .main-title{
    font-size: 25px;
    margin: 30px 0;
    letter-spacing: 0px;
  }

  .title{
    margin: 15px 15px;
  }

  .details{
    margin: 0 20px;
  }

  .trustees-images{
    background-color: rgb(239, 239, 239);
  }
}