// First Image slider

@keyframes slider1 {
  0% {left: 0%;}
  28% {left: 0%;}
  33% {left: -100%;} 
  62% {left: -100%;}
  67% {left: -200%;} 
  95% {left: -200%;}
  100% {left: 0%;}  
}

div#slider1 figure
{ 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slider1 infinite; 
}

// Second Image slider

@keyframes slider2 {
  0% {left: 0%;}
  28% {left: 0%;}
  33% {left: -100%;} 
  62% {left: -100%;}
  67% {left: -200%;} 
  95% {left: -200%;}
  100% {left: 0%;}  
}

div#slider2 figure 
{ 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slider2 infinite; 
}

// Common CSS

div#slider1, div#slider2
{ 
  overflow: hidden; 
}

div#slider1 figure img, div#slider2 figure img
{
   width: 20%; 
   float: left; 
   padding: 30px 100px 30px 100px;
   background-color: rgba($color: #808080, $alpha: 0.1);
}

h3{
  text-align: justify;
  text-justify: inter-word;
  line-height: 20px;
}

.title{
  text-align: start;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 20px;
}

.description{
  padding: 10px 20px;
}

.descriptionBtn{
  text-decoration: none;
  font-size: 13px;
  color: blue;
  float: right;
  cursor: pointer;
}

.section{
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {

  .section1
  {
    margin-top: 15px;
  }

  div#slider1 figure img, div#slider2 figure img
  {
    width: 20%; 
    float: left; 
    padding: 10px;
    background-color: rgba($color: #808080, $alpha: 0.1);
  }

  h3
  {
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
  }
  
}