<!--First Image Slider -->
<div class="section section1">
  <div id="slider1">
    <figure>
      <img src="../../assets/images/imageSlider3.png">
      <img src="../../assets/images/imageSlider3.png">
      <img src="../../assets/images/imageSlider3.png">
    </figure>
  </div>

  <div class="description">
    <h2 class="title">Title</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Porta lorem mollis aliquam ut. Tortor posuere ac ut consequat. Integer feugiat scelerisque varius morbi enim nunc faucibus a. Tortor posuere ac ut consequat. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Turpis cursus in hac habitasse platea. In est ante in nibh mauris. Mattis nunc sed blandit libero. Proin nibh nisl condimentum id <span *ngIf="!showDescription1">...</span><span *ngIf="showDescription1">venenatis a condimentum vitae sapien. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Ut lectus arcu bibendum at varius. Nibh sed pulvinar proin gravida hendrerit. Tellus mauris a diam maecenas sed enim ut. Viverra nam libero justo laoreet sit amet cursus sit amet. Eu sem integer vitae justo eget magna fermentum iaculis eu.</span></h3>
    <a class="descriptionBtn" *ngIf="!showDescription1" (click)="description1()">see more</a>
    <a class="descriptionBtn" *ngIf="showDescription1" (click)="description1()" >see less</a>
  </div>
</div>

<!--Second Image Slider -->
<div class="section section2">
  <div id="slider2">
    <figure>
      <img src="../../assets/images/imageSlider4.png">
      <img src="../../assets/images/imageSlider4.png">
      <img src="../../assets/images/imageSlider4.png">
    </figure>
  </div>

  <div class="description">
    <h2 class="title">Title</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Porta lorem mollis aliquam ut. Tortor posuere ac ut consequat. Integer feugiat scelerisque varius morbi enim nunc faucibus a. Tortor posuere ac ut consequat. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Turpis cursus in hac habitasse platea. In est ante in nibh mauris. Mattis nunc sed blandit libero. Proin nibh nisl condimentum id <span *ngIf="!showDescription2">...</span><span *ngIf="showDescription2">venenatis a condimentum vitae sapien. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Ut lectus arcu bibendum at varius. Nibh sed pulvinar proin gravida hendrerit. Tellus mauris a diam maecenas sed enim ut. Viverra nam libero justo laoreet sit amet cursus sit amet. Eu sem integer vitae justo eget magna fermentum iaculis eu.</span></h3>
    <a class="descriptionBtn" *ngIf="!showDescription2" (click)="description2()">see more</a>
    <a class="descriptionBtn" *ngIf="showDescription2" (click)="description2()" >see less</a>
  </div>
</div>

