/*------------------------------------------------------------------------------------*/

@media screen and (max-width:1200px) {
  .imageSlider1, .imageSlider2{
    padding:  3%;
  }

  .section1, .section2{
    width: 100%;
    margin-top: 2%;
    align-items: center;
    overflow: hidden;
    max-height: 100%;
  }

  .text-section1, .text-section2{
    width: 100%;
    padding: 0% 3% 0% 8%;
  }

  .image-section1, .image-section2{
    width: 100%;
    overflow: hidden;
  }

  .section1{
    width: 95%;
    margin: 3% 3% 0% 3%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0;
    animation: slide-animation 2s ease-out forwards;
  }
  
  .section2{
    width: 95%;
    margin: 5% 3% 5% 3%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0;
    animation: slide-animation 2s ease-out forwards;
  }
  
  .description-text{
    max-height: 500px;
    overflow-y: auto;
    padding-right: 5%;
    margin-bottom: 5%;
  }
  
  .title{
    text-align: start;
    font-weight: bold;
  }
  
  h3{
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
  }
  
  .descriptionBtn{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    float: right;
    cursor: pointer;
  }
  
  img{
    width: 33.33%;
  }

  .imageSlider1 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes imageSlider-Animation {
    0% {left: 0%; opacity: 1;}
    16% {left: 0%; opacity: 1;}
    33% {left: -100%; opacity: 1;} 
    50% {left: -100%; opacity: 1;}
    67% {left: -200%; opacity: 1;} 
    83% {left: -200%; opacity: 1;}
    100% {left: 0%; opacity: 1;}
  }
  
  .imageSlider2 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes slide-animation {
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

/*------------------------------------------------------------------------------------*/

@media screen and (min-width:1200px) {
  .imageSlider1, .imageSlider2{
    padding: 3%;
  }
  .section1, .section2{
    width: 95%;
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 100%;
    max-height: 100vh;
    background-color: #F9DA76;
  }

  .text-section1, .text-section2{
    width: 50%;
  }
  
  .image-section1, .image-section2{
    width: 50%;
    overflow: hidden;
  }

  .section1{
    width: 95%;
    margin: 3% 0% 5% 5%;
    padding: 1% 0% 1% 1%;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateX(200%);
    opacity: 0;
    animation: slide-animation 2.5s ease-out forwards;
  }
  
  .section2{
    width: 95%;
    margin: 3% 5% 5% 0%;
    padding: 1% 1% 1% 0%;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-animation 2.5s ease-out forwards;
  }
  
  .sections{
    padding: 3%;
  }
  
  .description-text{
    height: 400px;
    overflow-y: auto;
    padding-right: 3%;
  }
  
  .title{
    text-align: start;
    font-weight: bold;
  }
  
  h3{
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
  }
  
  .descriptionBtn{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    float: right;
    cursor: pointer;
  }
  
  img{
    width: 33.33%;
  }
  
  .imageSlider1 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes imageSlider-Animation {
    0% {left: 0%; opacity: 1;}
    16% {left: 0%; opacity: 1;}
    33% {left: -100%; opacity: 1;} 
    50% {left: -100%; opacity: 1;}
    67% {left: -200%; opacity: 1;} 
    83% {left: -200%; opacity: 1;}
    100% {left: 0%; opacity: 1;}
  }
  
  .imageSlider2 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes slide-animation {
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

/*------------------------------------------------------------------------------------*/

@media screen and (min-width:1300px) {
  .imageSlider1, .imageSlider2{
    padding: 5%;
  }

  .section1, .section2{
    width: 95%;
    height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 100%;
    max-height: 100vh;
    background-color: #F9DA76;
  }

  .text-section1, .text-section2{
    width: 50%;
  }
  
  .image-section1, .image-section2{
    width: 50%;
    overflow: hidden;
  }

  .section1{
    width: 95%;
    margin: 3% 0% 5% 5%;
    padding: 1% 0% 1% 1%;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateX(200%);
    opacity: 0;
    animation: slide-animation 2.5s ease-out forwards;
  }
  
  .section2{
    width: 95%;
    margin: 3% 5% 5% 0%;
    padding: 1% 1% 1% 0%;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-animation 2.5s ease-out forwards;
  }
  
  .sections{
    padding: 3%;
  }
  
  .description-text{
    height: 400px;
    overflow-y: auto;
    padding-right: 3%;
  }
  
  .title{
    text-align: start;
    font-weight: bold;
  }
  
  h3{
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
  }
  
  .descriptionBtn{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    float: right;
    cursor: pointer;
  }
  
  img{
    width: 33.33%;
  }
  
  .imageSlider1 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes imageSlider-Animation {
    0% {left: 0%; opacity: 1;}
    16% {left: 0%; opacity: 1;}
    33% {left: -100%; opacity: 1;} 
    50% {left: -100%; opacity: 1;}
    67% {left: -200%; opacity: 1;} 
    83% {left: -200%; opacity: 1;}
    100% {left: 0%; opacity: 1;}
  }
  
  .imageSlider2 figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s imageSlider-Animation infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes slide-animation {
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(199, 156, 107, 1); 
}