<div class="background">
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center">
    <div class="image text-center mt-5 mt-lg-3">
      <img class="img-fluid" width="350" src="../../../../assets/video-galary/video-upper_background.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-lg-5">
      <h2 class="font-weight-bold">नमस्ते शारदे देवी काश्मीरपुरवासिनि |</h2>
      <h2 class="font-weight-bold">त्वामहं प्रार्थये नित्यं विद्यादानं च देहि मे ॥</h2>
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold">વિડિઓ ગેલેરી</h1>
  </div>
</div>

<div class="d-flex flex-column flex-md-row justify-content-around align-items-center my-5 w-100">
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/amuCx_WfVHQ" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen="">
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">રાજપીપળા - આ મંદિરમાં રોજ બને છે ૪૫૦૦ શિવલિંગ</h6>
      </div>
    </div>
  </div>
  
  <div>
    <div class="image-container mt-3">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/9K_vMgQef78"
        width="100%" 
        height="300px" 
        frameborder="0"  
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">શ્રી શિવ મહાપુરાણ</h6>
      </div>
    </div>
  </div>
  
</div>