<div class="background">
  <div class="upper-background d-flex h-100 flex-column flex-sm-column flex-lg-row justify-content-around align-items-center pt-lg-5">
    <div class="image text-center mt-5 mt-lg-3">
      <img class="img-fluid" width="350" src="../../../../assets/video-galary/diya.svg" alt="">
    </div>
    <div class="other text-center text-light p-4 mt-lg-4">
      <h2 class="big-font font-weight-bold">शुभं करोति कल्याणम आरोग्यं धनसंपदा !</h2>
      <h2 class="big-font font-weight-bold">शत्रुबुद्धि विनाशाय दीपज्योति नमोस्तुते !!</h2>
      <h2 class="second-shlok big-font font-weight-bold">दीपज्योति: परब्रह्म दीपज्योति: जनार्दन !</h2>    
      <h2 class="big-font font-weight-bold">दीपो हरतु मे पापं संध्यादीप नमोस्तुते !!</h2>    
    </div>
  </div>
</div>

<div class="m-5 title-tag-div d-flex justify-content-center">
  <div class="text-div">
    <h1 class="font-weight-bold m-0 text-center">{{'video_title' | translate}}</h1>
  </div>
</div>


<div class="trust-grid d-flex flex-wrap justify-content-around my-5">

  <div class="card my-4 mx-4" [routerLink]="['/ati-rudra-shat-chandi-bhoomipoojan']">
    <img class="card-img-top" src="../../../../assets/video-galary/ati-rudra-l.jpg" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title m-0">{{'video_1_title' | translate}}</h2>
    </div>
  </div>

  <div class="card my-4 mx-4" [routerLink]="['/ati-rudra-shat-chandi']">
    <img class="card-img-top" src="../../../../assets/video-galary/ati-rudra-1-l.jpg" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title m-0">{{'video_2_title' | translate}}</h2>
    </div>
  </div>

  <div class="card my-4 mx-4" [routerLink]="['/samuh-yagnopavit']">
    <img class="card-img-top" src="../../../../assets/video-galary/Youtube thumbnail.png" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title m-0">{{'video_3_title' | translate}}</h2>
    </div>
  </div>

  <div class="card my-4 mx-4" [routerLink]="['/homatmak-maharudra']">
    <img class="card-img-top" src="../../../../assets/video-galary/homatmak-l.jpg" alt="Card image cap">
    <div class="text-center card-body">
      <h2 class="font-weight-bold card-title m-0">{{'video_4_title' | translate}}</h2>
    </div>
  </div>

</div>