<div class="background-image-div">
  <div class="text-div">
    <h1 class="text font-weight-bold">દર્શન</h1>
  </div>
</div>

<div class="row">

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/_Ccd8FQBsGU" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Mysterious secrets of Triambakeshwar Jyotirlinga</h6>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/wFSAUBLXHM8" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Ground Report After Two Years Celebrating Maha Shivaratri</h6>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/Fl-Xp-9stLY" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Trimbakeshwar Jyotirlinga, Trimbak, Maharashtra</h6>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/_Ccd8FQBsGU" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Mysterious secrets of Triambakeshwar Jyotirlinga</h6>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/wFSAUBLXHM8" 
        width="100%" 
        height="300px"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Ground Report After Two Years Celebrating Maha Shivaratri</h6>
      </div>
    </div>
  </div>
  
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <div class="image-container m-4 m-sm-4 m-md-3 m-lg-2 m-xl-2">
      <div class="image-div">
        <iframe src="https://www.youtube.com/embed/amuCx_WfVHQ"
        width="100%"
        height="300px"
        frameBorder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
        </iframe>
      </div>
      <div class="title-div">
        <h6 class="mb-0 mt-3">Nandikeshwar Mahadev Mandir near Rajpipla</h6>
      </div>
    </div>
  </div>
  
</div>