$bs-gutter-x: 1.5rem;
$bs-gutter-y: 0;
$light-blue : #C9C9FD;
$dark-blue : rgb(51, 51, 79);

.row {
    display: flex;
    flex-wrap: wrap;
    // margin-top: calc($bs-gutter-y * -1);
    // margin-right: calc($bs-gutter-x * -.5);
    // margin-left: calc($bs-gutter-x * -.5);
}

.title-tag-div{
  h1{
    background-color: $light-blue;
    color: $dark-blue;
    padding: 15px 25px;
    border-radius: 20px;
  }
}

h6 {
    font-size: 18px;
    line-height: 1.7;
    color: $dark-blue;
    font-weight: 600;
    text-align: center;
}

.background{
    background-color: black;
    min-height: 450px;
    background-size: cover;
}

@media (min-width: 0px) and (max-width: 767.98px){
  .background{
    .upper-background{
      .other{
        h2{
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px){
  .background{
    .upper-background{
      .other{
        h2{
          font-size: 35px;
        }
      }
    }
  }
}

.video-div{
    background-color: rgba($color: $dark-blue, $alpha: 0.3);
    padding: 10px;
    max-width: 400px;
    margin: 20px 20px;
    border-radius: 5px;
}

.sigma_broadcast-video{
    margin: 0 50px;
}

.title-div{
    background-color: $light-blue;
    padding: 10px;
    color: $dark-blue;
    h2{
      font-weight: bold;
    }
}

.image-container{
  background-color: $dark-blue;
  padding: 7px 7px 50px 7px;
  width: 550px;
}